{{/*
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{- $version := .File.TranslationBaseName }}
{{- if eq (strings.Count "." $version) 2 }}

{{- $major := index (split $version ".") 0 | int }}
{{- $minor := index (split $version ".") 1 | int }}
{{- $patch := index (split $version ".") 2 | int }}
{{- $majMin := "" }}
{{- if lt $patch 50 }}
{{- $majMin = print $major "." $minor }}
{{- else }}
{{- $majMin = print $major "." (add $minor 1) }}
{{- end }}

{{- with .Params.youtube }}
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{ . }}" allowfullscreen title="YouTube Video"></iframe>
</div>
{{- end }}

{{- with .Params.video }}
<div class="laptop-with-overlay d-block my-3 mx-auto" style="max-width: 800px">
  <img class="laptop img-fluid mt-3" src="/reusable-assets/laptop.svg" alt="empty laptop with an overlay">
  <div class="laptop-overlay">
    <video controls class="w-100 h-100 mt-3" poster="https://cdn.kde.org/promo/Announcements/Plasma/{{ $majMin }}/Thumbnail.png">
      <source src="https://cdn.kde.org/promo/Announcements/Plasma/{{ $majMin }}/Video.webm" type="video/webm">
      <source src="https://cdn.kde.org/promo/Announcements/Plasma/{{ $majMin }}/Video.mp4" type="video/mp4">
    </video>
  </div>
</div>
{{- end }}

{{- with .Params.peertube }}
<figure class="videoBlock">
  <iframe src="https://peertube.mastodon.host/videos/embed/{{ . }}?rel=0" width="560" height="315" allowfullscreen='true'></iframe>
</figure>
{{- end }}

{{- with .Params.figure }}
{{- $altMsgName := "" }}
{{- $capMsgName := "" }}
{{- if lt $patch 50 }}
{{- $altMsgName = "annc-plasma-alt" }}
{{- $capMsgName = "annc-plasma-caption" }}
{{- else }}
{{- $altMsgName = "annc-plasma-beta-alt" }}
{{- $capMsgName = "annc-plasma-beta-caption" }}
{{- end }}
<figure class="{{ .class | default "text-center" }}">
  <img src="{{ .src }}" alt="{{ .alt | default (partial "fn/i18n_args" (slice $altMsgName $majMin)) }}" width="600px" />
  <figcaption>
    <p>{{- .caption | default (partial "fn/i18n_args" (slice $capMsgName $majMin)) | markdownify }}</p>
  </figcaption>
</figure>
{{- end }}

{{- if .Params.asBugfix }}
{{- $firstMinor := .Sites.First.GetPage (printf "/announcements/plasma/%d/%d.%d.0.md" $major $major $minor) }}
{{- $minorY := $firstMinor.Params.date.Year }}
{{- $minorM := $firstMinor.Params.date.Month }}

{{- $minorReleaseMsg := printf "annc-plasma-bugfix-minor-release-%d" $minorM }}
{{- $link := printf "/announcements/plasma/%d/%s.0" $major $majMin }}
{{- $minorReleaseMsg = partial "fn/i18n_args" (slice $minorReleaseMsg $majMin $link $minorY) }}
{{- $worthMsgName := printf "annc-plasma-bugfix-worth-%d" $patch }}

<p>{{ partial "i18n_date.html" . }}{{ i18n "period" }}{{ partial "fn/i18n_args" (slice "annc-plasma-bugfix-intro" $major $version) }}</p>
<p>{{ $minorReleaseMsg | markdownify }}</p>
<p>{{ i18n $worthMsgName }} {{ i18n "annc-plasma-bugfix-last" }}</p>
{{- end }}

{{- end }}
