// SPDX-FileCopyrightText: 2023 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: AGPL-3.0-or-later

#main {
  padding-top: 5px;
  background-color: #001725;
  @media (prefers-color-scheme: dark) {
    h1, h2:not(.tools-title), h3, h4 {
      color: white !important;
    }
  }
  color: white;
  a:not(.btn):not(.dark-card) {
    color: #afdfff;
    text-decoration: underline;
  }
  .swiper-slide a:not(.btn):not(.dark-card) {
    color: white;
    font-size: 1.25rem;
    text-decoration: none !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .h5 {
    opacity: 0.8;
  }

  .text-small p {
    max-width: 900px;
  }
  .text-center p{
    margin-left: auto;
    margin-right: auto;
  }
  .ratio-video {
    --bs-aspect-ratio: calc(4 / 16 * 100%);
  }

  .backdrop-blur {
    backdrop-filter: blur(20px);
  }
  h1 {
    font-weight: bold;
    margin-top: 10rem;
  }
  h2 {
    font-weight: bold;
  }
  h3 {
    font-weight: bold;
  }
  @media (max-width: 800px) {
    .btn-lg {
       font-size: 1rem;
    }
  }

  blockquote {
    font-family: inherit;
  }

  &:after {
    padding-bottom: 0;
  }
}

#features-hero {
  height: 20rem;
  @media (min-width: 600px) {
    height: 30rem;
  }
  @media (min-width: 800px) {
    height: 40rem;
  }
  @media (min-width: 1200px) {
    height: 50rem;
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  p, h2 {
    color: black !important;
    a {
      color: #01538a !important;
    }
  }
  @media (max-width: 1175px) {
    p, h2 {
      color: black !important;
    }
  }
  @media (max-width: 768px) {
    p, h2 {
      text-align: right;
    }
  }
}

.slim-background {
  height: 6em;
  @media (min-width: 600px) {
    height: 11em;
  }
  font-size: 1.0em;
  background: linear-gradient(to bottom, #001725 0%,#01194d 100%);
  clip-path: url("#slim-header-clip");
  position: absolute;
  top: 0;
  width: 100%;
}

.header-background {
  clip-path: url("#header-decoration-clip");
  height: 4em;
  margin-top: 2em;
  @media (min-width: 600px) {
    height: 9em;
    margin-top: 4em;
  }
  font-size: 1.0em;
  background: linear-gradient(to bottom, #39a3f2 1%,#0078f9 100%);
  position: absolute;
  top: 0;
  width: 100%;
}

a.dark-card {
  height: 100%;
  padding: 1rem;
  &:hover {
    box-shadow: 7px 5px 36px -4px #000000 !important;
  }
  border-radius: 1rem;
  color: white;
  text-decoration: none !important;
  p {
    margin: 0;
    min-height: 64px;
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  img {
    width: 64px;
    align-self: start;
  }
}
