{{ define "main" }}
<div class="hero develop" style="padding: 20px; height: auto;">
  <div class="container" style="background-color: #333; padding: 40px; text-align: center;">
    <h1 style="color: #EEE; font-size: 22px; font-weight: bold;">Develop Convergent Apps with Kirigami</h1>
    <p style="color: #CCC; padding: 10px; max-width: 500px; margin: 0px auto;">Kirigami is a new, convergent, responsive, elegant, and open cross-platform toolkit using QML.</p>
    <a href="https://www.kde.org/products/kirigami/">Learn more</a>
  </div>
</div>

<main class="container" id="community-lists">
  <div class="row mb-3">
    <section class="col-md d-flex flex-column">
      <h3>TechBase Wiki</h3>
      <p>The KDE TechBase is primarily aimed at external developers. 
      You can find documentation to help to build or extend 
      your own projects with KDE software.
      </p>
      <a href="https://techbase.kde.org/" class="learn-more button expand mt-auto">Visit TechBase</a>
    </section>

    <section class="col-md d-flex flex-column">
      <h3>API Documentation</h3>
      <p>
        Documentation for various KDE frameworks and tools for developers,
        great for both external 3rd-party developers and KDE contributors.
      </p>
      <a href="https://api.kde.org/" class="learn-more button expand mt-auto">Visit API Docs</a>
    </section>

    <section class="col-md d-flex flex-column">
      <h3>Qt Documentation</h3>
      <p>
        KDE technology heavily depends on and contributes to Qt. If you
        are not experienced in Qt you should first examine Qt documentaiton.
      </p>
      <a href="https://www.qt.io" class="learn-more button expand mt-auto" target="_blank">View Qt Documentation</a>
    </section>
  </div>

  <h2 style="margin-bottom: -20px;">Contributors Zone</h2>

  <div class="row" style="border-bottom: solid 1px #EEE; padding-bottom: 20px;">
    <section class="col-md d-flex flex-column">
      <h3>Plasma and Theme Development</h3>
      <p>
          Plasma is made to be flexible; learn how to develop widgets, themes and other enhancements to your workspace.
      </p>
      <a href="https://techbase.kde.org/Special:MyLanguage/Development/Tutorials/Plasma5" class="learn-more button mt-auto">View Documentation</a>
    </section>

    <section class="col-md d-flex flex-column">
      <h3>Contributor Accounts</h3>
      <p>
          How to get an account to contribute to the KDE.
      </p>
      <a href="https://community.kde.org/Infrastructure/Get_a_Developer_Account" class="learn-more button mt-auto">Information on Contributor Accounts</a>
    </section>

    <section class="col-md d-flex flex-column">
      <h3>Phabricator</h3>
      <p>
        Phabricator is the new way to review, manage, and work with
        KDE projects.
      </p>
      <a href="https://phabricator.kde.org/" class="learn-more button mt-auto">Visit Phabricator</a>
    </section>
  </div>
</main>
{{ end }}
