
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/attica-5.116.0.tar.xz">attica-5.116.0</a></td>
   <td align="right">67kB</td>
   <td><tt>f62585ee87b33a644a0df8ab903e1503ed12e374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/baloo-5.116.0.tar.xz">baloo-5.116.0</a></td>
   <td align="right">304kB</td>
   <td><tt>e1ccce7bb63a1db334de65c787ae1d0229b782fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/bluez-qt-5.116.0.tar.xz">bluez-qt-5.116.0</a></td>
   <td align="right">112kB</td>
   <td><tt>b3922f0efc281f47d524eb32eaa2c6878863c9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/breeze-icons-5.116.0.tar.xz">breeze-icons-5.116.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b6968cf202123581bf8d2b5417bfda158940e6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/extra-cmake-modules-5.116.0.tar.xz">extra-cmake-modules-5.116.0</a></td>
   <td align="right">324kB</td>
   <td><tt>f7572e7c8c89d51cb1320f885ded4a7ebe79d470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/frameworkintegration-5.116.0.tar.xz">frameworkintegration-5.116.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3ce4d34b1f798979153054ec6b1eb2b054d8895d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kactivities-5.116.0.tar.xz">kactivities-5.116.0</a></td>
   <td align="right">71kB</td>
   <td><tt>80fd65decb5b203712c103308d6af01ae70e6c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kactivities-stats-5.116.0.tar.xz">kactivities-stats-5.116.0</a></td>
   <td align="right">82kB</td>
   <td><tt>86c16411b2badcfc0d5bbf846b29fad42df926a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kapidox-5.116.0.tar.xz">kapidox-5.116.0</a></td>
   <td align="right">194kB</td>
   <td><tt>30a25991cb104170f0065a915454ceb85f0316bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/karchive-5.116.0.tar.xz">karchive-5.116.0</a></td>
   <td align="right">1003kB</td>
   <td><tt>7733a73d8376d9e9b4be0afbe9c188aa4d87085b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kauth-5.116.0.tar.xz">kauth-5.116.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>95b444c4bbc9b819caeddbec88647b1fc59d8668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kbookmarks-5.116.0.tar.xz">kbookmarks-5.116.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ede9936dbf3f078343702ca6fdb6e530da3f1f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kcalendarcore-5.116.0.tar.xz">kcalendarcore-5.116.0</a></td>
   <td align="right">262kB</td>
   <td><tt>04ccac5117ba14c945356f3fa3b04909497d1370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kcmutils-5.116.0.tar.xz">kcmutils-5.116.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4b1a59794ff26d8e89c6f8126fe4c7a85f864040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kcodecs-5.116.0.tar.xz">kcodecs-5.116.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>948165ec7e23dc7ecc046416e6777350bdc60cb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kcompletion-5.116.0.tar.xz">kcompletion-5.116.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6d5ece6c3a67a2d41e086fb853199dd5b85b9041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kconfig-5.116.0.tar.xz">kconfig-5.116.0</a></td>
   <td align="right">289kB</td>
   <td><tt>2316ba6152f8fc3420a5b699a6c1e7054e7583f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kconfigwidgets-5.116.0.tar.xz">kconfigwidgets-5.116.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>fc11657ea4628d7d36b1f462949166de143cb0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kcontacts-5.116.0.tar.xz">kcontacts-5.116.0</a></td>
   <td align="right">209kB</td>
   <td><tt>8251968ffecc53ff59cc90f5f5aa25f2e64799ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kcoreaddons-5.116.0.tar.xz">kcoreaddons-5.116.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a3b23a8f6592239cbf16f75f887147ab29a6d6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kcrash-5.116.0.tar.xz">kcrash-5.116.0</a></td>
   <td align="right">27kB</td>
   <td><tt>8cf2e6dcc8a473271ed4aa53b8ca9a558f7ea315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kdav-5.116.0.tar.xz">kdav-5.116.0</a></td>
   <td align="right">64kB</td>
   <td><tt>e4241c848504cdffffcc86c8d6cbbf4ad287eb18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kdbusaddons-5.116.0.tar.xz">kdbusaddons-5.116.0</a></td>
   <td align="right">47kB</td>
   <td><tt>4a9b0bbaf0a2c7b672787cf9a97cebbfc8f079cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kdeclarative-5.116.0.tar.xz">kdeclarative-5.116.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8ee837c0c5770ca528845de962b7bfc3461de6b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kded-5.116.0.tar.xz">kded-5.116.0</a></td>
   <td align="right">40kB</td>
   <td><tt>ab2765d6c6b605fed81a61b285e7426d8d0bf9b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kdesu-5.116.0.tar.xz">kdesu-5.116.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ce528f19d7698fb257d04e582933e51022bbabcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kdnssd-5.116.0.tar.xz">kdnssd-5.116.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7e5c0ed09ac2f66d7faee1f1624a610027801143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kdoctools-5.116.0.tar.xz">kdoctools-5.116.0</a></td>
   <td align="right">454kB</td>
   <td><tt>2f07c7d29ff68c920086f2df5e1b7813530f8640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kemoticons-5.116.0.tar.xz">kemoticons-5.116.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>797318956ead555ede07190959ff16ccafa3862a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kfilemetadata-5.116.0.tar.xz">kfilemetadata-5.116.0</a></td>
   <td align="right">514kB</td>
   <td><tt>d88a53ee7f82f81cec186649b9d91c86fe80107a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kglobalaccel-5.116.0.tar.xz">kglobalaccel-5.116.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d899d51b2e21643368ee6980edb41d4175c74d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kguiaddons-5.116.0.tar.xz">kguiaddons-5.116.0</a></td>
   <td align="right">76kB</td>
   <td><tt>45352e453a82713117266b7d8bdbf52c4dddda40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kholidays-5.116.0.tar.xz">kholidays-5.116.0</a></td>
   <td align="right">250kB</td>
   <td><tt>e73f19f047f649b24f56d6c78946b8f7f7e5842c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/ki18n-5.116.0.tar.xz">ki18n-5.116.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>38190bdfe5f278899d32fc770f72b60d8824329a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kiconthemes-5.116.0.tar.xz">kiconthemes-5.116.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a2566f7adea0237c40fbbde1cd7f8a173f23e158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kidletime-5.116.0.tar.xz">kidletime-5.116.0</a></td>
   <td align="right">30kB</td>
   <td><tt>4448d559cce872563d0cc7e6f224bcb02746eb88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kimageformats-5.116.0.tar.xz">kimageformats-5.116.0</a></td>
   <td align="right">15MB</td>
   <td><tt>7a6b513efb3f25a6b319a33db021a0f4e9b43e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kinit-5.116.0.tar.xz">kinit-5.116.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ceb491ae6c08609bd23374007d71e8075cf0d7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kio-5.116.0.tar.xz">kio-5.116.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>e2f71fef63deec6ffe9068efeee75a355fcc1475</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kirigami2-5.116.0.tar.xz">kirigami2-5.116.0</a></td>
   <td align="right">374kB</td>
   <td><tt>959b6c872fb732651c5d6c99e6eda19d091137ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kitemmodels-5.116.0.tar.xz">kitemmodels-5.116.0</a></td>
   <td align="right">397kB</td>
   <td><tt>263635d82415477f5517a013cf6ab854dd013cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kitemviews-5.116.0.tar.xz">kitemviews-5.116.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>058c0d33c3664bf837402388f376e44b1d49bd04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kjobwidgets-5.116.0.tar.xz">kjobwidgets-5.116.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5c5ee4a97193a2f4c7afbc645692ac0884b54839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/knewstuff-5.116.0.tar.xz">knewstuff-5.116.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>28d5227a09528678b6f08d15ba5ba7360813e9b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/knotifications-5.116.0.tar.xz">knotifications-5.116.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c59b9a273f1b18d1fc10910579324197916c2ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/knotifyconfig-5.116.0.tar.xz">knotifyconfig-5.116.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>66deb20af9e136f807610e2f07646c072003511f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kpackage-5.116.0.tar.xz">kpackage-5.116.0</a></td>
   <td align="right">184kB</td>
   <td><tt>05cc3fff5651729c30adca47fab2721bfdc41776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kparts-5.116.0.tar.xz">kparts-5.116.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>10e92032d80ecab47a49759af4d1b18292d53a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kpeople-5.116.0.tar.xz">kpeople-5.116.0</a></td>
   <td align="right">61kB</td>
   <td><tt>1eae270774464dfa7ea4f4a036c9157a0f098fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kplotting-5.116.0.tar.xz">kplotting-5.116.0</a></td>
   <td align="right">32kB</td>
   <td><tt>d7517a2dc74cc53c032c530592821948495a841a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kpty-5.116.0.tar.xz">kpty-5.116.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4f6c214b5e9cca7792332234466613a073815126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kquickcharts-5.116.0.tar.xz">kquickcharts-5.116.0</a></td>
   <td align="right">110kB</td>
   <td><tt>b60574e4b395c78da135bd877e92180d62d456f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/krunner-5.116.0.tar.xz">krunner-5.116.0</a></td>
   <td align="right">86kB</td>
   <td><tt>ea44085ee0b24d19326f7e01965787286203fdc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kservice-5.116.0.tar.xz">kservice-5.116.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>490fa4eefcb4e484adadac270b48c405e17867b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/ktexteditor-5.116.0.tar.xz">ktexteditor-5.116.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>59fe901cececf7f40eaa6e78753cb6f986a558be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/ktextwidgets-5.116.0.tar.xz">ktextwidgets-5.116.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>439f55e4453686ac23da53748fd31dd64bc6c8bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kunitconversion-5.116.0.tar.xz">kunitconversion-5.116.0</a></td>
   <td align="right">913kB</td>
   <td><tt>758355c9901102138ccaa8d9314f37149393c687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kwallet-5.116.0.tar.xz">kwallet-5.116.0</a></td>
   <td align="right">345kB</td>
   <td><tt>397eab04ad687b7d30a3612106f3652acc43b4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kwayland-5.116.0.tar.xz">kwayland-5.116.0</a></td>
   <td align="right">329kB</td>
   <td><tt>c0a10ea444cae3ba74d1795682a6053e8149d3e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kwidgetsaddons-5.116.0.tar.xz">kwidgetsaddons-5.116.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>d760ba61b6601aa3d44a07e28662bda16792d40e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kwindowsystem-5.116.0.tar.xz">kwindowsystem-5.116.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>94cad4cf0ef8047a3f94f60392e18fc2f815b5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/kxmlgui-5.116.0.tar.xz">kxmlgui-5.116.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7d39a4525f03f1d1d16b6669a98246a756a5ccbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/modemmanager-qt-5.116.0.tar.xz">modemmanager-qt-5.116.0</a></td>
   <td align="right">118kB</td>
   <td><tt>759f9325301b4825be389dd7b47a4f31944710ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/networkmanager-qt-5.116.0.tar.xz">networkmanager-qt-5.116.0</a></td>
   <td align="right">194kB</td>
   <td><tt>89726a409e1c35f1960fb116bbc26d8634fd4008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/oxygen-icons-5.116.0.tar.xz">oxygen-icons-5.116.0</a></td>
   <td align="right">227MB</td>
   <td><tt>a8fbc4dcd87d8d907e0238ebe4e884193a6de103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/plasma-framework-5.116.0.tar.xz">plasma-framework-5.116.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>9a44eaa9968ebec6d1bdf18f81157ee83cbe7559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/prison-5.116.0.tar.xz">prison-5.116.0</a></td>
   <td align="right">53kB</td>
   <td><tt>b0ce4ea54d6a2b43e1dc8949de8fbde72061b310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/purpose-5.116.0.tar.xz">purpose-5.116.0</a></td>
   <td align="right">176kB</td>
   <td><tt>c20bfe14305eab7cd50617c2b9729ec17e6c4927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/qqc2-desktop-style-5.116.0.tar.xz">qqc2-desktop-style-5.116.0</a></td>
   <td align="right">71kB</td>
   <td><tt>9cd8fde2574fe84a0a12cbd2ec76ea989139140a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/solid-5.116.0.tar.xz">solid-5.116.0</a></td>
   <td align="right">300kB</td>
   <td><tt>03a0ba215ef6c31501b74fd7f67062db698d62aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/sonnet-5.116.0.tar.xz">sonnet-5.116.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>261ee7fab67b88240e7ef83bbbda5901c0a697fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/syndication-5.116.0.tar.xz">syndication-5.116.0</a></td>
   <td align="right">498kB</td>
   <td><tt>dfe63a100f283995bfbdef07784ce528ea3ab9b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/syntax-highlighting-5.116.0.tar.xz">syntax-highlighting-5.116.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e88256ac1bf2eef6829cfe79aff646cfcee00bb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.116/threadweaver-5.116.0.tar.xz">threadweaver-5.116.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ccfb81a415af024ab2a0932c5b66fbf04d821f9c</tt></td>
</tr>

</table>
