<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/bluedevil-6.0.4.tar.xz">bluedevil-6.0.4</a></td>
   <td align="right">360kB</td>
   <td><tt>8c5616df3feb23c0b663beda3af09a62f6673db0ffe8ac8b38988b34d50f7e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/breeze-6.0.4.tar.xz">breeze-6.0.4</a></td>
   <td align="right">55MB</td>
   <td><tt>911979889191395c333219e09090208c658f943b9953e420fc629242fd5e5c76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/breeze-grub-6.0.4.tar.xz">breeze-grub-6.0.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9590cb4a3f0680218c424ae1774b80366390d0cc64b6af86ebe72e02a3dddf50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/breeze-gtk-6.0.4.1.tar.xz">breeze-gtk-6.0.4.1</a></td>
   <td align="right">39kB</td>
   <td><tt>4078e5c140d6a01ab6591833f9b342dab4dff2b5321d85c94d7d4a2d24fa8b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/breeze-plymouth-6.0.4.1.tar.xz">breeze-plymouth-6.0.4.1</a></td>
   <td align="right">108kB</td>
   <td><tt>f7366938eceeda428f632a2adadaca045846cc5ecd6fe2c15d9fb424cf63fe4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/discover-6.0.4.tar.xz">discover-6.0.4</a></td>
   <td align="right">976kB</td>
   <td><tt>a056b0db89762e17cf4743f5a1abe4656850db2d5527bc732cf6180dc8d51aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/drkonqi-6.0.4.tar.xz">drkonqi-6.0.4</a></td>
   <td align="right">852kB</td>
   <td><tt>e0ee7aeebcc518808d4e27f19afe959eecef2d54a6d0c876de74b19365ec3710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/flatpak-kcm-6.0.4.tar.xz">flatpak-kcm-6.0.4</a></td>
   <td align="right">233kB</td>
   <td><tt>39c5a1cbbb12baca8014b72c70df01647cabb62c7d04c26fcea11f891489584d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kactivitymanagerd-6.0.4.tar.xz">kactivitymanagerd-6.0.4</a></td>
   <td align="right">107kB</td>
   <td><tt>2ccd6a04677322adfaa011130179d4efdd3708422b798c4fe3e664f49a33ac2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kde-cli-tools-6.0.4.tar.xz">kde-cli-tools-6.0.4</a></td>
   <td align="right">613kB</td>
   <td><tt>39d6e93ee2e274d3a4b878d46b761be7cb338ee261325f326ce291a0ec95ae6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kdecoration-6.0.4.tar.xz">kdecoration-6.0.4</a></td>
   <td align="right">53kB</td>
   <td><tt>0fe53f1632f3fa86bc4d3e843efc9216b2a257020a7e55ab579f56b9e45bd57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kde-gtk-config-6.0.4.tar.xz">kde-gtk-config-6.0.4</a></td>
   <td align="right">76kB</td>
   <td><tt>fd5491c2b0e887dc204e1661ac7f364f2c0965085ce4f50fa22857e0ed285dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kdeplasma-addons-6.0.4.tar.xz">kdeplasma-addons-6.0.4</a></td>
   <td align="right">842kB</td>
   <td><tt>6d2d6df4775ba6939b43b438d7de9ab1fc611a212a7eedf470de4d56986b3b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kgamma-6.0.4.tar.xz">kgamma-6.0.4</a></td>
   <td align="right">84kB</td>
   <td><tt>3445e1dadacad806ad20fc008b74da808f3972d18bb2bcbefb46e64e708ebea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kglobalacceld-6.0.4.tar.xz">kglobalacceld-6.0.4</a></td>
   <td align="right">51kB</td>
   <td><tt>9147bf272c2f8d4e3653e4b518a176a3612760e45e60785bcf87e8d3dc9b85d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kinfocenter-6.0.4.tar.xz">kinfocenter-6.0.4</a></td>
   <td align="right">811kB</td>
   <td><tt>5af1ab7fd5c54f95221537bd4ee913dfa067ddff3a1cb4b5d486de539a48268e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kmenuedit-6.0.4.tar.xz">kmenuedit-6.0.4</a></td>
   <td align="right">908kB</td>
   <td><tt>2d45c151baf0408fbb9d76e158bab1b85c53995af319336e4244b87b5fd6e5c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kpipewire-6.0.4.tar.xz">kpipewire-6.0.4</a></td>
   <td align="right">141kB</td>
   <td><tt>a17442fb4f719f154de10158b9da0791a9a4b7da2d0b6f82303fb3b7a2f46836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kscreen-6.0.4.tar.xz">kscreen-6.0.4</a></td>
   <td align="right">197kB</td>
   <td><tt>68d03d8bb285bd59396c6417ef49bf0051874f8de256a8baac6af24f8dcf8000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kscreenlocker-6.0.4.tar.xz">kscreenlocker-6.0.4</a></td>
   <td align="right">160kB</td>
   <td><tt>3c18a86d260df081dc2cbcebaa2c5c851a9c957719c5e12d43004fc7c32debd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/ksshaskpass-6.0.4.tar.xz">ksshaskpass-6.0.4</a></td>
   <td align="right">28kB</td>
   <td><tt>ead64f122a324f317a5800710596cfe3239f88f98ae47b8497cddaf0aefb3446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/ksystemstats-6.0.4.tar.xz">ksystemstats-6.0.4</a></td>
   <td align="right">121kB</td>
   <td><tt>a4a1a20a32ee7b4b03d4f9b4a3c01c45c85bead6dc1321b6836d2e7713b387fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kwallet-pam-6.0.4.tar.xz">kwallet-pam-6.0.4</a></td>
   <td align="right">22kB</td>
   <td><tt>806a8bd0da1c79b7001e2ccf0f5222b64df19ffb960f2db89b11e4f4d5a9a981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kwayland-6.0.4.tar.xz">kwayland-6.0.4</a></td>
   <td align="right">130kB</td>
   <td><tt>42432e2644c4b997854e9ff48fa7fae5f6cc5117a96f23c60b5b1cf2b82be77a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kwayland-integration-6.0.4.tar.xz">kwayland-integration-6.0.4</a></td>
   <td align="right">25kB</td>
   <td><tt>e203dbd2060fa0f9343136f763a955f3da10a4ea465045bca1f30487b09e15ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kwin-6.0.4.1.tar.xz">kwin-6.0.4.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>56ffb37fa36e10f058ec5499c6858f6b21105b56ac7d70407921f063bc4bcb36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/kwrited-6.0.4.tar.xz">kwrited-6.0.4</a></td>
   <td align="right">23kB</td>
   <td><tt>898029fbf195c170d9e5e143628d6d228819300f92019eab3c138042d31f153a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/layer-shell-qt-6.0.4.tar.xz">layer-shell-qt-6.0.4</a></td>
   <td align="right">20kB</td>
   <td><tt>432c8866307ce1ba14c3cfda5ac7976fe5e09e45a4fa0b35cc96e467e94b0626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/libkscreen-6.0.4.tar.xz">libkscreen-6.0.4</a></td>
   <td align="right">115kB</td>
   <td><tt>406928da2b03f25e6ab7c8e4405e8fb67e126078919d8286fa47f3689fb5ab57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/libksysguard-6.0.4.tar.xz">libksysguard-6.0.4</a></td>
   <td align="right">286kB</td>
   <td><tt>566ac2f0603012892b2291aa6d4663b06ea654c3db366f65a59e32503bfa8dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/libplasma-6.0.4.tar.xz">libplasma-6.0.4</a></td>
   <td align="right">2.0MB</td>
   <td><tt>61c2c148456cb97c7c104711b56cff010bfe5785c3f10c5b65ac804a3346fd74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/milou-6.0.4.tar.xz">milou-6.0.4</a></td>
   <td align="right">48kB</td>
   <td><tt>1c8c3e0449e10dc7c77cf905eaa6c7e04de6036bbb84629b22a13adc423ce1ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/ocean-sound-theme-6.0.4.tar.xz">ocean-sound-theme-6.0.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3a099736015bf76824fea68604424d0accaf56840687c18676cf600273a40999</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/oxygen-6.0.4.tar.xz">oxygen-6.0.4</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9150e00989a72cff35bb46c5ac9af25cabcee4cc18299c8be707bee84c5e546f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/oxygen-sounds-6.0.4.tar.xz">oxygen-sounds-6.0.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e29fbe85304132aaeb9d65419e2e70f43c8def0ce4707819509d7540191ca319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma5support-6.0.4.tar.xz">plasma5support-6.0.4</a></td>
   <td align="right">54kB</td>
   <td><tt>51351faec6931b4696178bd49d9e60bc9de2c3f3d10ff0ab3854ae3d902975a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-activities-6.0.4.tar.xz">plasma-activities-6.0.4</a></td>
   <td align="right">69kB</td>
   <td><tt>c838c3a719196ba06ed3d718b3f4df8414e27c847e206fcaa3105959be79df6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-activities-stats-6.0.4.tar.xz">plasma-activities-stats-6.0.4</a></td>
   <td align="right">81kB</td>
   <td><tt>86ce63674fd5c355ad13a275526bea774a4a8c619f3231a0ead8565591b3ef0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-browser-integration-6.0.4.tar.xz">plasma-browser-integration-6.0.4</a></td>
   <td align="right">214kB</td>
   <td><tt>2c1034ff8439e833044bc70025ce42d9e949e0ea4983ea1f41cdf42d18a02b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-desktop-6.0.4.tar.xz">plasma-desktop-6.0.4</a></td>
   <td align="right">14MB</td>
   <td><tt>862152ae971e7d2e4dc07cc5f830ef121319e16f8e8299d407494e730cfdc5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-disks-6.0.4.tar.xz">plasma-disks-6.0.4</a></td>
   <td align="right">97kB</td>
   <td><tt>fd2f5d2303c3146eca2ef07514f2d02000a37ed899a1f9d17ff0367f87cd4fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-firewall-6.0.4.tar.xz">plasma-firewall-6.0.4</a></td>
   <td align="right">359kB</td>
   <td><tt>bd2f17ee45a5cf708e3172863e67177d946da9b124ae10fb625f8d3ef01243ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-integration-6.0.4.tar.xz">plasma-integration-6.0.4</a></td>
   <td align="right">90kB</td>
   <td><tt>eef5c21ee43eefa1034126a45d2b34da967af81cf921a9c2a4314a4fb2738913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-mobile-6.0.4.tar.xz">plasma-mobile-6.0.4</a></td>
   <td align="right">3.6MB</td>
   <td><tt>5d714a7cb594e47eabed9ddc7aa75f2467d0d302d91b66b94966ab8cc9c49afc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-nano-6.0.4.tar.xz">plasma-nano-6.0.4</a></td>
   <td align="right">75kB</td>
   <td><tt>594cb50b80953dbec3d77e51be66fbeb9832d03ef9e78dc92ca4747bfb016f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-nm-6.0.4.tar.xz">plasma-nm-6.0.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>64519d9d05fcb4f85c7b9c4708cc6f510e28fdc272b6d0e2a7a1efc03888c6df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-pa-6.0.4.tar.xz">plasma-pa-6.0.4</a></td>
   <td align="right">166kB</td>
   <td><tt>329ad1c326798459beab145eced43e6ee962378d95299c1a64f5a929eabda601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-sdk-6.0.4.tar.xz">plasma-sdk-6.0.4</a></td>
   <td align="right">318kB</td>
   <td><tt>6ba2ce4bd40b7554ef32ec37543fb6268cc3cb1f160d999f4cf0968dfd55b1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-systemmonitor-6.0.4.tar.xz">plasma-systemmonitor-6.0.4</a></td>
   <td align="right">177kB</td>
   <td><tt>acf5860a15d73b7727ddc69c271fe4dc56c2704dacf3a02e2c7b545689fce245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-thunderbolt-6.0.4.tar.xz">plasma-thunderbolt-6.0.4</a></td>
   <td align="right">73kB</td>
   <td><tt>5a9713769db40f94fd8a0ab5d08e5eaa190768df16dfe848b391a34831d8661e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-vault-6.0.4.tar.xz">plasma-vault-6.0.4</a></td>
   <td align="right">188kB</td>
   <td><tt>b797b59329c02509f58bd0fa978cc444fded676a37d36c9e4f5c5c6f1ec90cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-welcome-6.0.4.tar.xz">plasma-welcome-6.0.4</a></td>
   <td align="right">886kB</td>
   <td><tt>6bca8749d75cba353e45842e6287d1922dcd18ced4b8ad386858570bbe9c1852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-workspace-6.0.4.tar.xz">plasma-workspace-6.0.4</a></td>
   <td align="right">19MB</td>
   <td><tt>7f2c2871c966e66d5de2d63bcb1a554fe00b4da6bde93f69700bd1b1f60dc567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plasma-workspace-wallpapers-6.0.4.tar.xz">plasma-workspace-wallpapers-6.0.4</a></td>
   <td align="right">104MB</td>
   <td><tt>c8b30887936475de7f0c5ce0806fe02ade5594cf93c1cde9cdb72fbfb2766f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/plymouth-kcm-6.0.4.tar.xz">plymouth-kcm-6.0.4</a></td>
   <td align="right">45kB</td>
   <td><tt>502ebbbb88e8088c609c1cb5e0777a110e864b2553bc1d6a33a3c48dd31568de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/polkit-kde-agent-1-6.0.4.tar.xz">polkit-kde-agent-1-6.0.4</a></td>
   <td align="right">55kB</td>
   <td><tt>e0fcbb8a1cfab8be69b2713b2105b0235137381f1fdb6d465c3978e6b8626b24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/powerdevil-6.0.4.tar.xz">powerdevil-6.0.4</a></td>
   <td align="right">777kB</td>
   <td><tt>1773b62181909831d24c9141a3fdd8e96a09cf08bd435a9d9a8605946b0f2559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/print-manager-6.0.4.tar.xz">print-manager-6.0.4</a></td>
   <td align="right">332kB</td>
   <td><tt>40926cacb65c90c49dd4758f57b606ba571f49ea66ff42c031c69fdbe7221c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/qqc2-breeze-style-6.0.4.tar.xz">qqc2-breeze-style-6.0.4</a></td>
   <td align="right">64kB</td>
   <td><tt>e1d0f956a6a3cc4a861d1b3d21ef49a1e1183065c835ab53768d9f7a2ffb912c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/sddm-kcm-6.0.4.tar.xz">sddm-kcm-6.0.4</a></td>
   <td align="right">95kB</td>
   <td><tt>2795a0d47a8d7586600274b9dc656e5e8d1f8d637e502cc48cc8bc28d33d3d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/systemsettings-6.0.4.tar.xz">systemsettings-6.0.4</a></td>
   <td align="right">213kB</td>
   <td><tt>18c8016230083d8f2ec98d33c0157756060c5a136e8995769dbf7ef326c402ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/wacomtablet-6.0.4.tar.xz">wacomtablet-6.0.4</a></td>
   <td align="right">805kB</td>
   <td><tt>86cc6dc6eafbfd48448ad0568206357d5ca82dbf9c1473b3d1507c8778ad958e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.4/xdg-desktop-portal-kde-6.0.4.tar.xz">xdg-desktop-portal-kde-6.0.4</a></td>
   <td align="right">159kB</td>
   <td><tt>91e55a794f00fdb75305ed05f72a1ce310e228b115886f72471473c9c7c88960</tt></td>
</tr>

</table>
