<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/attica-5.1.0.tar.xz">attica-5.1.0</a></td>
   <td align="right">58kB</td>
   <td><tt>1f5678bf53af9f473d588743ce26e694a48df97c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/extra-cmake-modules-1.1.0.tar.xz">extra-cmake-modules-1.1.0</a></td>
   <td align="right">114kB</td>
   <td><tt>feedab4acb7e340db72070341328ac57464bfd00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/frameworkintegration-5.1.0.tar.xz">frameworkintegration-5.1.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b5363ea7ac580821db9d48f3e93bfcb25381c125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kactivities-5.1.0.tar.xz">kactivities-5.1.0</a></td>
   <td align="right">112kB</td>
   <td><tt>8cd998c280693a6b603dba6528e5e89e554ec24f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kapidox-5.1.0.tar.xz">kapidox-5.1.0</a></td>
   <td align="right">124kB</td>
   <td><tt>a382f7c46f9fc0059dfd449ee546b50a06788814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/karchive-5.1.0.tar.xz">karchive-5.1.0</a></td>
   <td align="right">103kB</td>
   <td><tt>597d2f61ee1c8c569092481bc99b534b8f79ba86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kauth-5.1.0.tar.xz">kauth-5.1.0</a></td>
   <td align="right">77kB</td>
   <td><tt>85c9ed7eea519e189f33865c7bfe5efdfdfebe2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kbookmarks-5.1.0.tar.xz">kbookmarks-5.1.0</a></td>
   <td align="right">110kB</td>
   <td><tt>14c541913e1647ad3934aa10006924d6f1ef873d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kcmutils-5.1.0.tar.xz">kcmutils-5.1.0</a></td>
   <td align="right">224kB</td>
   <td><tt>e88f9285340a68bf00f5a51bd581cd5fc620ab57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kcodecs-5.1.0.tar.xz">kcodecs-5.1.0</a></td>
   <td align="right">169kB</td>
   <td><tt>2a2cd072f74728556e9397a838b1408bd674998e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kcompletion-5.1.0.tar.xz">kcompletion-5.1.0</a></td>
   <td align="right">112kB</td>
   <td><tt>4689deb9de234a435343a0b582d7043856866c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kconfig-5.1.0.tar.xz">kconfig-5.1.0</a></td>
   <td align="right">192kB</td>
   <td><tt>a3a486696ccd650546560e86d51ee4e0540d1ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kconfigwidgets-5.1.0.tar.xz">kconfigwidgets-5.1.0</a></td>
   <td align="right">282kB</td>
   <td><tt>0252cc20ee193c0f0ab9c612c9d0fcfa59d64284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kcoreaddons-5.1.0.tar.xz">kcoreaddons-5.1.0</a></td>
   <td align="right">263kB</td>
   <td><tt>394b98949c385dce88945a8deeb4bedae088ccce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kcrash-5.1.0.tar.xz">kcrash-5.1.0</a></td>
   <td align="right">19kB</td>
   <td><tt>c4f3ef430e3c08421182579839d64dbea56024ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kdbusaddons-5.1.0.tar.xz">kdbusaddons-5.1.0</a></td>
   <td align="right">29kB</td>
   <td><tt>28397369ce32386f47aa526e9b6fa073d6f8f2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kdeclarative-5.1.0.tar.xz">kdeclarative-5.1.0</a></td>
   <td align="right">95kB</td>
   <td><tt>b987522b81740012bd949f115acac3ee995b83cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kded-5.1.0.tar.xz">kded-5.1.0</a></td>
   <td align="right">23kB</td>
   <td><tt>f1740090c171555ec931021e44f43b2b8709421d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kdesignerplugin-5.1.0.tar.xz">kdesignerplugin-5.1.0</a></td>
   <td align="right">71kB</td>
   <td><tt>2268db948b95276c46ba6155a02897890efc1ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kdesu-5.1.0.tar.xz">kdesu-5.1.0</a></td>
   <td align="right">35kB</td>
   <td><tt>c67625de369ec4303d63653feb75afdf89786a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kdewebkit-5.1.0.tar.xz">kdewebkit-5.1.0</a></td>
   <td align="right">28kB</td>
   <td><tt>29611a2546044e16cb58828f8325736c9411ce35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kdnssd-5.1.0.tar.xz">kdnssd-5.1.0</a></td>
   <td align="right">54kB</td>
   <td><tt>e0164869632781d94658e00c10baf65c2e3796db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kdoctools-5.1.0.tar.xz">kdoctools-5.1.0</a></td>
   <td align="right">353kB</td>
   <td><tt>49fbc6ff3361ee99e3fccba68f9740c2c4fe7b50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kemoticons-5.1.0.tar.xz">kemoticons-5.1.0</a></td>
   <td align="right">69kB</td>
   <td><tt>50c1b1b2127db108a83f046ef63204c67a1e1936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kglobalaccel-5.1.0.tar.xz">kglobalaccel-5.1.0</a></td>
   <td align="right">57kB</td>
   <td><tt>9c326a07eb83a66d814288ef233f3b559991385e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kguiaddons-5.1.0.tar.xz">kguiaddons-5.1.0</a></td>
   <td align="right">38kB</td>
   <td><tt>0aef6dbcf53935526b3894cc50cb9cb0c90a6fdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/ki18n-5.1.0.tar.xz">ki18n-5.1.0</a></td>
   <td align="right">154kB</td>
   <td><tt>faea9a964a58e6c77272d1633f0900023a497dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kiconthemes-5.1.0.tar.xz">kiconthemes-5.1.0</a></td>
   <td align="right">189kB</td>
   <td><tt>c8ab15063d780d17cceb019cfa362df2ed78cd6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kidletime-5.1.0.tar.xz">kidletime-5.1.0</a></td>
   <td align="right">22kB</td>
   <td><tt>610813cbcc10be581a9855181e22f094a4834da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kimageformats-5.1.0.tar.xz">kimageformats-5.1.0</a></td>
   <td align="right">90kB</td>
   <td><tt>2e7a531fc08fc63ee652f5f52addf384105587a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kinit-5.1.0.tar.xz">kinit-5.1.0</a></td>
   <td align="right">104kB</td>
   <td><tt>37f42b4f0090d8eead9411c1e3eb180acb404e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kio-5.1.0.tar.xz">kio-5.1.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b94ad502e91b9123268566c8d7fc859acc2b3ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kitemmodels-5.1.0.tar.xz">kitemmodels-5.1.0</a></td>
   <td align="right">361kB</td>
   <td><tt>4b41fcdb97a67f624c1aaab1fa3b4414f875544b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kitemviews-5.1.0.tar.xz">kitemviews-5.1.0</a></td>
   <td align="right">71kB</td>
   <td><tt>c6b4cb838187626da02c390657ebed94a3f5cfb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kjobwidgets-5.1.0.tar.xz">kjobwidgets-5.1.0</a></td>
   <td align="right">85kB</td>
   <td><tt>18e592364d8135f98d1f227e9db67862d75ea3da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/knewstuff-5.1.0.tar.xz">knewstuff-5.1.0</a></td>
   <td align="right">406kB</td>
   <td><tt>0505132d48ff0e276de8e9e3f1b9ed599e5f9b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/knotifications-5.1.0.tar.xz">knotifications-5.1.0</a></td>
   <td align="right">90kB</td>
   <td><tt>500d85e9261edbb08cd3bcbe0d3ec91b54670945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/knotifyconfig-5.1.0.tar.xz">knotifyconfig-5.1.0</a></td>
   <td align="right">76kB</td>
   <td><tt>3d56dea9efeef4c6d12ae49ab18dc76216c30416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kparts-5.1.0.tar.xz">kparts-5.1.0</a></td>
   <td align="right">149kB</td>
   <td><tt>ada0955fc87a88f9ce65e3713d7823e993fb2014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kplotting-5.1.0.tar.xz">kplotting-5.1.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a6284482ca84d61e692027ed0599c319402a5ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kpty-5.1.0.tar.xz">kpty-5.1.0</a></td>
   <td align="right">54kB</td>
   <td><tt>f2d1760700f015388533f53d69e9eaf838d0bd46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kservice-5.1.0.tar.xz">kservice-5.1.0</a></td>
   <td align="right">243kB</td>
   <td><tt>2f13c65228b6922dd32cbee5475c86a1e72dba38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/ktexteditor-5.1.0.tar.xz">ktexteditor-5.1.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>6c8d3ca2b08b641c3e0cc4405eb9126e33978aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/ktextwidgets-5.1.0.tar.xz">ktextwidgets-5.1.0</a></td>
   <td align="right">295kB</td>
   <td><tt>84a916f3c5418c2aacf739406bf13604e14b4cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kunitconversion-5.1.0.tar.xz">kunitconversion-5.1.0</a></td>
   <td align="right">588kB</td>
   <td><tt>3be4c3ba92e44e7eb6ba6ddd914200cdeda3cef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kwallet-5.1.0.tar.xz">kwallet-5.1.0</a></td>
   <td align="right">81kB</td>
   <td><tt>a99cef6d9f9107903627d868890b1f92664e8e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kwidgetsaddons-5.1.0.tar.xz">kwidgetsaddons-5.1.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>695a0aab34fc2f6c9923615daf67281ab7509565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kwindowsystem-5.1.0.tar.xz">kwindowsystem-5.1.0</a></td>
   <td align="right">151kB</td>
   <td><tt>5ac612ce14d38056deffc64725942d5e33bf932b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/kxmlgui-5.1.0.tar.xz">kxmlgui-5.1.0</a></td>
   <td align="right">867kB</td>
   <td><tt>579adc60982b24723cf79e4e935afea0766c5dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/plasma-framework-5.1.0.tar.xz">plasma-framework-5.1.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>7891f04b31060439adfce6c0969f223c52adeb84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/solid-5.1.0.tar.xz">solid-5.1.0</a></td>
   <td align="right">246kB</td>
   <td><tt>d6a9f8055296bc15242e777ad3c11ed12325d68f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/sonnet-5.1.0.tar.xz">sonnet-5.1.0</a></td>
   <td align="right">264kB</td>
   <td><tt>083277c6360d73ffc6a9de9872f527c65b2073dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.1.0/threadweaver-5.1.0.tar.xz">threadweaver-5.1.0</a></td>
   <td align="right">67kB</td>
   <td><tt>3ad7ed04434aeefeaf3ea5d8fee83d33b93b20ea</tt></td>
</tr>

</table>
