<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-22.04.2.tar.xz">akonadi-22.04.2</a></td>
   <td align="right">1575kB</td>
   <td><tt>d3f2e493afd41ce3107df109877d4716b1e1a367</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-calendar-22.04.2.tar.xz">akonadi-calendar-22.04.2</a></td>
   <td align="right">357kB</td>
   <td><tt>5871d9d8c7a35df132135fc4a060c6af02426105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-calendar-tools-22.04.2.tar.xz">akonadi-calendar-tools-22.04.2</a></td>
   <td align="right">231kB</td>
   <td><tt>29c5efffce87124d150a71588c765fc526aefa3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadiconsole-22.04.2.tar.xz">akonadiconsole-22.04.2</a></td>
   <td align="right">196kB</td>
   <td><tt>7c65d5d837ae7555223ad93b32338545d4c075db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-contacts-22.04.2.tar.xz">akonadi-contacts-22.04.2</a></td>
   <td align="right">416kB</td>
   <td><tt>a34cd6cacbbde74e3e5cd36533fe5c7c29919722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-import-wizard-22.04.2.tar.xz">akonadi-import-wizard-22.04.2</a></td>
   <td align="right">499kB</td>
   <td><tt>8aff43045e6973c51033217cbd04555607806c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-mime-22.04.2.tar.xz">akonadi-mime-22.04.2</a></td>
   <td align="right">141kB</td>
   <td><tt>513c30e6b908cbe151619ee72b3bd86bd5a6b9df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-notes-22.04.2.tar.xz">akonadi-notes-22.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>d8a5fd119c7b9aa0df60f3cb2846b6ba87328f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akonadi-search-22.04.2.tar.xz">akonadi-search-22.04.2</a></td>
   <td align="right">97kB</td>
   <td><tt>24f73d77770a6396cd33e1b7948373d1f6f0a0d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/akregator-22.04.2.tar.xz">akregator-22.04.2</a></td>
   <td align="right">2208kB</td>
   <td><tt>222538eaa24ef55db97213437b639a0a1c967381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/analitza-22.04.2.tar.xz">analitza-22.04.2</a></td>
   <td align="right">341kB</td>
   <td><tt>b6f25fb9caadf4ece4364f14718389ff93fec321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ark-22.04.2.tar.xz">ark-22.04.2</a></td>
   <td align="right">2717kB</td>
   <td><tt>8c1ee81ffb54162b67549a34836ad61d3d93962f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/artikulate-22.04.2.tar.xz">artikulate-22.04.2</a></td>
   <td align="right">1068kB</td>
   <td><tt>3d9412cf429759c35491d86492e224d807329643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/audiocd-kio-22.04.2.tar.xz">audiocd-kio-22.04.2</a></td>
   <td align="right">514kB</td>
   <td><tt>761e7a919203f5967e04b70be05766216dfa827b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/baloo-widgets-22.04.2.tar.xz">baloo-widgets-22.04.2</a></td>
   <td align="right">264kB</td>
   <td><tt>ccd54147e87fbca0de7cd83fdcd3d978381c2169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/blinken-22.04.2.tar.xz">blinken-22.04.2</a></td>
   <td align="right">2651kB</td>
   <td><tt>fc10cf351287dedb7268724542fbb274545e96f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/bomber-22.04.2.tar.xz">bomber-22.04.2</a></td>
   <td align="right">814kB</td>
   <td><tt>ce5923f861c5a5baba65d30258b9ccf4db6ad035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/bovo-22.04.2.tar.xz">bovo-22.04.2</a></td>
   <td align="right">205kB</td>
   <td><tt>93c8198f345611cdaa489136dd96802f9d29e0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/calendarsupport-22.04.2.tar.xz">calendarsupport-22.04.2</a></td>
   <td align="right">749kB</td>
   <td><tt>cb703e0533fe972bea6c45dfd3b6c301cdef1b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/cantor-22.04.2.tar.xz">cantor-22.04.2</a></td>
   <td align="right">8982kB</td>
   <td><tt>58a9f0600621a44b1c191bfc0d6e3f88e10493b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/cervisia-22.04.2.tar.xz">cervisia-22.04.2</a></td>
   <td align="right">1869kB</td>
   <td><tt>379bd025075c78125135c0a85b0576d384b73bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/dolphin-22.04.2.tar.xz">dolphin-22.04.2</a></td>
   <td align="right">5225kB</td>
   <td><tt>30c5062c379460d7cc26c27f93a33fc586e1d484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/dolphin-plugins-22.04.2.tar.xz">dolphin-plugins-22.04.2</a></td>
   <td align="right">250kB</td>
   <td><tt>4cf802029f9013e3daa421b3cf498324906ee630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/dragon-22.04.2.tar.xz">dragon-22.04.2</a></td>
   <td align="right">1627kB</td>
   <td><tt>b225d8dcbeacfdf148813e3fb7c9de48a0d65e33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/elisa-22.04.2.tar.xz">elisa-22.04.2</a></td>
   <td align="right">1706kB</td>
   <td><tt>3ac8f9139edb49a0707ac5a9eb494c9bc9c5e908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/eventviews-22.04.2.tar.xz">eventviews-22.04.2</a></td>
   <td align="right">446kB</td>
   <td><tt>2fb3bbc1f2f337eaa08e764f474509748484a7fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/falkon-22.04.2.tar.xz">falkon-22.04.2</a></td>
   <td align="right">2434kB</td>
   <td><tt>57b5408ca4026bbd81fafcb86016f60b91fe079d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ffmpegthumbs-22.04.2.tar.xz">ffmpegthumbs-22.04.2</a></td>
   <td align="right">29kB</td>
   <td><tt>1d414326e188082c25250a4f4b00625c956b5984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/filelight-22.04.2.tar.xz">filelight-22.04.2</a></td>
   <td align="right">676kB</td>
   <td><tt>d2ae1d02c1fd0433784ebc78feafd3da27f22194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/granatier-22.04.2.tar.xz">granatier-22.04.2</a></td>
   <td align="right">2053kB</td>
   <td><tt>aacb478c85bac2cab494f0be013b62da2c15a14e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/grantlee-editor-22.04.2.tar.xz">grantlee-editor-22.04.2</a></td>
   <td align="right">109kB</td>
   <td><tt>29e5f6875d0a03d196c26900167cd9dfc2edc8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/grantleetheme-22.04.2.tar.xz">grantleetheme-22.04.2</a></td>
   <td align="right">59kB</td>
   <td><tt>2bb69a4d04535277b9b6ac78505497798c26b6cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/gwenview-22.04.2.tar.xz">gwenview-22.04.2</a></td>
   <td align="right">6660kB</td>
   <td><tt>ca88eab26eb7d2186c03f46538bb38f0d7d56d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/incidenceeditor-22.04.2.tar.xz">incidenceeditor-22.04.2</a></td>
   <td align="right">535kB</td>
   <td><tt>96d73558f8c13dce294cc323d85ce0eac327f44c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/itinerary-22.04.2.tar.xz">itinerary-22.04.2</a></td>
   <td align="right">488kB</td>
   <td><tt>a484b9e78d7cc4e19d5ed604baa33f2933245033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/juk-22.04.2.tar.xz">juk-22.04.2</a></td>
   <td align="right">1968kB</td>
   <td><tt>a84873d72e0fe75d65ba870f5fe53d289194d0ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/k3b-22.04.2.tar.xz">k3b-22.04.2</a></td>
   <td align="right">10499kB</td>
   <td><tt>383669ee6c0c3ee372eb793ac5117b85ecb41201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kaccounts-integration-22.04.2.tar.xz">kaccounts-integration-22.04.2</a></td>
   <td align="right">85kB</td>
   <td><tt>1d4032cf4265c5a8dc1604fc4edd6a145014c4c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kaccounts-providers-22.04.2.tar.xz">kaccounts-providers-22.04.2</a></td>
   <td align="right">62kB</td>
   <td><tt>ae64292a342b48229b2d065b67f0eefe111ea138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kaddressbook-22.04.2.tar.xz">kaddressbook-22.04.2</a></td>
   <td align="right">3271kB</td>
   <td><tt>c709107222d74b95b46d731feae0db09ff09d2cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kajongg-22.04.2.tar.xz">kajongg-22.04.2</a></td>
   <td align="right">4460kB</td>
   <td><tt>a1bc0488772a820f339004e1d0937c4f398ca72e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kalarm-22.04.2.tar.xz">kalarm-22.04.2</a></td>
   <td align="right">2295kB</td>
   <td><tt>08b9a85d59132274aa23ecd23e91dbca112ebaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kalendar-22.04.2.tar.xz">kalendar-22.04.2</a></td>
   <td align="right">253kB</td>
   <td><tt>dd003ee054a48b69adf189ebea55e2f571525c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kalgebra-22.04.2.tar.xz">kalgebra-22.04.2</a></td>
   <td align="right">1008kB</td>
   <td><tt>d61cd60cfe70b20ac53b29af504bacbdfecc89bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kalzium-22.04.2.tar.xz">kalzium-22.04.2</a></td>
   <td align="right">23902kB</td>
   <td><tt>cb6de0474b551dc04e7de1ef194ad6fb7dbcea6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kamera-22.04.2.tar.xz">kamera-22.04.2</a></td>
   <td align="right">116kB</td>
   <td><tt>57a29be4b03fb742b70a41c8641812ae62ca3d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kamoso-22.04.2.tar.xz">kamoso-22.04.2</a></td>
   <td align="right">221kB</td>
   <td><tt>b1f93f7e3a94b2c5c4632c1df05a1ed7640772a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kanagram-22.04.2.tar.xz">kanagram-22.04.2</a></td>
   <td align="right">7857kB</td>
   <td><tt>54bffdc91602c81e28896225aa34a19e8ec05df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kapman-22.04.2.tar.xz">kapman-22.04.2</a></td>
   <td align="right">2417kB</td>
   <td><tt>84ede2b2498d3348f763787803f6850845b7e0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kapptemplate-22.04.2.tar.xz">kapptemplate-22.04.2</a></td>
   <td align="right">326kB</td>
   <td><tt>241b95388d1ac5890b1d13e7bec235e15bbd3fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kate-22.04.2.tar.xz">kate-22.04.2</a></td>
   <td align="right">7398kB</td>
   <td><tt>3a200f6aed959e1e453a0796099acc8264a40445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/katomic-22.04.2.tar.xz">katomic-22.04.2</a></td>
   <td align="right">1404kB</td>
   <td><tt>ce0e5e56ba52085a560a57c281db0817fd9ac417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kbackup-22.04.2.tar.xz">kbackup-22.04.2</a></td>
   <td align="right">380kB</td>
   <td><tt>9c5a05ca479750b7ccb45a268f7cacabb10013c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kblackbox-22.04.2.tar.xz">kblackbox-22.04.2</a></td>
   <td align="right">515kB</td>
   <td><tt>9c339e05813d79d2489c640c52527bc1463df715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kblocks-22.04.2.tar.xz">kblocks-22.04.2</a></td>
   <td align="right">2052kB</td>
   <td><tt>3c54f0be2ef946b566a77c9238309fadb2e3a9de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kbounce-22.04.2.tar.xz">kbounce-22.04.2</a></td>
   <td align="right">3448kB</td>
   <td><tt>2f594dde5c4db65a87e825b120f75a7b056e4306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kbreakout-22.04.2.tar.xz">kbreakout-22.04.2</a></td>
   <td align="right">2499kB</td>
   <td><tt>70d2eea149620e61d35b0d5557912d611dcac7e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kbruch-22.04.2.tar.xz">kbruch-22.04.2</a></td>
   <td align="right">5502kB</td>
   <td><tt>5cd4fd3329767daf29e88570b30a8dfb38f9e271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kcachegrind-22.04.2.tar.xz">kcachegrind-22.04.2</a></td>
   <td align="right">859kB</td>
   <td><tt>7075374260b0884ba3d34db4512d318b24b25304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kcalc-22.04.2.tar.xz">kcalc-22.04.2</a></td>
   <td align="right">383kB</td>
   <td><tt>11644f93f8411f7b9bdb315bae1f86f49495b5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kcalutils-22.04.2.tar.xz">kcalutils-22.04.2</a></td>
   <td align="right">332kB</td>
   <td><tt>a56c6d43880dffb4f802076782987d520ff6e84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kcharselect-22.04.2.tar.xz">kcharselect-22.04.2</a></td>
   <td align="right">365kB</td>
   <td><tt>241bd7087050eafe2fa4180e0addd692a2ccb1f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kcolorchooser-22.04.2.tar.xz">kcolorchooser-22.04.2</a></td>
   <td align="right">29kB</td>
   <td><tt>5cb027d343fbcf0dc87eba0d3ee51ae726a1adb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kcron-22.04.2.tar.xz">kcron-22.04.2</a></td>
   <td align="right">894kB</td>
   <td><tt>ba2cf0fd1429346aa7de738d5c54450b7449aa61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdebugsettings-22.04.2.tar.xz">kdebugsettings-22.04.2</a></td>
   <td align="right">90kB</td>
   <td><tt>6f9655d6594172a2410f6313b9612b72e30023e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdeconnect-kde-22.04.2.tar.xz">kdeconnect-kde-22.04.2</a></td>
   <td align="right">594kB</td>
   <td><tt>4ceed267c8ca19adf3207d08b1fae3292e27edbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kde-dev-scripts-22.04.2.tar.xz">kde-dev-scripts-22.04.2</a></td>
   <td align="right">357kB</td>
   <td><tt>5f2b6ec775731821342288529773fdf0c7d51427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kde-dev-utils-22.04.2.tar.xz">kde-dev-utils-22.04.2</a></td>
   <td align="right">66kB</td>
   <td><tt>2ac0750ab0be46c567c04f3ce09cd5876836c0bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdeedu-data-22.04.2.tar.xz">kdeedu-data-22.04.2</a></td>
   <td align="right">328kB</td>
   <td><tt>86e417c34d2f870ea6c0ff2703b231dbf026f1c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdegraphics-mobipocket-22.04.2.tar.xz">kdegraphics-mobipocket-22.04.2</a></td>
   <td align="right">12kB</td>
   <td><tt>df3b7aa80ef8159c06747340a6d1055fb56d97ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdegraphics-thumbnailers-22.04.2.tar.xz">kdegraphics-thumbnailers-22.04.2</a></td>
   <td align="right">47kB</td>
   <td><tt>8cd43b5d517f214d969a40fed7f5786196f72eed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdenetwork-filesharing-22.04.2.tar.xz">kdenetwork-filesharing-22.04.2</a></td>
   <td align="right">373kB</td>
   <td><tt>bd79181d6ef4ad2a4a9c3e503ae6d44cb0b51ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdenlive-22.04.2.tar.xz">kdenlive-22.04.2</a></td>
   <td align="right">12127kB</td>
   <td><tt>3915a6172c6615ebb4eaf9996bc81f026d42fc18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdepim-addons-22.04.2.tar.xz">kdepim-addons-22.04.2</a></td>
   <td align="right">2256kB</td>
   <td><tt>7f36023b69ea60bc584901889274928bb8f373d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdepim-runtime-22.04.2.tar.xz">kdepim-runtime-22.04.2</a></td>
   <td align="right">1730kB</td>
   <td><tt>9b3c525bf73de4dad57e06d5f06e14e40b143751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdesdk-kioslaves-22.04.2.tar.xz">kdesdk-kioslaves-22.04.2</a></td>
   <td align="right">38kB</td>
   <td><tt>ca3f6300974aa23319dc5413f6b7c56df82e777b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdesdk-thumbnailers-22.04.2.tar.xz">kdesdk-thumbnailers-22.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>081494713fe2971a409d6c47d11c62c91743f9cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdevelop-22.04.2.tar.xz">kdevelop-22.04.2</a></td>
   <td align="right">8228kB</td>
   <td><tt>c9dcbf73ac6a309496d277793692a23be4022125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdev-php-22.04.2.tar.xz">kdev-php-22.04.2</a></td>
   <td align="right">1056kB</td>
   <td><tt>abc492a2808747a922930c466af0f05caaa537d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdev-python-22.04.2.tar.xz">kdev-python-22.04.2</a></td>
   <td align="right">1065kB</td>
   <td><tt>54869aff8bc3673b9b0d6ddfe94d171b245c3cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdf-22.04.2.tar.xz">kdf-22.04.2</a></td>
   <td align="right">465kB</td>
   <td><tt>d2f5a2799e92e75381af61735a6a039e56c2cd3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdialog-22.04.2.tar.xz">kdialog-22.04.2</a></td>
   <td align="right">114kB</td>
   <td><tt>37aa6774de067d7d8aa0f3dae5acb3b7079ab3d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kdiamond-22.04.2.tar.xz">kdiamond-22.04.2</a></td>
   <td align="right">4593kB</td>
   <td><tt>df9f01543c2ad7b7582e026039167bca9f3a2039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/keditbookmarks-22.04.2.tar.xz">keditbookmarks-22.04.2</a></td>
   <td align="right">199kB</td>
   <td><tt>c9ef827177a1c496fe8bea586b62781eb343045e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kfind-22.04.2.tar.xz">kfind-22.04.2</a></td>
   <td align="right">281kB</td>
   <td><tt>2fd1da0e9455fe6941d1bd9a4f22dd2d4b673528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kfloppy-22.04.2.tar.xz">kfloppy-22.04.2</a></td>
   <td align="right">208kB</td>
   <td><tt>08b877b98ace0b6453197ddc2df086ab79e0b318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kfourinline-22.04.2.tar.xz">kfourinline-22.04.2</a></td>
   <td align="right">705kB</td>
   <td><tt>bb8e09c79ac39d034f170996deded5d998b6517b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kgeography-22.04.2.tar.xz">kgeography-22.04.2</a></td>
   <td align="right">10826kB</td>
   <td><tt>34e58ff4a347e6282f2fdab6b88fec0bea28cbcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kget-22.04.2.tar.xz">kget-22.04.2</a></td>
   <td align="right">5314kB</td>
   <td><tt>9f3c017ccd532006e3c8dcf05176c8a83c818361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kgoldrunner-22.04.2.tar.xz">kgoldrunner-22.04.2</a></td>
   <td align="right">4674kB</td>
   <td><tt>e8d5dfb4387f1ee35206e5e04c8ec0750568b1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kgpg-22.04.2.tar.xz">kgpg-22.04.2</a></td>
   <td align="right">2885kB</td>
   <td><tt>703b48f04dacdf8d8d1a3b916d160e673209d144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/khangman-22.04.2.tar.xz">khangman-22.04.2</a></td>
   <td align="right">7259kB</td>
   <td><tt>b24455db9fa7dd276ce650571ddf9fd4031467ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/khelpcenter-22.04.2.tar.xz">khelpcenter-22.04.2</a></td>
   <td align="right">4192kB</td>
   <td><tt>8f1bea6bfa0eeb962da703464ed5d5f7c827f90f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kidentitymanagement-22.04.2.tar.xz">kidentitymanagement-22.04.2</a></td>
   <td align="right">155kB</td>
   <td><tt>627bcc67e94c1ac6cb9d6620bb67e915d29985dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kig-22.04.2.tar.xz">kig-22.04.2</a></td>
   <td align="right">3111kB</td>
   <td><tt>b29b2ffd6da21777c662ecbf49ec6994977213c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kigo-22.04.2.tar.xz">kigo-22.04.2</a></td>
   <td align="right">5130kB</td>
   <td><tt>03960c0c466894f99158d5fc275b69953d92bc54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/killbots-22.04.2.tar.xz">killbots-22.04.2</a></td>
   <td align="right">1169kB</td>
   <td><tt>2f3560890a746c14e878bd113e0ab2e739cb6622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kimagemapeditor-22.04.2.tar.xz">kimagemapeditor-22.04.2</a></td>
   <td align="right">1065kB</td>
   <td><tt>db6236e147e7b4967f03a0b2ee2fef032a3459d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kimap-22.04.2.tar.xz">kimap-22.04.2</a></td>
   <td align="right">127kB</td>
   <td><tt>5e8d329cf08db7e833438372531ec74a1c01f0dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kio-extras-22.04.2.tar.xz">kio-extras-22.04.2</a></td>
   <td align="right">627kB</td>
   <td><tt>f30f7fbc24a7e0826386e6133c34ede3c19ad200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kio-gdrive-22.04.2.tar.xz">kio-gdrive-22.04.2</a></td>
   <td align="right">70kB</td>
   <td><tt>aa083b539609c1c9b4acd9f7fe0897ee947977b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kipi-plugins-22.04.2.tar.xz">kipi-plugins-22.04.2</a></td>
   <td align="right">1488kB</td>
   <td><tt>eca615f0c0c53732701182f545e0b609a094b105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kirigami-gallery-22.04.2.tar.xz">kirigami-gallery-22.04.2</a></td>
   <td align="right">330kB</td>
   <td><tt>ae2e88daf1756da95f7a1c0766a8aa530da36848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kiriki-22.04.2.tar.xz">kiriki-22.04.2</a></td>
   <td align="right">357kB</td>
   <td><tt>d60417b15534c08b61a03b26b13c66f9cb7a7527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kiten-22.04.2.tar.xz">kiten-22.04.2</a></td>
   <td align="right">11052kB</td>
   <td><tt>781f3f4510a18ec46a0f5b03cb47e19be3898dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kitinerary-22.04.2.tar.xz">kitinerary-22.04.2</a></td>
   <td align="right">1495kB</td>
   <td><tt>e1cfd549bd2c4c1b8496a59a28b78c9f698ad957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kjumpingcube-22.04.2.tar.xz">kjumpingcube-22.04.2</a></td>
   <td align="right">318kB</td>
   <td><tt>66ad7aac790304ff3f79bf33a9e40b65b27e6b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kldap-22.04.2.tar.xz">kldap-22.04.2</a></td>
   <td align="right">168kB</td>
   <td><tt>2efab4ab4d2e4e6e1304472104bc840fcfd103aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kleopatra-22.04.2.tar.xz">kleopatra-22.04.2</a></td>
   <td align="right">2187kB</td>
   <td><tt>55e5ff8388c86594e1ee9670653d533e49ef12fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/klettres-22.04.2.tar.xz">klettres-22.04.2</a></td>
   <td align="right">46032kB</td>
   <td><tt>c2f9984bb7482903f03175b845adb6bf50a52791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/klickety-22.04.2.tar.xz">klickety-22.04.2</a></td>
   <td align="right">1460kB</td>
   <td><tt>169cc3388fe44651d0f684d366d3676aab6f29ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/klines-22.04.2.tar.xz">klines-22.04.2</a></td>
   <td align="right">1686kB</td>
   <td><tt>0f26ff7abcad6765894796747873277be7cfe158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmag-22.04.2.tar.xz">kmag-22.04.2</a></td>
   <td align="right">691kB</td>
   <td><tt>91ca5e80705244ddcfbe4e418db9dda7f8cfc382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmahjongg-22.04.2.tar.xz">kmahjongg-22.04.2</a></td>
   <td align="right">3975kB</td>
   <td><tt>3c64953e72fd00ffa54083532bb003847cb8b3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmail-22.04.2.tar.xz">kmail-22.04.2</a></td>
   <td align="right">6987kB</td>
   <td><tt>37d7aa30b19ac943bc0d8e36d60053d96847e470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmail-account-wizard-22.04.2.tar.xz">kmail-account-wizard-22.04.2</a></td>
   <td align="right">167kB</td>
   <td><tt>e196ab8c386dac34cf81408387661c81c52704d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmailtransport-22.04.2.tar.xz">kmailtransport-22.04.2</a></td>
   <td align="right">170kB</td>
   <td><tt>80e64ec227512f811af0a8c5dda35fcadd6cba3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmbox-22.04.2.tar.xz">kmbox-22.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>061174e2db73e4217143a3c1885fde5e8ce7a824</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmime-22.04.2.tar.xz">kmime-22.04.2</a></td>
   <td align="right">152kB</td>
   <td><tt>75245963918135a0acb72101a15427ae8e042213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmines-22.04.2.tar.xz">kmines-22.04.2</a></td>
   <td align="right">971kB</td>
   <td><tt>914cc28110cf29e92c25d092ee563a3bc5758541</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmix-22.04.2.tar.xz">kmix-22.04.2</a></td>
   <td align="right">1136kB</td>
   <td><tt>f5f270a7924b4477a22344d049e3fd43248778cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmousetool-22.04.2.tar.xz">kmousetool-22.04.2</a></td>
   <td align="right">118kB</td>
   <td><tt>e7e165cce0be6de72a0c8d6cb27f41f57090698c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmouth-22.04.2.tar.xz">kmouth-22.04.2</a></td>
   <td align="right">2055kB</td>
   <td><tt>dd10465d5d8d6e5dfdc0a6d9e9c27d51fe9a43ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kmplot-22.04.2.tar.xz">kmplot-22.04.2</a></td>
   <td align="right">2973kB</td>
   <td><tt>6f53b7980b06a63f58222df448b8b7c1116d8d1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/knavalbattle-22.04.2.tar.xz">knavalbattle-22.04.2</a></td>
   <td align="right">1347kB</td>
   <td><tt>8f94cee31db2f371c1d97779750c84893bed2715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/knetwalk-22.04.2.tar.xz">knetwalk-22.04.2</a></td>
   <td align="right">1071kB</td>
   <td><tt>c6985432d317501380e651b17a80322631f1634b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/knights-22.04.2.tar.xz">knights-22.04.2</a></td>
   <td align="right">3246kB</td>
   <td><tt>2745d8b7a90ee4659f85c7f964f5f23ccfdd015b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/knotes-22.04.2.tar.xz">knotes-22.04.2</a></td>
   <td align="right">335kB</td>
   <td><tt>9f6b2a13fc758464c5ead5efccdafa72fd7d7c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kolf-22.04.2.tar.xz">kolf-22.04.2</a></td>
   <td align="right">1026kB</td>
   <td><tt>ccbbdb2ae84cabdb27f64ce4c192bd937ae4d43e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kollision-22.04.2.tar.xz">kollision-22.04.2</a></td>
   <td align="right">295kB</td>
   <td><tt>9b10f6ea5b57f2a1538f5bab56eee7d17e0b6ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kolourpaint-22.04.2.tar.xz">kolourpaint-22.04.2</a></td>
   <td align="right">5583kB</td>
   <td><tt>ff56c3f72512087c834eba69921045cc39fc9092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kompare-22.04.2.tar.xz">kompare-22.04.2</a></td>
   <td align="right">921kB</td>
   <td><tt>0e1dbeff55f49bc482155dee21519bc9f5fac931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/konqueror-22.04.2.tar.xz">konqueror-22.04.2</a></td>
   <td align="right">7504kB</td>
   <td><tt>e2691ff46a0d3e48688083fd59a2f016fb20920e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/konquest-22.04.2.tar.xz">konquest-22.04.2</a></td>
   <td align="right">842kB</td>
   <td><tt>4f92f160a43c3715ef4796c24f4c5b9024bacfa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/konsole-22.04.2.tar.xz">konsole-22.04.2</a></td>
   <td align="right">1433kB</td>
   <td><tt>9ddf991f37c6678db5c035ba99db4ca29cd11cd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kontact-22.04.2.tar.xz">kontact-22.04.2</a></td>
   <td align="right">806kB</td>
   <td><tt>4c63f07147adbfbef78c00334eae13f99cc933a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kontactinterface-22.04.2.tar.xz">kontactinterface-22.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>94d82d78cf08c48123c94188ac0e292ca1e60fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kontrast-22.04.2.tar.xz">kontrast-22.04.2</a></td>
   <td align="right">122kB</td>
   <td><tt>adf1791e760061f55add9149bb89de08763a119b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/konversation-22.04.2.tar.xz">konversation-22.04.2</a></td>
   <td align="right">4188kB</td>
   <td><tt>46c62fc38c9d0c59641eb876f44cd678de573d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kopeninghours-22.04.2.tar.xz">kopeninghours-22.04.2</a></td>
   <td align="right">67kB</td>
   <td><tt>621bdd8262d037db766455360e362253061aa4e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kopete-22.04.2.tar.xz">kopete-22.04.2</a></td>
   <td align="right">9448kB</td>
   <td><tt>2f2512b5d676759a5682d843389f51a5c6f9c941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/korganizer-22.04.2.tar.xz">korganizer-22.04.2</a></td>
   <td align="right">2257kB</td>
   <td><tt>1680983440dc0f96dbcfe1e1743fe6b634679b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kosmindoormap-22.04.2.tar.xz">kosmindoormap-22.04.2</a></td>
   <td align="right">343kB</td>
   <td><tt>d41a9298560a0c15bb5680d51a30d3762ddbb391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kpat-22.04.2.tar.xz">kpat-22.04.2</a></td>
   <td align="right">3643kB</td>
   <td><tt>274d45e63267400aabaa945de30d7dd7a4e3c21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kpimtextedit-22.04.2.tar.xz">kpimtextedit-22.04.2</a></td>
   <td align="right">210kB</td>
   <td><tt>95ff9a83239359dd24ddbeb63cf23d923b66eac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kpkpass-22.04.2.tar.xz">kpkpass-22.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>2e945dd95db085d54004afaf06e31b14cb16da69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kpmcore-22.04.2.tar.xz">kpmcore-22.04.2</a></td>
   <td align="right">585kB</td>
   <td><tt>ba5e956e7a5fa6f29cb0af091c6886b99c9a7511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kpublictransport-22.04.2.tar.xz">kpublictransport-22.04.2</a></td>
   <td align="right">474kB</td>
   <td><tt>9ae9610fca1c4dfca771faef98cab27db4a4fdff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kqtquickcharts-22.04.2.tar.xz">kqtquickcharts-22.04.2</a></td>
   <td align="right">29kB</td>
   <td><tt>ac3aeed7b0bacaac970638a2fa10cc8ae8337ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/krdc-22.04.2.tar.xz">krdc-22.04.2</a></td>
   <td align="right">1547kB</td>
   <td><tt>eaf8c2500577a0d1a10a1338b6f67bcd110faf57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kreversi-22.04.2.tar.xz">kreversi-22.04.2</a></td>
   <td align="right">1039kB</td>
   <td><tt>46d22cef40801c3dd145f71f284adf3202980a4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/krfb-22.04.2.tar.xz">krfb-22.04.2</a></td>
   <td align="right">1272kB</td>
   <td><tt>784b595f7573bb3a658066f9d0086cb7d2ae3a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kross-interpreters-22.04.2.tar.xz">kross-interpreters-22.04.2</a></td>
   <td align="right">148kB</td>
   <td><tt>fdb712515c8120f55f52a4a322f5e1c73e9e0fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kruler-22.04.2.tar.xz">kruler-22.04.2</a></td>
   <td align="right">270kB</td>
   <td><tt>f414a6cf28ff6842c156ff33a2c6a9f555fa2d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kshisen-22.04.2.tar.xz">kshisen-22.04.2</a></td>
   <td align="right">970kB</td>
   <td><tt>0a2832e7337944d64bd0cbddd7f311a40b771ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ksirk-22.04.2.tar.xz">ksirk-22.04.2</a></td>
   <td align="right">6841kB</td>
   <td><tt>607193ee6273de9c2a26bfb972382c21dcc7333c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ksmtp-22.04.2.tar.xz">ksmtp-22.04.2</a></td>
   <td align="right">47kB</td>
   <td><tt>aeb592339b793302be85e7e871ba22bd23311a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ksnakeduel-22.04.2.tar.xz">ksnakeduel-22.04.2</a></td>
   <td align="right">593kB</td>
   <td><tt>548e29e5b604f23b7e74ba45c0c43bb66dcbe5e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kspaceduel-22.04.2.tar.xz">kspaceduel-22.04.2</a></td>
   <td align="right">636kB</td>
   <td><tt>ca3708b572b3751aed2298d833e503ae8b34630e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ksquares-22.04.2.tar.xz">ksquares-22.04.2</a></td>
   <td align="right">300kB</td>
   <td><tt>4e1a1335eff27720a731f5992aa91802d788deed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ksudoku-22.04.2.tar.xz">ksudoku-22.04.2</a></td>
   <td align="right">1650kB</td>
   <td><tt>4c7558db31883f81503375f19dee70d6568b88f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ksystemlog-22.04.2.tar.xz">ksystemlog-22.04.2</a></td>
   <td align="right">1925kB</td>
   <td><tt>dcb59e49fd5f11bdfcc5da378b574cfe3f3ca491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kteatime-22.04.2.tar.xz">kteatime-22.04.2</a></td>
   <td align="right">295kB</td>
   <td><tt>b6af7742674d5921090827df4fafb2158b1f34e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktimer-22.04.2.tar.xz">ktimer-22.04.2</a></td>
   <td align="right">385kB</td>
   <td><tt>25995d81fc7719a6f9d6369af576a293f598cad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktnef-22.04.2.tar.xz">ktnef-22.04.2</a></td>
   <td align="right">296kB</td>
   <td><tt>e3e4f2d5f177db0ff41f2bc2c9f3ceda4ee88405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktorrent-22.04.2.tar.xz">ktorrent-22.04.2</a></td>
   <td align="right">2013kB</td>
   <td><tt>a20bd0500d7688c8a576b5f54a8d3aa690a93bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktouch-22.04.2.tar.xz">ktouch-22.04.2</a></td>
   <td align="right">4866kB</td>
   <td><tt>0c8c6cba2163f51d677d580374b751fd842c8256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-accounts-kcm-22.04.2.tar.xz">ktp-accounts-kcm-22.04.2</a></td>
   <td align="right">260kB</td>
   <td><tt>b58fab223641a464ea79db1d33209bb73cb70d6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-approver-22.04.2.tar.xz">ktp-approver-22.04.2</a></td>
   <td align="right">37kB</td>
   <td><tt>e9aef0ae25b2dac72adda5a653810b1492950bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-auth-handler-22.04.2.tar.xz">ktp-auth-handler-22.04.2</a></td>
   <td align="right">47kB</td>
   <td><tt>8f64d20afd72b78b8ba3f5717b78b041eb45fbd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-call-ui-22.04.2.tar.xz">ktp-call-ui-22.04.2</a></td>
   <td align="right">96kB</td>
   <td><tt>063b7524d9d42923cfab11e89b4ab0a0ec550291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-common-internals-22.04.2.tar.xz">ktp-common-internals-22.04.2</a></td>
   <td align="right">441kB</td>
   <td><tt>eae7f6efc5248c22ab45dfea8b4445f31e64e256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-contact-list-22.04.2.tar.xz">ktp-contact-list-22.04.2</a></td>
   <td align="right">151kB</td>
   <td><tt>278403db38f89b56690dfaf5fabc709b4c5252e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-contact-runner-22.04.2.tar.xz">ktp-contact-runner-22.04.2</a></td>
   <td align="right">43kB</td>
   <td><tt>e7c653eadda54abf1027424e3fa4b5a2f0d431a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-desktop-applets-22.04.2.tar.xz">ktp-desktop-applets-22.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>17e33d1e82f9cd1d51604695077914f9aaaa4815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-filetransfer-handler-22.04.2.tar.xz">ktp-filetransfer-handler-22.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>f0e11108801cbb8f9a8e8d96904601e44cff0cc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-kded-module-22.04.2.tar.xz">ktp-kded-module-22.04.2</a></td>
   <td align="right">97kB</td>
   <td><tt>3dd85f84eef200f7bd29fec12e5ac8afb5ae9243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-send-file-22.04.2.tar.xz">ktp-send-file-22.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>c5e66caffc2858ab58f6944c41b0183fda6e5d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktp-text-ui-22.04.2.tar.xz">ktp-text-ui-22.04.2</a></td>
   <td align="right">464kB</td>
   <td><tt>3fceb03dd2408c7a7bc5fdde2002c056082f0d91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/ktuberling-22.04.2.tar.xz">ktuberling-22.04.2</a></td>
   <td align="right">69168kB</td>
   <td><tt>930bb98418c8fae343f7ed6273e344a2908fbeb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kturtle-22.04.2.tar.xz">kturtle-22.04.2</a></td>
   <td align="right">1931kB</td>
   <td><tt>b249939a966752fc12cd8a57214ad8ac30b25157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kubrick-22.04.2.tar.xz">kubrick-22.04.2</a></td>
   <td align="right">335kB</td>
   <td><tt>de08758d732c42619484d04012728b7dcdee171f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kwalletmanager-22.04.2.tar.xz">kwalletmanager-22.04.2</a></td>
   <td align="right">782kB</td>
   <td><tt>c0c491f38b3c7b3b7d29adf6b189e8fbfbf1c81f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kwave-22.04.2.tar.xz">kwave-22.04.2</a></td>
   <td align="right">6794kB</td>
   <td><tt>5cdf82aefa21e3a459463cd9e7a09ebb993b4c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/kwordquiz-22.04.2.tar.xz">kwordquiz-22.04.2</a></td>
   <td align="right">4110kB</td>
   <td><tt>d939a34bfb42e8ef7c5b64bd5819f24663fa699c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libgravatar-22.04.2.tar.xz">libgravatar-22.04.2</a></td>
   <td align="right">34kB</td>
   <td><tt>fd25b40471c98c91e213cbc263f938e87fbbb2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkcddb-22.04.2.tar.xz">libkcddb-22.04.2</a></td>
   <td align="right">426kB</td>
   <td><tt>c3c484e41bea90f2398a1d181c43b8fc73fc114e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkcompactdisc-22.04.2.tar.xz">libkcompactdisc-22.04.2</a></td>
   <td align="right">95kB</td>
   <td><tt>41da939a8190a53b87642e6437b9ae7cb9d2ba32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkdcraw-22.04.2.tar.xz">libkdcraw-22.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>0caa7ae411409b456d6dd981d79deee98e34ea4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkdegames-22.04.2.tar.xz">libkdegames-22.04.2</a></td>
   <td align="right">5838kB</td>
   <td><tt>0201cfa6bc9c3913bed5ef0a938c0aa10c6e3976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkdepim-22.04.2.tar.xz">libkdepim-22.04.2</a></td>
   <td align="right">248kB</td>
   <td><tt>13ae83efa310a40de64ed479de204cb293498f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkeduvocdocument-22.04.2.tar.xz">libkeduvocdocument-22.04.2</a></td>
   <td align="right">210kB</td>
   <td><tt>794aef81d9dc1eb68f515ddd67e1226f3873356c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkexiv2-22.04.2.tar.xz">libkexiv2-22.04.2</a></td>
   <td align="right">58kB</td>
   <td><tt>7c5434d6c5cfbb5d11c23ef31b59a062da374020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkgapi-22.04.2.tar.xz">libkgapi-22.04.2</a></td>
   <td align="right">239kB</td>
   <td><tt>69c2f96c6a05e1a61d1581ec6f53177df5674ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkipi-22.04.2.tar.xz">libkipi-22.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>ec9c22bba756c90ddce061e950bc971f47a02403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkleo-22.04.2.tar.xz">libkleo-22.04.2</a></td>
   <td align="right">458kB</td>
   <td><tt>4cea870259a55a7f0a226546a414cb0ff1904fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkmahjongg-22.04.2.tar.xz">libkmahjongg-22.04.2</a></td>
   <td align="right">1644kB</td>
   <td><tt>e1898075c7ea179e91e0aa3dc516b6320dcba7e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libkomparediff2-22.04.2.tar.xz">libkomparediff2-22.04.2</a></td>
   <td align="right">168kB</td>
   <td><tt>b5941db69148d0444f45f53b0757ab473106d9c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libksane-22.04.2.tar.xz">libksane-22.04.2</a></td>
   <td align="right">161kB</td>
   <td><tt>92a0a64a17c7a292112b5df5a340a139fea433f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libksieve-22.04.2.tar.xz">libksieve-22.04.2</a></td>
   <td align="right">563kB</td>
   <td><tt>5c183049510d107c5e636a0cc1a03ab1aa197c54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/libktorrent-22.04.2.tar.xz">libktorrent-22.04.2</a></td>
   <td align="right">592kB</td>
   <td><tt>b5798727197686662635f94936a3455fd2ae9297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/lokalize-22.04.2.tar.xz">lokalize-22.04.2</a></td>
   <td align="right">2016kB</td>
   <td><tt>01e93eae098de652c36bb9937360ea9500039eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/lskat-22.04.2.tar.xz">lskat-22.04.2</a></td>
   <td align="right">1206kB</td>
   <td><tt>eb13ad7247d65c99eca9e398a878f26dc9f527aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/mailcommon-22.04.2.tar.xz">mailcommon-22.04.2</a></td>
   <td align="right">722kB</td>
   <td><tt>2a0cbc6fc8f65c6cc076b488c3f21a02eef91506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/mailimporter-22.04.2.tar.xz">mailimporter-22.04.2</a></td>
   <td align="right">546kB</td>
   <td><tt>f281ee88bf5fabd1cbde1d83d7c04b89ffae6a54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/marble-22.04.2.tar.xz">marble-22.04.2</a></td>
   <td align="right">52419kB</td>
   <td><tt>9bf9013cf3991a5a5af4910d074c59925d90eea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/markdownpart-22.04.2.tar.xz">markdownpart-22.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>725cc92deb7b6da9c37db863e96b9ec56c0edc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/mbox-importer-22.04.2.tar.xz">mbox-importer-22.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>0e02dec6b20b91c9b8ec83a2dd2af6172e2cacac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/messagelib-22.04.2.tar.xz">messagelib-22.04.2</a></td>
   <td align="right">10616kB</td>
   <td><tt>ea700da740bea634ebfda0bcdae257706dc9fc09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/minuet-22.04.2.tar.xz">minuet-22.04.2</a></td>
   <td align="right">27029kB</td>
   <td><tt>f8fad5d79bb37edf749867c6714956ee1a404f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/okular-22.04.2.tar.xz">okular-22.04.2</a></td>
   <td align="right">8013kB</td>
   <td><tt>50fe4a560816f7d084eab61b34fad53e6fe82b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/palapeli-22.04.2.tar.xz">palapeli-22.04.2</a></td>
   <td align="right">2051kB</td>
   <td><tt>94b7521364ac035ab114ca007e075f519f4661cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/parley-22.04.2.tar.xz">parley-22.04.2</a></td>
   <td align="right">8303kB</td>
   <td><tt>9586656040a5fdf545fdadef257fb4d8014d6c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/partitionmanager-22.04.2.tar.xz">partitionmanager-22.04.2</a></td>
   <td align="right">2062kB</td>
   <td><tt>c01fff0611ef4c30bb80e9dfd3162b3e7bad114d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/picmi-22.04.2.tar.xz">picmi-22.04.2</a></td>
   <td align="right">1502kB</td>
   <td><tt>9324fca79690e4bff0c339096177be16af5c97be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/pimcommon-22.04.2.tar.xz">pimcommon-22.04.2</a></td>
   <td align="right">367kB</td>
   <td><tt>651ab896c4857fd2a3e5d55fc349196114785517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/pim-data-exporter-22.04.2.tar.xz">pim-data-exporter-22.04.2</a></td>
   <td align="right">395kB</td>
   <td><tt>91c41a82260eb23da0f65da636b000c3cb1b30e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/pim-sieve-editor-22.04.2.tar.xz">pim-sieve-editor-22.04.2</a></td>
   <td align="right">442kB</td>
   <td><tt>e73912d13e8a8361e21f6df50267dba71ec01951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/poxml-22.04.2.tar.xz">poxml-22.04.2</a></td>
   <td align="right">43kB</td>
   <td><tt>99c955b7d818e34df2d2958641dfebfb670573c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/print-manager-22.04.2.tar.xz">print-manager-22.04.2</a></td>
   <td align="right">265kB</td>
   <td><tt>df880acaa2254f168bcba9ced68464227dc32d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/rocs-22.04.2.tar.xz">rocs-22.04.2</a></td>
   <td align="right">1518kB</td>
   <td><tt>561b65987703d2bdff76485f0c3c1e7d35474532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/signon-kwallet-extension-22.04.2.tar.xz">signon-kwallet-extension-22.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>41a00a2697c72b5c11b14574ef81b977d792dc85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/skanlite-22.04.2.tar.xz">skanlite-22.04.2</a></td>
   <td align="right">2383kB</td>
   <td><tt>26abea11a33fb711ef7d24a5c55600cb8d5cd860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/skanpage-22.04.2.tar.xz">skanpage-22.04.2</a></td>
   <td align="right">380kB</td>
   <td><tt>9c9a6ca45262c4aa21b484090c008decc2defcee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/spectacle-22.04.2.tar.xz">spectacle-22.04.2</a></td>
   <td align="right">1231kB</td>
   <td><tt>451e0ff4af0b8161dffdf947827f20538a0217c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/step-22.04.2.tar.xz">step-22.04.2</a></td>
   <td align="right">916kB</td>
   <td><tt>03b8767cf093e572139b4d5d9f6d7947b0506766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/svgpart-22.04.2.tar.xz">svgpart-22.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>36aab8e7b56bc1bc760f8ec92964c686c28c761a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/sweeper-22.04.2.tar.xz">sweeper-22.04.2</a></td>
   <td align="right">368kB</td>
   <td><tt>cc38151869faa1e69ce48c1bad51ffeb941afb53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/umbrello-22.04.2.tar.xz">umbrello-22.04.2</a></td>
   <td align="right">5543kB</td>
   <td><tt>68083a889f5761fa24334a90850d37f16f78054a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/yakuake-22.04.2.tar.xz">yakuake-22.04.2</a></td>
   <td align="right">394kB</td>
   <td><tt>a9e3e7f1d4f796f35bd182b30e996bbd4e7f05d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/zanshin-22.04.2.tar.xz">zanshin-22.04.2</a></td>
   <td align="right">345kB</td>
   <td><tt>6e39f9d3f46081c7045aebf68fd472e6bc15d5b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.04.2/src/zeroconf-ioslave-22.04.2.tar.xz">zeroconf-ioslave-22.04.2</a></td>
   <td align="right">38kB</td>
   <td><tt>209d625ee90bcd6db0abbaaeb35dcf4463c6420b</tt></td>
</tr>

</table>
