<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/bluedevil-5.11.4.tar.xz">bluedevil-5.11.4</a></td>
   <td align="right">143kB</td>
   <td><tt>406048d1f9a8708bf9e4373cac05dbbd798f9b2370cadee03092cf2b78e95bf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/breeze-5.11.4.tar.xz">breeze-5.11.4</a></td>
   <td align="right">21MB</td>
   <td><tt>009ce394e8eda75ca98370d99bf37a89c27eacce2b9fb1f284ca8851fa08b75b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/breeze-grub-5.11.4.tar.xz">breeze-grub-5.11.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>848796accd222b2534cf7076c36d21cd3a05b4330da0a9d18f74fed7860ce3fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/breeze-gtk-5.11.4.tar.xz">breeze-gtk-5.11.4</a></td>
   <td align="right">207kB</td>
   <td><tt>ea81653067069ae2089d27627f1b3393ec144fbe8805534e300f0473e5b02e59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/breeze-plymouth-5.11.4.tar.xz">breeze-plymouth-5.11.4</a></td>
   <td align="right">102kB</td>
   <td><tt>1b34e3a6121cb3164f51d50bad8c264705e0b97db04192a0277630e6daa03025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/discover-5.11.4.tar.xz">discover-5.11.4</a></td>
   <td align="right">9.7MB</td>
   <td><tt>3f8a2e9635fc34888b9a23231741702548fd6dee6e4e2639ab5e5b8fac28dad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/drkonqi-5.11.4.tar.xz">drkonqi-5.11.4</a></td>
   <td align="right">719kB</td>
   <td><tt>7ad892fe74c7e43feaf7684f935ae56254ae29ef85ab5556d3ad260535eace6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kactivitymanagerd-5.11.4.tar.xz">kactivitymanagerd-5.11.4</a></td>
   <td align="right">82kB</td>
   <td><tt>98501d2857d9515eaec872cc07314ae1accb3c8fbcd155ff536044a5be132481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kde-cli-tools-5.11.4.tar.xz">kde-cli-tools-5.11.4</a></td>
   <td align="right">565kB</td>
   <td><tt>afed425db88af5f8f8d4ddb8de8c62b5d0e42893279b4d67ca961691b52e811c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kdecoration-5.11.4.tar.xz">kdecoration-5.11.4</a></td>
   <td align="right">34kB</td>
   <td><tt>35619d57ffe727eb624e67dc180279536e081955720dd67eea6751395a83706f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kde-gtk-config-5.11.4.tar.xz">kde-gtk-config-5.11.4</a></td>
   <td align="right">151kB</td>
   <td><tt>e284346aaadbccf46c88c217539abb5976476dc6699737e7f7ec8cc9e8f94523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kdeplasma-addons-5.11.4.tar.xz">kdeplasma-addons-5.11.4</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f18a7949bfc01247e7235cf74f43b12333624d113299f4f879a72be9f360dca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kgamma5-5.11.4.tar.xz">kgamma5-5.11.4</a></td>
   <td align="right">59kB</td>
   <td><tt>5aac688682dcd108f2ca20d6a45813229c0938a7158a68f4909782090d585fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/khotkeys-5.11.4.tar.xz">khotkeys-5.11.4</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8601789ea3b796677c887e7c3c7a2f1d4053474797d8f4f6d7cf50f9d7a15f73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kinfocenter-5.11.4.tar.xz">kinfocenter-5.11.4</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c4e1cc4fda2b7f7799c00cea1d4e5e03ad70e711776721167d0705e940dac339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kmenuedit-5.11.4.tar.xz">kmenuedit-5.11.4</a></td>
   <td align="right">641kB</td>
   <td><tt>736af021660a4406e90f76e75b04d36aded6271bf2cc42b8cbcada7a62ce784d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kscreen-5.11.4.tar.xz">kscreen-5.11.4</a></td>
   <td align="right">114kB</td>
   <td><tt>501c513b38ba0dd3b67f2d38615db67a5a7831e191e461d52b022589492a5e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kscreenlocker-5.11.4.tar.xz">kscreenlocker-5.11.4</a></td>
   <td align="right">115kB</td>
   <td><tt>87e049ea0771a72e2919fb618348c58f56b476d520f57ce7c269e877341a4464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/ksshaskpass-5.11.4.tar.xz">ksshaskpass-5.11.4</a></td>
   <td align="right">20kB</td>
   <td><tt>7de555ebd3ea98e57adea7261e276e2bbdf155e2527e07039eb5f01ae9e61ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/ksysguard-5.11.4.tar.xz">ksysguard-5.11.4</a></td>
   <td align="right">482kB</td>
   <td><tt>4c8b164f5274dc2f935a3900822c6fe57120beee02ae12d1a3bcdd28a6c185b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kwallet-pam-5.11.4.tar.xz">kwallet-pam-5.11.4</a></td>
   <td align="right">18kB</td>
   <td><tt>c24f51199275c584210f82d804627f62eea0f115e66ccd32e16c860e22a86f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kwayland-integration-5.11.4.tar.xz">kwayland-integration-5.11.4</a></td>
   <td align="right">18kB</td>
   <td><tt>9ed545787515c04ce8a714230498b21f8c4914c379471adec175ec5874a35f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kwin-5.11.4.tar.xz">kwin-5.11.4</a></td>
   <td align="right">4.6MB</td>
   <td><tt>f989b2dbfd79d63e19e2bf1beb9e9088a3fb9a4a0d4a3ceac2b42201bd15d751</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/kwrited-5.11.4.tar.xz">kwrited-5.11.4</a></td>
   <td align="right">19kB</td>
   <td><tt>2ee28f0d68b514357d235a2480b16e0ab0cac959f9fa0487d580bb011b40829a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/libkscreen-5.11.4.tar.xz">libkscreen-5.11.4</a></td>
   <td align="right">91kB</td>
   <td><tt>ede7b9baa5c236f1637d0236d7c2dc3f9cf3ea30e7a0aecc8fa0d25bbfc1636b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/libksysguard-5.11.4.tar.xz">libksysguard-5.11.4</a></td>
   <td align="right">553kB</td>
   <td><tt>581d942e7101c0acdaecf5cb3f736bfaa98c47eee043ff01ba749dedd021c4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/milou-5.11.4.tar.xz">milou-5.11.4</a></td>
   <td align="right">55kB</td>
   <td><tt>7865ba9d5cc8d08b4d91578d25e8b3ea5a95bbe6962426d6108a13262b7b06ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/oxygen-5.11.4.tar.xz">oxygen-5.11.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>bf9cb9a60655ee37597a7fe207ea9ba55519fcc25063e18bdb8065c38110da6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-desktop-5.11.4.tar.xz">plasma-desktop-5.11.4</a></td>
   <td align="right">8.0MB</td>
   <td><tt>38efe3488375093fe2efbd50ddd9ea2d2b0381867dfcaefb7ca70b54a24bac29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-integration-5.11.4.tar.xz">plasma-integration-5.11.4</a></td>
   <td align="right">51kB</td>
   <td><tt>d338df0dd293734371e3bb93c17bf52e84f5f4388464d7d51dc0bdcbf5a22a72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-nm-5.11.4.tar.xz">plasma-nm-5.11.4</a></td>
   <td align="right">678kB</td>
   <td><tt>b1f9af0a150d3525e9320ef24e1a04197a57d7c1dff91ff6c3ae0d9d4c534bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-pa-5.11.4.tar.xz">plasma-pa-5.11.4</a></td>
   <td align="right">82kB</td>
   <td><tt>7c5d2ca8797cb5b901c3fed1fa4a1b3aeaaa9d87c0d1108779b12f377427e37d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-sdk-5.11.4.tar.xz">plasma-sdk-5.11.4</a></td>
   <td align="right">243kB</td>
   <td><tt>dd92d7a662d26524a15f3c0f7c256b68ac949cd5f8b167daa4cf7f61f52d3a6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-tests-5.11.4.tar.xz">plasma-tests-5.11.4</a></td>
   <td align="right">1kB</td>
   <td><tt>ca61d9c9939d11a26e3717d1ae79b163c39140e74f312ff1a81a6b46909a2ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-vault-5.11.4.tar.xz">plasma-vault-5.11.4</a></td>
   <td align="right">89kB</td>
   <td><tt>e077bf7da99af0e840feefb5e48a648bb67602d63f43d650ea44821fa1c9d5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-workspace-5.11.4.tar.xz">plasma-workspace-5.11.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>a83bfcd753ae0e9cea2273a29f9445d178cdf288e43da4781eee7dc63e3236e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plasma-workspace-wallpapers-5.11.4.tar.xz">plasma-workspace-wallpapers-5.11.4</a></td>
   <td align="right">43MB</td>
   <td><tt>70d2293dd0691375e7b0c9fa8c08a0b159ea222f653bb5136e4ea056501c0627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/plymouth-kcm-5.11.4.tar.xz">plymouth-kcm-5.11.4</a></td>
   <td align="right">35kB</td>
   <td><tt>2da773c3f63d093f16b92af8308b510a0120b4bf0cb0505b7060f53182795e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/polkit-kde-agent-1-5.11.4.tar.xz">polkit-kde-agent-1-5.11.4</a></td>
   <td align="right">40kB</td>
   <td><tt>9cb9e992066acc0ae4a48fb854b5680188f3dc00e3b95b69580336b32c519900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/powerdevil-5.11.4.tar.xz">powerdevil-5.11.4</a></td>
   <td align="right">371kB</td>
   <td><tt>327bfe3d5d0466ddd406784332a33ffedb2f85c515565b310f1bebb23bb2cc32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/sddm-kcm-5.11.4.tar.xz">sddm-kcm-5.11.4</a></td>
   <td align="right">58kB</td>
   <td><tt>4350407822a3ab5b76b154ad34923e749c3d049fe690c35a98d024f1d72b15ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/systemsettings-5.11.4.tar.xz">systemsettings-5.11.4</a></td>
   <td align="right">168kB</td>
   <td><tt>63d12c2a9f53d7cd5ebb9ab1f251594bb44f69013baef3ea176cc1028a2ba5c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/user-manager-5.11.4.tar.xz">user-manager-5.11.4</a></td>
   <td align="right">532kB</td>
   <td><tt>a5b031027edc248871a9e7fa6920167c605e4ffdf8d0272e5fa768cbb19ae657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.4/xdg-desktop-portal-kde-5.11.4.tar.xz">xdg-desktop-portal-kde-5.11.4</a></td>
   <td align="right">30kB</td>
   <td><tt>a22c197cdef00ffec828aa7bf5a670af9c1bc8d6247d4f582e9276ed96614f98</tt></td>
</tr>

</table>
