<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/bluedevil-6.0.90.tar.xz">bluedevil-6.0.90</a></td>
   <td align="right">365kB</td>
   <td><tt>7e6625637e92140017690b5e39e0283f09fb23637f9565b0fc06c4aebfefbf21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/breeze-6.0.90.tar.xz">breeze-6.0.90</a></td>
   <td align="right">55MB</td>
   <td><tt>494b0b2896d5ef3a8627a8832bbee817cdee1d0c270743e18652e3db83dff3b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/breeze-grub-6.0.90.tar.xz">breeze-grub-6.0.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6b366d4b33b0bc8e3e0abb9476072f411cdafdcb0521814eccc237334d57c451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/breeze-gtk-6.0.90.tar.xz">breeze-gtk-6.0.90</a></td>
   <td align="right">39kB</td>
   <td><tt>fd75d59e403e76632928c21213519d8ee07bcbac4bee0dffb72ce55b7122de73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/breeze-plymouth-6.0.90.tar.xz">breeze-plymouth-6.0.90</a></td>
   <td align="right">108kB</td>
   <td><tt>439ccf311392dc20278c0fc13d85f79b830f68e8d8efd1c65f437f152ca06db7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/discover-6.0.90.tar.xz">discover-6.0.90</a></td>
   <td align="right">992kB</td>
   <td><tt>d602d1866541e1b3c0b87ef81bb71f984198a781b1f6783b3ab68829644cdaca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/drkonqi-6.0.90.tar.xz">drkonqi-6.0.90</a></td>
   <td align="right">857kB</td>
   <td><tt>94097b33c775fdb47ef98bb3aef8558cde065ad9de1554bfc3da672038654a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/flatpak-kcm-6.0.90.tar.xz">flatpak-kcm-6.0.90</a></td>
   <td align="right">236kB</td>
   <td><tt>3df5ea5974222477f5f2f6b6f22dc8a8e6b422e8954012d64e255b7cc855af1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kactivitymanagerd-6.0.90.tar.xz">kactivitymanagerd-6.0.90</a></td>
   <td align="right">107kB</td>
   <td><tt>63ee8a8ef48f2b81ee3c3a2ce53f0ed1773d4a7d429610a7090bcc1ff97d6d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kde-cli-tools-6.0.90.tar.xz">kde-cli-tools-6.0.90</a></td>
   <td align="right">613kB</td>
   <td><tt>04d8ff186bfbb7e4b25716ec38d77b98173eb0d91c0b31eaba832aa3bf6981e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kdecoration-6.0.90.tar.xz">kdecoration-6.0.90</a></td>
   <td align="right">53kB</td>
   <td><tt>07fd9a7f7e7ba88786c5cc40dd1b2e444598fb6ae60aca48500196da31209425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kde-gtk-config-6.0.90.tar.xz">kde-gtk-config-6.0.90</a></td>
   <td align="right">76kB</td>
   <td><tt>ba2675b37a08af27d4e853568f9709d67d510b26a8402a594c30f2b0f938d3fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kdeplasma-addons-6.0.90.tar.xz">kdeplasma-addons-6.0.90</a></td>
   <td align="right">863kB</td>
   <td><tt>d9321d77f5234cb90ec92e4dc3764f2bf9f88d9fce9e8202d538b86cb3acd4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kgamma-6.0.90.tar.xz">kgamma-6.0.90</a></td>
   <td align="right">84kB</td>
   <td><tt>8d8c5d65d861324bb5b0424b6db9dedce15e7735cdb698f1fa597933b34acdf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kglobalacceld-6.0.90.tar.xz">kglobalacceld-6.0.90</a></td>
   <td align="right">54kB</td>
   <td><tt>deafba2c91ce300db640efff4b7005b9474f33a6296c82c88ced51f92155a068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kinfocenter-6.0.90.tar.xz">kinfocenter-6.0.90</a></td>
   <td align="right">702kB</td>
   <td><tt>dee79e0d39c17b51f51b39252eaa318eade097ed7177af00b65515f737f3436e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kmenuedit-6.0.90.tar.xz">kmenuedit-6.0.90</a></td>
   <td align="right">850kB</td>
   <td><tt>9c10476a83b82859194f7da975d07160ab6aff13c876d53dd39cb5aff7a5b74d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kpipewire-6.0.90.tar.xz">kpipewire-6.0.90</a></td>
   <td align="right">144kB</td>
   <td><tt>c7791201e59bbe1e229deb0dfd7a46a56df221213e0a012f9fe0a5d6e0440e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/krdp-6.0.90.tar.xz">krdp-6.0.90</a></td>
   <td align="right">72kB</td>
   <td><tt>5449cc9f1a00454f670f0167cd8056231d2feb5111e99501a6ecfa53cb483dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kscreen-6.0.90.tar.xz">kscreen-6.0.90</a></td>
   <td align="right">203kB</td>
   <td><tt>292f6f4bbf28b95148f7c4039d75634aff429d208302ee103525a465537e0d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kscreenlocker-6.0.90.tar.xz">kscreenlocker-6.0.90</a></td>
   <td align="right">175kB</td>
   <td><tt>c6decbcbce6b27ec0898db0268b1bb434bd24d5fdb32fce3442c493e9408942b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/ksshaskpass-6.0.90.tar.xz">ksshaskpass-6.0.90</a></td>
   <td align="right">28kB</td>
   <td><tt>6ead2a36c50e7c44aad2faea50231283cd094bbc80e083290bc57957b215b8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/ksystemstats-6.0.90.tar.xz">ksystemstats-6.0.90</a></td>
   <td align="right">124kB</td>
   <td><tt>e15f555af3c368362b87ff68307503daa3d2c4939381355a3466146c50813657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kwallet-pam-6.0.90.tar.xz">kwallet-pam-6.0.90</a></td>
   <td align="right">22kB</td>
   <td><tt>6237c47dfd5eb4bea8f38f24d6edd759b556ad2fa1c707deaf41f61ccdad3685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kwayland-6.0.90.tar.xz">kwayland-6.0.90</a></td>
   <td align="right">130kB</td>
   <td><tt>736db651cb0471c8c1bb1965a46bd5e94de4a99a5787ce2d87d41a3e3d7a1313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kwayland-integration-6.0.90.tar.xz">kwayland-integration-6.0.90</a></td>
   <td align="right">25kB</td>
   <td><tt>61bc14b8c43b9f1da326e7aa202992b9c3f2d2ddc92054d5a9585151ceea265b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kwin-6.0.90.1.tar.xz">kwin-6.0.90.1</a></td>
   <td align="right">8.0MB</td>
   <td><tt>572c210d8e67db171933522baf0f1f394d94b43501fb25f574424d6de15950c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/kwrited-6.0.90.tar.xz">kwrited-6.0.90</a></td>
   <td align="right">23kB</td>
   <td><tt>86eec0d030a0d3c48e049211e6e0260dbafe227e17fcf1bf4206ef0a64c9a1c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/layer-shell-qt-6.0.90.tar.xz">layer-shell-qt-6.0.90</a></td>
   <td align="right">35kB</td>
   <td><tt>4a5188f51d9a65784dbf27a1e5c9c1ef028597d5d02acd6d52fcecd6242a796f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/libkscreen-6.0.90.tar.xz">libkscreen-6.0.90</a></td>
   <td align="right">116kB</td>
   <td><tt>4edac0cec6fc4e8c30dd7c604c87277693fedc5ace5bc82874742985d7010339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/libksysguard-6.0.90.tar.xz">libksysguard-6.0.90</a></td>
   <td align="right">296kB</td>
   <td><tt>0fc7d9ea227f1ea28afb9df59d1b33ab34a04e49fe1edf1e7bb43db520fb685c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/libplasma-6.0.90.tar.xz">libplasma-6.0.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ea025bd220ce35363aa5b8e43ab7a5626a57ae5a65e68b19dbbac34b4aa2336a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/milou-6.0.90.tar.xz">milou-6.0.90</a></td>
   <td align="right">48kB</td>
   <td><tt>8e8436162677a3c9efd7581413ec4ed103218fcbf4cccb99417fcce810ca3107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/ocean-sound-theme-6.0.90.tar.xz">ocean-sound-theme-6.0.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>01d82752ae20452ae51042474f7998f75f3bb27c125a227ea5b8228500ce7fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/oxygen-6.0.90.tar.xz">oxygen-6.0.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e41053a352d270cfd5f09f956085271fc70e507c078bf4342ea8c1f917a1c39e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/oxygen-sounds-6.0.90.tar.xz">oxygen-sounds-6.0.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7c2cbab261cde89cd35cf35a4f49f3286e0f25fb0fe014d00c6c5655aa32aa27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma5support-6.0.90.tar.xz">plasma5support-6.0.90</a></td>
   <td align="right">84kB</td>
   <td><tt>704251622390ea3068afac4e02efaff309de71564a8c53744d3fd4bee1f7a68f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-activities-6.0.90.tar.xz">plasma-activities-6.0.90</a></td>
   <td align="right">69kB</td>
   <td><tt>2283394c5349e9e32c4eafee61231949d77b524ea4e38c082377eb083b0bc4e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-activities-stats-6.0.90.tar.xz">plasma-activities-stats-6.0.90</a></td>
   <td align="right">81kB</td>
   <td><tt>f56d07a2fbb50130da706313b569d20265e2e0e91ac7f422742f0a142915255c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-browser-integration-6.0.90.tar.xz">plasma-browser-integration-6.0.90</a></td>
   <td align="right">217kB</td>
   <td><tt>5eee43e16006d160b788888679309dc53cdc836f1a8b6ff21161eb4268de2849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-desktop-6.0.90.tar.xz">plasma-desktop-6.0.90</a></td>
   <td align="right">15MB</td>
   <td><tt>5eec3a0003b605dad675ef2c6872102a714b5d8cd6bea656f72cc7d4aaf9b034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-disks-6.0.90.tar.xz">plasma-disks-6.0.90</a></td>
   <td align="right">98kB</td>
   <td><tt>412c901f8db82f618e28ab95da070b8234613e8965642825c6611f5489ba0693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-firewall-6.0.90.tar.xz">plasma-firewall-6.0.90</a></td>
   <td align="right">364kB</td>
   <td><tt>f3587b404108577afd04d7bc1c12701fdca75a24951270fc11421d10dc533099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-integration-6.0.90.tar.xz">plasma-integration-6.0.90</a></td>
   <td align="right">90kB</td>
   <td><tt>e63f22c0ab13367a29c22c4339b64ac15d70e7d40a287faf327aee13d11dab5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-mobile-6.0.90.tar.xz">plasma-mobile-6.0.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>f52704231fac54021509286531963558c2514bc8723092f75eb5dce1ff159cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-nano-6.0.90.tar.xz">plasma-nano-6.0.90</a></td>
   <td align="right">76kB</td>
   <td><tt>7d868997c2e93ebc4de010d2244e9bf9fcc159fdee6bc3461f6425904aa85fc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-nm-6.0.90.tar.xz">plasma-nm-6.0.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a6e458b2de2a8dd98c46dd2153131b5c7f233581a5c91b95802d9ca392c41b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-pa-6.0.90.tar.xz">plasma-pa-6.0.90</a></td>
   <td align="right">158kB</td>
   <td><tt>7e30c6bf463d663e801a8ccbf55493c4548749eb711149e5f656fde09ed4e5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-sdk-6.0.90.tar.xz">plasma-sdk-6.0.90</a></td>
   <td align="right">318kB</td>
   <td><tt>8a073e6a882f11d651055b88baaa45827d6e8c5178e17eeb48f3f5823b0ffff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-systemmonitor-6.0.90.tar.xz">plasma-systemmonitor-6.0.90</a></td>
   <td align="right">183kB</td>
   <td><tt>0c29edbf81f2bb03e9a954905dc621216f43a0943e1edd76e942a7f423780381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-thunderbolt-6.0.90.tar.xz">plasma-thunderbolt-6.0.90</a></td>
   <td align="right">77kB</td>
   <td><tt>f38432e751d514be6b6d121f61f5a60cb247d7033638e62c1ffd7532d04a0f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-vault-6.0.90.tar.xz">plasma-vault-6.0.90</a></td>
   <td align="right">196kB</td>
   <td><tt>f667a5d7dd54e22a34a72c60dbf759573317ea88b738edae61bfa56855ee4913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-welcome-6.0.90.tar.xz">plasma-welcome-6.0.90</a></td>
   <td align="right">641kB</td>
   <td><tt>d59e4a9c60f33e8dafacba23764132b878fcbe45cb7c36f8eb24b990cecd103b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-workspace-6.0.90.tar.xz">plasma-workspace-6.0.90</a></td>
   <td align="right">18MB</td>
   <td><tt>16e2c03aadf4369fa68d102005d24c6151f1f540dabfa78903551e02164814bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plasma-workspace-wallpapers-6.0.90.tar.xz">plasma-workspace-wallpapers-6.0.90</a></td>
   <td align="right">95MB</td>
   <td><tt>7e3a53b2769227fb4c5987070e28436934c367536789f27c5b41884a7cbc3137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/plymouth-kcm-6.0.90.tar.xz">plymouth-kcm-6.0.90</a></td>
   <td align="right">45kB</td>
   <td><tt>aab87e3108bb18af331cab2d2b30b6036fafde2d8eb483eef843af66381fc2ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/polkit-kde-agent-1-6.0.90.tar.xz">polkit-kde-agent-1-6.0.90</a></td>
   <td align="right">55kB</td>
   <td><tt>6e44ee2ba88236c22b1f938ca5f4de40192d906a6e98c655a9628b5707c010e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/powerdevil-6.0.90.tar.xz">powerdevil-6.0.90</a></td>
   <td align="right">933kB</td>
   <td><tt>a98ff0800b0fb8b6a7077916dacdb1abd7e726f3828f45de62f09dceae04f47a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/print-manager-6.0.90.tar.xz">print-manager-6.0.90</a></td>
   <td align="right">356kB</td>
   <td><tt>22f2643c2872c5a20a7939a00517ef2eb21a6243b0db8f184689967d141ca2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/qqc2-breeze-style-6.0.90.tar.xz">qqc2-breeze-style-6.0.90</a></td>
   <td align="right">64kB</td>
   <td><tt>11e3d6a883d38ae07408bd84398bdd04bbcd2ca598e318714e040f8f338f74ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/sddm-kcm-6.0.90.tar.xz">sddm-kcm-6.0.90</a></td>
   <td align="right">96kB</td>
   <td><tt>94bfae8b7a65e2082e10eab09511e7e6973b37693a41d11a8e89426018dffe7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/systemsettings-6.0.90.tar.xz">systemsettings-6.0.90</a></td>
   <td align="right">208kB</td>
   <td><tt>fbed131bd63dea1320f2bb561fcf9cdbe2f8ee42b57a32c7a4c63cf3ca6cd5d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/wacomtablet-6.0.90.tar.xz">wacomtablet-6.0.90</a></td>
   <td align="right">810kB</td>
   <td><tt>3d15d8f520597b1504e042a6086b7697827ffc7a023305d477b956f789f21362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/6.0.90/xdg-desktop-portal-kde-6.0.90.tar.xz">xdg-desktop-portal-kde-6.0.90</a></td>
   <td align="right">166kB</td>
   <td><tt>3b94739bc6ff092b70ebb47f4036e8bb7cdff52636f01acf9f62446571f7d258</tt></td>
</tr>

</table>
