<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/bluedevil-5.90.0.tar.xz">bluedevil-5.90.0</a></td>
   <td align="right">358kB</td>
   <td><tt>ce109633d8f143bb8683447b74ad7dbc4360d590aeb4d7f1c7fa622a97d3dc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/breeze-5.90.0.tar.xz">breeze-5.90.0</a></td>
   <td align="right">82MB</td>
   <td><tt>4cb72caf869687f841f86a652885ba21fd5db9c0c5e08accc98531457d0117a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/breeze-grub-5.90.0.tar.xz">breeze-grub-5.90.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>97a92569c2da281632635281e024dffdf247ef659ed413b0736c172f10326356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/breeze-gtk-5.90.0.tar.xz">breeze-gtk-5.90.0</a></td>
   <td align="right">39kB</td>
   <td><tt>f4f5228a413b64619c87925a3cda6b77f6e8d18ffbbc607618d507364abb00ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/breeze-plymouth-5.90.0.tar.xz">breeze-plymouth-5.90.0</a></td>
   <td align="right">108kB</td>
   <td><tt>d357dd09290575a04c64f1fa9fdad143554648c98973014bbbf14f7d5b06153f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/discover-5.90.0.tar.xz">discover-5.90.0</a></td>
   <td align="right">947kB</td>
   <td><tt>0faaab1a765e2a2ab04ee3a48fceac23822f61e382d59ceed54689767f7b019f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/drkonqi-5.90.0.tar.xz">drkonqi-5.90.0</a></td>
   <td align="right">860kB</td>
   <td><tt>7e4446f342e355d390f117a2f19d7dd0c0691997ae31672c541533dd0c239022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/flatpak-kcm-5.90.0.tar.xz">flatpak-kcm-5.90.0</a></td>
   <td align="right">229kB</td>
   <td><tt>b68ddf96a06efbd35480bd3dda0273e65f5fd257518254b5987b8dd27336af56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kactivitymanagerd-5.90.0.tar.xz">kactivitymanagerd-5.90.0</a></td>
   <td align="right">107kB</td>
   <td><tt>243787eedd0b85acf6d6fa0d4c680033e69617489584fb4fb9f6e1e7dc12df44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kde-cli-tools-5.90.0.tar.xz">kde-cli-tools-5.90.0</a></td>
   <td align="right">606kB</td>
   <td><tt>6a7e11387d97c8e4905fcbc37d8fc7226c631d06124ad2e134002ce087b9c22b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kdecoration-5.90.0.tar.xz">kdecoration-5.90.0</a></td>
   <td align="right">53kB</td>
   <td><tt>63120fe05aea12fd519fcae9bfbfdd5f6efc3fdebcf1eeae446f01c284f4f16e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kde-gtk-config-5.90.0.tar.xz">kde-gtk-config-5.90.0</a></td>
   <td align="right">76kB</td>
   <td><tt>bc23e237b03a3ec150d304ba0fba4a3efc72dffbca29b86af74c8b024bb4db47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kdeplasma-addons-5.90.0.tar.xz">kdeplasma-addons-5.90.0</a></td>
   <td align="right">839kB</td>
   <td><tt>18a57857f5c614f90688842d0e08ecbb0ade86816d3136d353781194f4bcee9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kgamma-5.90.0.tar.xz">kgamma-5.90.0</a></td>
   <td align="right">84kB</td>
   <td><tt>38a5e559392d6f5357f32415416bfcc03b9e54e1c6054b948fc92f7f5647a939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kglobalacceld-5.90.0.tar.xz">kglobalacceld-5.90.0</a></td>
   <td align="right">50kB</td>
   <td><tt>f14455962f0ea551758a1ab5abdfb9acb4fa3cf48c3122b451a95782f1aa60db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kinfocenter-5.90.0.tar.xz">kinfocenter-5.90.0</a></td>
   <td align="right">804kB</td>
   <td><tt>a1a70abe23345035761e5b337f419d0286f9eb8f3f679a1a4707103be4e34214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kmenuedit-5.90.0.tar.xz">kmenuedit-5.90.0</a></td>
   <td align="right">908kB</td>
   <td><tt>816a580d69a620dc2f99c47fd5aed2ebd23d99d6c142095fb67eeeb18ed81488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kpipewire-5.90.0.tar.xz">kpipewire-5.90.0</a></td>
   <td align="right">140kB</td>
   <td><tt>631f410de2fb25e12dda1c5b2d885af584a92bdde271bb3628113575b7840e5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kscreen-5.90.0.tar.xz">kscreen-5.90.0</a></td>
   <td align="right">188kB</td>
   <td><tt>31d61d108d0c400f2cece4650a77153a8fae9d761d482badd5b281686b29424e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kscreenlocker-5.90.0.tar.xz">kscreenlocker-5.90.0</a></td>
   <td align="right">159kB</td>
   <td><tt>d10b64225cb17a264d2f7135ec64e1f06ce781434d2aab9e06171646b078c14a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/ksshaskpass-5.90.0.tar.xz">ksshaskpass-5.90.0</a></td>
   <td align="right">28kB</td>
   <td><tt>01fe3ef2131cbffeb0e32b722a5fddcc32ffb2a7d4fa07cde0f2e075424d12fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/ksystemstats-5.90.0.tar.xz">ksystemstats-5.90.0</a></td>
   <td align="right">119kB</td>
   <td><tt>e7a5d5cd2dcfe61dd9921327478c13cea0dcf317f8b1b3809bdcbc7193a37a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kwallet-pam-5.90.0.tar.xz">kwallet-pam-5.90.0</a></td>
   <td align="right">22kB</td>
   <td><tt>9d6a1b1637024e65820f137d2ac539bdbbd8072c4905ce97e56229046ca26b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kwayland-5.90.0.tar.xz">kwayland-5.90.0</a></td>
   <td align="right">130kB</td>
   <td><tt>1a749c4515f17f33e3a7609fa24caf8d20945c6406250745d7c632b4dffc9ab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kwayland-integration-5.90.0.tar.xz">kwayland-integration-5.90.0</a></td>
   <td align="right">25kB</td>
   <td><tt>b683163ad0cff04f27e7cd216ddb08a6f8a66b78a37e2ab044bf6e4c9842ae4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kwin-5.90.0.tar.xz">kwin-5.90.0</a></td>
   <td align="right">7.4MB</td>
   <td><tt>4866568edb9d2bae8e3570a7a492a36b2f2483f9d3a520eb88a62cbfdd54a5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/kwrited-5.90.0.tar.xz">kwrited-5.90.0</a></td>
   <td align="right">23kB</td>
   <td><tt>e60d54e9b1f08c46d9f2d84b2b7798172b5960ce031c92e7c3a3d4e4e8dadcb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/layer-shell-qt-5.90.0.tar.xz">layer-shell-qt-5.90.0</a></td>
   <td align="right">19kB</td>
   <td><tt>ccda2aa681bdeb3128cb03e80954b8b36dcdb6eb53b0cd99928f721dd32c00df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/libkscreen-5.90.0.tar.xz">libkscreen-5.90.0</a></td>
   <td align="right">114kB</td>
   <td><tt>d16732a0e1eb90dd08272029f311f2742867f582a14cdd13afdf50cb4c8102d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/libksysguard-5.90.0.tar.xz">libksysguard-5.90.0</a></td>
   <td align="right">873kB</td>
   <td><tt>c12c0f854d808a14b93e8b025ceb610e1146116fb44628ec4dc4d49fb400d47c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/libplasma-5.90.0.tar.xz">libplasma-5.90.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>aa99703d6434816b669c2c37a031110df40facc022d803211d39805c6d4a78e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/milou-5.90.0.tar.xz">milou-5.90.0</a></td>
   <td align="right">47kB</td>
   <td><tt>cab188bde4a611d6398a6c9a98dc39a23b978ba313087c9b08d66cfd5c52e334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/ocean-sound-theme-5.90.0.tar.xz">ocean-sound-theme-5.90.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>68de6c427b960004c04eb1e2fae1d1223e4576cf7be25bd6338ea5c5f58c6f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/oxygen-5.90.0.tar.xz">oxygen-5.90.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fde31aa07f76385bd41d1c428de2b98322222352c84e4cf9dae54f4aaeea8ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/oxygen-sounds-5.90.0.tar.xz">oxygen-sounds-5.90.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>716a36d4a2142018a249c8642f8117c510f91a0626d8cafa0afe29268894320c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma5support-5.90.0.tar.xz">plasma5support-5.90.0</a></td>
   <td align="right">53kB</td>
   <td><tt>c910d9addd62c4c1ffefb7ab5476418ae8b179e42c4b259a4fe3e80da95b8bfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-activities-5.90.0.tar.xz">plasma-activities-5.90.0</a></td>
   <td align="right">69kB</td>
   <td><tt>20e4a29ca6376f28f74c700febf3d8ea0cd4b0d91fe731080fafa43908f8d1a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-activities-stats-5.90.0.tar.xz">plasma-activities-stats-5.90.0</a></td>
   <td align="right">81kB</td>
   <td><tt>42c7ad00fa952ba3948fc49e135516afcd7e039467cc216df643766055349e3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-browser-integration-5.90.0.tar.xz">plasma-browser-integration-5.90.0</a></td>
   <td align="right">212kB</td>
   <td><tt>e2e7c5456034c8735bea4ceb8b6d34018a47d069316fc1a0228eefb0a9c98321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-desktop-5.90.0.tar.xz">plasma-desktop-5.90.0</a></td>
   <td align="right">13MB</td>
   <td><tt>803a21727597b2cfa9a6b80f11f40c6da838b030915e02873091674da2ae3f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-disks-5.90.0.tar.xz">plasma-disks-5.90.0</a></td>
   <td align="right">97kB</td>
   <td><tt>97e3674dcf2e98dc4faf487ae0256578f1c6a81bfc84da7c1c7445a6c8ca8a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-firewall-5.90.0.tar.xz">plasma-firewall-5.90.0</a></td>
   <td align="right">358kB</td>
   <td><tt>e9c7dd426b28a4b86685d343264d4bf392db44fd526d55a45bf27cf96c09070c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-integration-5.90.0.tar.xz">plasma-integration-5.90.0</a></td>
   <td align="right">89kB</td>
   <td><tt>fd5258a40703c7481505fb6864ac74272061d52b24183ee779176f87a3eac855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-mobile-5.90.0.tar.xz">plasma-mobile-5.90.0</a></td>
   <td align="right">7.3MB</td>
   <td><tt>0ab436cec569ffc2593deab0a148cd3a9dd0d2fa91fa72052d0e47c13cd05558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-nano-5.90.0.tar.xz">plasma-nano-5.90.0</a></td>
   <td align="right">74kB</td>
   <td><tt>5e1da28ab7db8d40b80fee410d83f32ce79228533d1cce4b744711f47a524b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-nm-5.90.0.tar.xz">plasma-nm-5.90.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1b9a84eb31bb3ee661ba93e6d9f09b933253746f680aeb0474971e383460ac67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-pa-5.90.0.tar.xz">plasma-pa-5.90.0</a></td>
   <td align="right">164kB</td>
   <td><tt>afc17d4996eef0c14324987876d05a451dd7778822e59d3c7b1c64e59791c3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-sdk-5.90.0.tar.xz">plasma-sdk-5.90.0</a></td>
   <td align="right">317kB</td>
   <td><tt>cd74dd7a8dc6c737d017786b19d33ff734e3159ecd75fccea549dda8ceb5575a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-systemmonitor-5.90.0.tar.xz">plasma-systemmonitor-5.90.0</a></td>
   <td align="right">176kB</td>
   <td><tt>557aad1fae01ad9038637a07c20e228af052754115e13578b3d510901e7862d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-thunderbolt-5.90.0.tar.xz">plasma-thunderbolt-5.90.0</a></td>
   <td align="right">72kB</td>
   <td><tt>c743c88a6a1eda822906bb88bad1d66c5a8086c68b4da0fc56e280b884254fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-vault-5.90.0.tar.xz">plasma-vault-5.90.0</a></td>
   <td align="right">187kB</td>
   <td><tt>360a5a96a52a2bbc5ea426838d08e415c8ad49fa0d5d3539aaf482e60b77a841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-welcome-5.90.0.tar.xz">plasma-welcome-5.90.0</a></td>
   <td align="right">867kB</td>
   <td><tt>c3d016175dedbbfaa2a5e9e06c0305e39c4479fd9941252f982b8f8017b25f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-workspace-5.90.0.tar.xz">plasma-workspace-5.90.0</a></td>
   <td align="right">18MB</td>
   <td><tt>e3987220a0f4c635532687cc463368009320f3c96adac82725640296bc86d61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plasma-workspace-wallpapers-5.90.0.tar.xz">plasma-workspace-wallpapers-5.90.0</a></td>
   <td align="right">89MB</td>
   <td><tt>f9e84884f898dc8dbf3f027a969344e368b4fc64f1b563136d44b2b6c53750f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/plymouth-kcm-5.90.0.tar.xz">plymouth-kcm-5.90.0</a></td>
   <td align="right">44kB</td>
   <td><tt>60672307ce33a518035d6ad09c61cfcd2da3af0ec9a8916463077909a731de43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/polkit-kde-agent-1-5.90.0.tar.xz">polkit-kde-agent-1-5.90.0</a></td>
   <td align="right">50kB</td>
   <td><tt>b33d69f92d68f9a065729ea6a9624a9a71e5497c1ea551a5b1cc68464c09d1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/powerdevil-5.90.0.tar.xz">powerdevil-5.90.0</a></td>
   <td align="right">780kB</td>
   <td><tt>540e1dfe5c906c78b5d198977dc28525da89f0b0934f3cb4c4adaeeeb1f6afff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/print-manager-5.90.0.tar.xz">print-manager-5.90.0</a></td>
   <td align="right">315kB</td>
   <td><tt>9e1f7a62e965cafb093ba77a6bdecc871e1c79c01e7b30f91effcf139d8930d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/qqc2-breeze-style-5.90.0.tar.xz">qqc2-breeze-style-5.90.0</a></td>
   <td align="right">64kB</td>
   <td><tt>3b1c6ef8fc6a031b547068c4a033043454ba9b4f708cdc58157cfd8ea768bbed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/sddm-kcm-5.90.0.tar.xz">sddm-kcm-5.90.0</a></td>
   <td align="right">93kB</td>
   <td><tt>13ecaefd4c3b0e333432da226b9960956d8a4866cb2afbdc85953cf82098695f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/systemsettings-5.90.0.tar.xz">systemsettings-5.90.0</a></td>
   <td align="right">212kB</td>
   <td><tt>66ebe0aa02ce794f6d642f0d4554a996f76f08ff619a99d1098d2289d0398519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/wacomtablet-5.90.0.tar.xz">wacomtablet-5.90.0</a></td>
   <td align="right">804kB</td>
   <td><tt>3f5578f9eccc0b880b0e84a790c6858558a17185fda9282dafeb2c32e4992f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.90.0/xdg-desktop-portal-kde-5.90.0.tar.xz">xdg-desktop-portal-kde-5.90.0</a></td>
   <td align="right">155kB</td>
   <td><tt>c6cad48a78b50e403b4323bcedefef7d239ac82b46d8b2bd99943f236b1e9fdc</tt></td>
</tr>

</table>
