<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/bluedevil-6.2.1.tar.xz">bluedevil-6.2.1</a></td>
   <td align="right">379kB</td>
   <td><tt>0743b9a82ca78f685ac8df2d99309afdcfecd8f86732a96d2cd66f4191ce4b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/breeze-6.2.1.tar.xz">breeze-6.2.1</a></td>
   <td align="right">105MB</td>
   <td><tt>f755fff73d1c4dc61b6872187ced8cc6f868e0ef6556599a9731508552f8dc9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/breeze-grub-6.2.1.tar.xz">breeze-grub-6.2.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c261c3e777501ddd65acb2a2cbdd1f92c54148a3c5c327348be5f1b0f7090971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/breeze-gtk-6.2.1.tar.xz">breeze-gtk-6.2.1</a></td>
   <td align="right">39kB</td>
   <td><tt>8b5478d6b705683f0c2c075ce83e1137ad97ed644d1a339d8f982c4dc123ef0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/breeze-plymouth-6.2.1.tar.xz">breeze-plymouth-6.2.1</a></td>
   <td align="right">108kB</td>
   <td><tt>7ac170a30859d44db34f8f86396f003f210931df16520a6962414fb005eace12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/discover-6.2.1.tar.xz">discover-6.2.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>71ed2df481441ef69e1d5c6f0997f0376d83a8714851c6d014d1164bc8ee6d91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/drkonqi-6.2.1.tar.xz">drkonqi-6.2.1</a></td>
   <td align="right">862kB</td>
   <td><tt>5e4dbad19a0ab70805b11fed18eedb9a15bb1753bc44448a92db3c9694565550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/flatpak-kcm-6.2.1.tar.xz">flatpak-kcm-6.2.1</a></td>
   <td align="right">241kB</td>
   <td><tt>c8a1f04801173ea4c4664b6493ff068b390bd402f71ab28122b6bbe71cf95987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kactivitymanagerd-6.2.1.tar.xz">kactivitymanagerd-6.2.1</a></td>
   <td align="right">104kB</td>
   <td><tt>bdd82059622a9baa01e18e0e4bb251a14c841b9da61a38e5568886c3093c8cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kde-cli-tools-6.2.1.tar.xz">kde-cli-tools-6.2.1</a></td>
   <td align="right">623kB</td>
   <td><tt>f0773722680983bd23751de754e97d4a6c4b7cffc8fcecc580f1472b87913629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kdecoration-6.2.1.tar.xz">kdecoration-6.2.1</a></td>
   <td align="right">53kB</td>
   <td><tt>93800b3df82d0cf7fc22e4cdf7db67c898bb194317251dc593344be042e99088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kde-gtk-config-6.2.1.tar.xz">kde-gtk-config-6.2.1</a></td>
   <td align="right">76kB</td>
   <td><tt>f563d416094b2b9378d4b80336de0dded03875d9eac71ff8843c104cb867e5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kdeplasma-addons-6.2.1.tar.xz">kdeplasma-addons-6.2.1</a></td>
   <td align="right">881kB</td>
   <td><tt>df200cd06b3e68c6639d7fc927d38ae2fa7f9fad0cb472df6a5a6e124a87b35a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kgamma-6.2.1.tar.xz">kgamma-6.2.1</a></td>
   <td align="right">85kB</td>
   <td><tt>3cf7730cf160fd68db37263efadeb6057f1fb25adf19cd8e5e865f4b88eee091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kglobalacceld-6.2.1.tar.xz">kglobalacceld-6.2.1</a></td>
   <td align="right">54kB</td>
   <td><tt>c133ed8f267f8e40e2029ff187efb30720f03c9e5f5e4da8cd85da0a00c9edd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kinfocenter-6.2.1.tar.xz">kinfocenter-6.2.1</a></td>
   <td align="right">714kB</td>
   <td><tt>504162e6c9ba91f3d1af0898debe2b6a9c3f515bffb589227e739907b68060eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kmenuedit-6.2.1.tar.xz">kmenuedit-6.2.1</a></td>
   <td align="right">856kB</td>
   <td><tt>c11429773de3e59eaae5958d1c7cbeba5e68dfba0e6e0badb5888f15a652c911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kpipewire-6.2.1.tar.xz">kpipewire-6.2.1</a></td>
   <td align="right">146kB</td>
   <td><tt>1675e2f06e20661a5d77400533d552a32a2d6dcc2d9eda02bca8e5adbbc243c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/krdp-6.2.1.tar.xz">krdp-6.2.1</a></td>
   <td align="right">91kB</td>
   <td><tt>90f4bf0419154b4d16132cb96f41bb0d493e53f9253e4219c8ce6d6925b6238f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kscreen-6.2.1.tar.xz">kscreen-6.2.1</a></td>
   <td align="right">206kB</td>
   <td><tt>3e32ae6c3787178a898318c02d5aea9b341ee8ce2922073feacf4dabe3f494cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kscreenlocker-6.2.1.tar.xz">kscreenlocker-6.2.1</a></td>
   <td align="right">177kB</td>
   <td><tt>c3a1730cd75ec8f87eda4c9b5b2f491d59d98b3d06c93f7c3721eea5690b6019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/ksshaskpass-6.2.1.tar.xz">ksshaskpass-6.2.1</a></td>
   <td align="right">29kB</td>
   <td><tt>b9c076fabc9ffbcef172eec284c1a8bde93bbbb60d7de7ea4aac8bc52e1acb72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/ksystemstats-6.2.1.tar.xz">ksystemstats-6.2.1</a></td>
   <td align="right">139kB</td>
   <td><tt>c3198a96216b48e8754e5dfc70a8f675af7b35def3fe063f727044839d45a073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kwallet-pam-6.2.1.tar.xz">kwallet-pam-6.2.1</a></td>
   <td align="right">21kB</td>
   <td><tt>47abefcdb179075a80eb710c796cdbe2db3432f05bde36ef81a9659c12be8f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kwayland-6.2.1.tar.xz">kwayland-6.2.1</a></td>
   <td align="right">130kB</td>
   <td><tt>bde074d09d96c7448416647c44ff3ed47ba55460353b32c00f55028ea8ea0c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kwayland-integration-6.2.1.tar.xz">kwayland-integration-6.2.1</a></td>
   <td align="right">25kB</td>
   <td><tt>fcbdea113cbc02a5b29c7ad5029a0bc705dcb69fb74d3a236437d479bc2b5767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kwin-6.2.1.1.tar.xz">kwin-6.2.1.1</a></td>
   <td align="right">8.1MB</td>
   <td><tt>42a73aab6c84c6dfcd7613686a39a490320c69d6d593a3c4c24578c62a1921e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/kwrited-6.2.1.tar.xz">kwrited-6.2.1</a></td>
   <td align="right">23kB</td>
   <td><tt>d234f2995e1cddaa247c69193bdaaaadd7d06092d7f04f1a0f2ce610b1dbdbff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/layer-shell-qt-6.2.1.tar.xz">layer-shell-qt-6.2.1</a></td>
   <td align="right">35kB</td>
   <td><tt>11e86d307f99e9a78697f4d0b4b11528e4a096228265dc66e58f299e6c397943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/libkscreen-6.2.1.tar.xz">libkscreen-6.2.1</a></td>
   <td align="right">116kB</td>
   <td><tt>0cf9136fca79b767d4cda5a704e2da05074f05f29bffe154afc20e633daf2ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/libksysguard-6.2.1.tar.xz">libksysguard-6.2.1</a></td>
   <td align="right">307kB</td>
   <td><tt>234ca085ba9b1467a9d78f0e27bf59c21e006629ed2d9e3732f872fe22e12983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/libplasma-6.2.1.tar.xz">libplasma-6.2.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8bafa9048b743deecf595a63a907a8e6fb4bd4e9cb17aac336068fa7b97b0a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/milou-6.2.1.tar.xz">milou-6.2.1</a></td>
   <td align="right">48kB</td>
   <td><tt>715c10ac3d1ef4c6cd630aeb96a5ac21f912039a9b2dbe7f1abcf3793d0f8cd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/ocean-sound-theme-6.2.1.tar.xz">ocean-sound-theme-6.2.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>54134a69a38f5331cce3567004f3c67d4d77de8c2ceea73596547153142fbcdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/oxygen-6.2.1.tar.xz">oxygen-6.2.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>6c6bd21704062e2e87b011da33f1b74e7f0949675f487bfc290d1a3266340b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/oxygen-sounds-6.2.1.tar.xz">oxygen-sounds-6.2.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0e20c617c855cd2fdc89905ea5865f479733ed04967cd90f9888e9e1a846ada9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma5support-6.2.1.tar.xz">plasma5support-6.2.1</a></td>
   <td align="right">186kB</td>
   <td><tt>4ea63353969ce5eb8fa5fbcd3f0378741a9517eb81a781cd58f611533b564e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-activities-6.2.1.tar.xz">plasma-activities-6.2.1</a></td>
   <td align="right">65kB</td>
   <td><tt>9f3b9f5a4af46aaa0aee8e7905df20747b46c838d699efa78876c3ea0d2146d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-activities-stats-6.2.1.tar.xz">plasma-activities-stats-6.2.1</a></td>
   <td align="right">81kB</td>
   <td><tt>706ce4769b4eb6140b09755c688a7dcb642d1791b471e2b625935c893c4a86a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-browser-integration-6.2.1.tar.xz">plasma-browser-integration-6.2.1</a></td>
   <td align="right">217kB</td>
   <td><tt>0758f6209da6c824a9978eef9427d1bf3d96187b1fcfc319a8c06082be71ed2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-desktop-6.2.1.tar.xz">plasma-desktop-6.2.1</a></td>
   <td align="right">15MB</td>
   <td><tt>1d4fe80c4f3d8eb765641295db28eb9173b076f05b8066617c7ba63a283bbfb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-dialer-6.2.1.tar.xz">plasma-dialer-6.2.1</a></td>
   <td align="right">122kB</td>
   <td><tt>ba389af0c78837a4d5bdc271f159b7b391939d35787b385312ee5e55287660a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-disks-6.2.1.tar.xz">plasma-disks-6.2.1</a></td>
   <td align="right">100kB</td>
   <td><tt>c03bd68e5e36cf93da927f92dc60cb44b874a906c93d2a160125633530ffc10a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-firewall-6.2.1.tar.xz">plasma-firewall-6.2.1</a></td>
   <td align="right">367kB</td>
   <td><tt>ae218afade6c1fcfecb4d4a97811fb1125ad557b57a298a6799fc63deae8a06d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-integration-6.2.1.tar.xz">plasma-integration-6.2.1</a></td>
   <td align="right">93kB</td>
   <td><tt>a4ea2b9de091d42ffcf7aa778c3be2adcebc57b82a1f5e36106f036deadd33e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-mobile-6.2.1.tar.xz">plasma-mobile-6.2.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>2e31f94f3c010f07606630556a9399b7c6cd323a67ab510b259a2ffae742bf24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-nano-6.2.1.tar.xz">plasma-nano-6.2.1</a></td>
   <td align="right">71kB</td>
   <td><tt>30afc60b13294c2c7356fa3ad296994ab926a086e89851c703c8eafdf53964dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-nm-6.2.1.tar.xz">plasma-nm-6.2.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d975279f0611510dd8025e34eee2419e7c77ee9a03f7e97bb56dade69a3e8728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-pa-6.2.1.tar.xz">plasma-pa-6.2.1</a></td>
   <td align="right">180kB</td>
   <td><tt>f64e6fb7124296089add89d6cf43f76165854cdbcdc22cff31b02cc6806e82ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-sdk-6.2.1.tar.xz">plasma-sdk-6.2.1</a></td>
   <td align="right">340kB</td>
   <td><tt>fb44552b0b24e5f1a503b27c80843a716fbafacc6ac0c8cce38553f15f70931c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-systemmonitor-6.2.1.tar.xz">plasma-systemmonitor-6.2.1</a></td>
   <td align="right">192kB</td>
   <td><tt>6ed7bf1d60db6b829cc73d9b66e6ba3c39e8a4eaacc6758ffbf145f2e564a99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-thunderbolt-6.2.1.tar.xz">plasma-thunderbolt-6.2.1</a></td>
   <td align="right">78kB</td>
   <td><tt>ac54f74fbc01cfbed6593413e8f6addbd420633e991a729af738e5a5347d41d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-vault-6.2.1.tar.xz">plasma-vault-6.2.1</a></td>
   <td align="right">196kB</td>
   <td><tt>79762528465cbd8e3af0fb75fda184dc6dd5d09df60b48701027fa2ceec9688f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-welcome-6.2.1.tar.xz">plasma-welcome-6.2.1</a></td>
   <td align="right">675kB</td>
   <td><tt>a0abd82b209edbb83b431f863764789c6b52e16a17a777c0f8ecf4aed59114fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-workspace-6.2.1.1.tar.xz">plasma-workspace-6.2.1.1</a></td>
   <td align="right">18MB</td>
   <td><tt>f6dcd0c5196db4b611b143d050dc0d62a305c4894efec105cd1cfe8cd9d0d506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plasma-workspace-wallpapers-6.2.1.tar.xz">plasma-workspace-wallpapers-6.2.1</a></td>
   <td align="right">106MB</td>
   <td><tt>5cc6d5fcd265eae0285b3a9b7cfa1aacb6219abe8f71656a2824cd3ee3e4f221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/plymouth-kcm-6.2.1.tar.xz">plymouth-kcm-6.2.1</a></td>
   <td align="right">46kB</td>
   <td><tt>159ee2d8f169c6207aee5c8f705ade952120e8246aef822bf6fe65167fc70611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/polkit-kde-agent-1-6.2.1.tar.xz">polkit-kde-agent-1-6.2.1</a></td>
   <td align="right">55kB</td>
   <td><tt>9703e93fdb69bbda953418d748dedbf25a16afd116fc5099e8a6a1b7e41012c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/powerdevil-6.2.1.tar.xz">powerdevil-6.2.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5bfa068fa31f118784e681eb97b9c49f5a8034c0628b099c0052fdfb129c3e65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/print-manager-6.2.1.tar.xz">print-manager-6.2.1</a></td>
   <td align="right">366kB</td>
   <td><tt>8500acb99d564af34d4f7e05859cbbffe91641c3d789f278940291c8280c73cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/qqc2-breeze-style-6.2.1.tar.xz">qqc2-breeze-style-6.2.1</a></td>
   <td align="right">64kB</td>
   <td><tt>764bc781bc8fb9f9b93cfa0034241c76fff94db1c8f4e0eb2ec6542502a8025b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/sddm-kcm-6.2.1.tar.xz">sddm-kcm-6.2.1</a></td>
   <td align="right">98kB</td>
   <td><tt>5a5d31062236d24165f457eb8829f5466c9d2aef4aa6a9f3586f8253d653bfc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/spacebar-6.2.1.tar.xz">spacebar-6.2.1</a></td>
   <td align="right">123kB</td>
   <td><tt>e6e79a1152b70093460815a98387b88ea819342e61f39353e95dff4a201e9f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/systemsettings-6.2.1.tar.xz">systemsettings-6.2.1</a></td>
   <td align="right">213kB</td>
   <td><tt>1e0065d9e0006e702f3260346d716e8de264c954371dcc3ef75a8126738075b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/wacomtablet-6.2.1.tar.xz">wacomtablet-6.2.1</a></td>
   <td align="right">814kB</td>
   <td><tt>d4bd3f956147d26a1cb8e73971b124f7c15da466853987673c424b2cd0a42610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.1/xdg-desktop-portal-kde-6.2.1.tar.xz">xdg-desktop-portal-kde-6.2.1</a></td>
   <td align="right">175kB</td>
   <td><tt>8434fd2916a9388d9e3e8aca8f2b16d0cad52689ec3e6b9ba1163d5f35663f6f</tt></td>
</tr>

</table>
