<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/bluedevil-6.1.5.tar.xz">bluedevil-6.1.5</a></td>
   <td align="right">370kB</td>
   <td><tt>29958da08b3242bda42438989ee3ecb81d386ca5be72332506e5cf0ded0b7077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/breeze-6.1.5.tar.xz">breeze-6.1.5</a></td>
   <td align="right">55MB</td>
   <td><tt>5449177c90613f97b474ae776285ccfc6e8673691d120337d95370c9e7c83cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/breeze-grub-6.1.5.tar.xz">breeze-grub-6.1.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7b3cf0b426801bd74bbd6b8f0dc4af37b13750f97bf35edcd34ea6a14d200909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/breeze-gtk-6.1.5.tar.xz">breeze-gtk-6.1.5</a></td>
   <td align="right">39kB</td>
   <td><tt>960c3df047423e85e1f33bdb60b71bdc7486b9941d89d785310debe501bd46d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/breeze-plymouth-6.1.5.tar.xz">breeze-plymouth-6.1.5</a></td>
   <td align="right">108kB</td>
   <td><tt>6761fab3f6d57568635b07c1c23460a916812e049793721801d77ac5df8ed60b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/discover-6.1.5.tar.xz">discover-6.1.5</a></td>
   <td align="right">1001kB</td>
   <td><tt>6e2cf59fac2cb792420ed6df653f80307d6e33d6e6ae9c1af2827a93bae3cb8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/drkonqi-6.1.5.tar.xz">drkonqi-6.1.5</a></td>
   <td align="right">851kB</td>
   <td><tt>0e1b27e4e8eb51d11c3bd4a7c9f0399b2eaa3fab6be87ddf40d28be0deae8dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/flatpak-kcm-6.1.5.tar.xz">flatpak-kcm-6.1.5</a></td>
   <td align="right">237kB</td>
   <td><tt>508f7d98bd14124214746f244804feddcd24588cb0eb7c5803907b22513d290a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kactivitymanagerd-6.1.5.tar.xz">kactivitymanagerd-6.1.5</a></td>
   <td align="right">107kB</td>
   <td><tt>3f8afda273787802d5cd46bf76f8f1467ece1f21c83bbaa6513435775523810f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kde-cli-tools-6.1.5.tar.xz">kde-cli-tools-6.1.5</a></td>
   <td align="right">614kB</td>
   <td><tt>c0f336062af80080454ca39a85ab60bca1ec7a854e84c09d492830b110790313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kdecoration-6.1.5.tar.xz">kdecoration-6.1.5</a></td>
   <td align="right">54kB</td>
   <td><tt>3ce16cea659d863f78eb93d567bf952b3f66440becd424b06d2041ff0679def7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kde-gtk-config-6.1.5.tar.xz">kde-gtk-config-6.1.5</a></td>
   <td align="right">76kB</td>
   <td><tt>631e59f52619dda940d20594dc55008c2f192da705e6c5dbfa6d25175087b62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kdeplasma-addons-6.1.5.tar.xz">kdeplasma-addons-6.1.5</a></td>
   <td align="right">873kB</td>
   <td><tt>36b6f9e1c03e52ea4e5d0409a0786117c8247166169f2d0a221f20f1aeab8863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kgamma-6.1.5.tar.xz">kgamma-6.1.5</a></td>
   <td align="right">84kB</td>
   <td><tt>2f43ec6b4abac27249b101594f19f222fe7e5947054f5252c11a9d9ec20ab42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kglobalacceld-6.1.5.tar.xz">kglobalacceld-6.1.5</a></td>
   <td align="right">54kB</td>
   <td><tt>dc0e0a977e0bae17788e7030bec38d655aef60cce01b740e48f5579a4731d3aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kinfocenter-6.1.5.tar.xz">kinfocenter-6.1.5</a></td>
   <td align="right">703kB</td>
   <td><tt>0976ae43756b6ddbf4e70e750cb17f422dabe7604c5e2f824ab4f1e0161ae5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kmenuedit-6.1.5.tar.xz">kmenuedit-6.1.5</a></td>
   <td align="right">850kB</td>
   <td><tt>fcb27a83a5554fb5654633bed08cb608986572e30f5e4241607a354ec89d6556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kpipewire-6.1.5.tar.xz">kpipewire-6.1.5</a></td>
   <td align="right">145kB</td>
   <td><tt>25b32cfcaff352f0c4acda5746adffd2e3b28b5ff0648521bde8628ca7145a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/krdp-6.1.5.tar.xz">krdp-6.1.5</a></td>
   <td align="right">83kB</td>
   <td><tt>a91de2c8e8b6fe852edeee50b722f2abebc3b38477d7ef935f9e6b7b7ce7c6b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kscreen-6.1.5.tar.xz">kscreen-6.1.5</a></td>
   <td align="right">205kB</td>
   <td><tt>4166a9f6d588eefdc19ed9d9a9e0f8265ab4999be248ba11b48ee353ecbc511f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kscreenlocker-6.1.5.tar.xz">kscreenlocker-6.1.5</a></td>
   <td align="right">176kB</td>
   <td><tt>a0ea8354122a28e0acc6ec604a7658fee5b00f125cc09ea758c9b91bf3c7f0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/ksshaskpass-6.1.5.tar.xz">ksshaskpass-6.1.5</a></td>
   <td align="right">28kB</td>
   <td><tt>34dd72f2bf785dd4b6c98944bd4e444dbeb46bb5f2d74c5b95baed821c6718f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/ksystemstats-6.1.5.tar.xz">ksystemstats-6.1.5</a></td>
   <td align="right">126kB</td>
   <td><tt>8425bb9f076234d167eaf689b74f729e2a0561c367473e8a84fab4a4c39c6893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kwallet-pam-6.1.5.tar.xz">kwallet-pam-6.1.5</a></td>
   <td align="right">21kB</td>
   <td><tt>b30cac4f1e2663776547953a62109371d5f9b4344a8df9207882f1e1dde4a03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kwayland-6.1.5.tar.xz">kwayland-6.1.5</a></td>
   <td align="right">130kB</td>
   <td><tt>67a3e15730bda36073f30422bdc21aee27bf205fbeec1a2b8020c9d1a97f8da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kwayland-integration-6.1.5.tar.xz">kwayland-integration-6.1.5</a></td>
   <td align="right">25kB</td>
   <td><tt>23c610203f1bfaaccc82718e60adaa333e31dd42837d4e84dff0cf80e614c688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kwin-6.1.5.tar.xz">kwin-6.1.5</a></td>
   <td align="right">8.1MB</td>
   <td><tt>ba0aace323195b58adbfde14ec74cdd4c28c211d78a567c44af70f336dcab3f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/kwrited-6.1.5.tar.xz">kwrited-6.1.5</a></td>
   <td align="right">23kB</td>
   <td><tt>a059ddf28ece8b43989a5ea87e447fa3f02379aec798a1de7cb59a5aaa2a9618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/layer-shell-qt-6.1.5.tar.xz">layer-shell-qt-6.1.5</a></td>
   <td align="right">35kB</td>
   <td><tt>d11cb55f75d6eb8904e48cd096857043a6da9900b1c34b7ac5716e6e46f0ed32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/libkscreen-6.1.5.tar.xz">libkscreen-6.1.5</a></td>
   <td align="right">116kB</td>
   <td><tt>58f523a9dfe07a5cb9758d60f6a7f1c9f40120289f835515a4e2d8d6d6da4c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/libksysguard-6.1.5.tar.xz">libksysguard-6.1.5</a></td>
   <td align="right">299kB</td>
   <td><tt>ad01fa2c664f82ce24b7d617bc1994206376373f9bd64ae313b3287fd58a02b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/libplasma-6.1.5.tar.xz">libplasma-6.1.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>77c2b83ade6999ac0e5269a4e8728443a7d61946d68d0bb41106ab4292a79cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/milou-6.1.5.tar.xz">milou-6.1.5</a></td>
   <td align="right">49kB</td>
   <td><tt>405148a12ee7fec89388f99bc5485507548c8512de22ba03025154442735390a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/ocean-sound-theme-6.1.5.tar.xz">ocean-sound-theme-6.1.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ae8fa59c3a3c3d37a438e3ab5ed11cc008ea04501953770bd9eb932700512935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/oxygen-6.1.5.tar.xz">oxygen-6.1.5</a></td>
   <td align="right">2.6MB</td>
   <td><tt>0741d6b2275ef00b593ef5e31ca267899d73bc3f16d132c92a42e767ec025735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/oxygen-sounds-6.1.5.tar.xz">oxygen-sounds-6.1.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6690a49e22d15a6a6882b87f725a9da3bc496177b89a3952b01555a98bb446a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma5support-6.1.5.tar.xz">plasma5support-6.1.5</a></td>
   <td align="right">85kB</td>
   <td><tt>0563585222c5333e2279efda829c36a139741c9e0cf3ad36e3e8096840c017d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-activities-6.1.5.tar.xz">plasma-activities-6.1.5</a></td>
   <td align="right">69kB</td>
   <td><tt>b353fbe7ae30f6a04ef4f81d3e0250654a0f9859a9ef43214c89c78b924e284b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-activities-stats-6.1.5.tar.xz">plasma-activities-stats-6.1.5</a></td>
   <td align="right">81kB</td>
   <td><tt>262050a53894de06f1343fb1d50b6e00f797a3e349316eddfeb7b516cddc0ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-browser-integration-6.1.5.tar.xz">plasma-browser-integration-6.1.5</a></td>
   <td align="right">217kB</td>
   <td><tt>43625c35ea39eeebed7acc9759acc60871abc1d2b88dc9e7b908afa4c0098aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-desktop-6.1.5.tar.xz">plasma-desktop-6.1.5</a></td>
   <td align="right">15MB</td>
   <td><tt>d9e236c9a9a332d8b7b4edde44c65d0b0ec38ea75adc5bbfa21a6c4c7f4261c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-disks-6.1.5.tar.xz">plasma-disks-6.1.5</a></td>
   <td align="right">99kB</td>
   <td><tt>5d7669c019e8be668b985d73d7f0fdb315984a90ac7b0cf1e3989b80946e6c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-firewall-6.1.5.tar.xz">plasma-firewall-6.1.5</a></td>
   <td align="right">365kB</td>
   <td><tt>4ed31bdd8f0211272947518cf2ebea547bbc44b7cfc6f6f3e747ecc918b4af42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-integration-6.1.5.tar.xz">plasma-integration-6.1.5</a></td>
   <td align="right">90kB</td>
   <td><tt>15ab4bf7709124ec4fe78422820901c8efb7fbb92245576be57c847482a5ec9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-mobile-6.1.5.tar.xz">plasma-mobile-6.1.5</a></td>
   <td align="right">3.5MB</td>
   <td><tt>cf5bd448ddf82dfc3a661e08eaf6b46a5e706becb30eec187e9a574e89082dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-nano-6.1.5.tar.xz">plasma-nano-6.1.5</a></td>
   <td align="right">76kB</td>
   <td><tt>c1e645997199fe5e249fb24a03892486570bde48153d52d4903439f3094ba2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-nm-6.1.5.tar.xz">plasma-nm-6.1.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>cb04ddaf00d728ea0b4b5d108b3389d462ce5078726f8b655f38de330eeb21f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-pa-6.1.5.tar.xz">plasma-pa-6.1.5</a></td>
   <td align="right">159kB</td>
   <td><tt>724c0591dbebde5f96c416316c900e88f4a66d748905ed1ca74e6152357a7591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-sdk-6.1.5.tar.xz">plasma-sdk-6.1.5</a></td>
   <td align="right">319kB</td>
   <td><tt>8d0d4e85e47d28249b951f3c997f60855a10caded97bea341407397e551b8c46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-systemmonitor-6.1.5.tar.xz">plasma-systemmonitor-6.1.5</a></td>
   <td align="right">183kB</td>
   <td><tt>0b5eeccf047516259f7205c1438142d4a8252eade00bb861b66d4831bb03a704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-thunderbolt-6.1.5.tar.xz">plasma-thunderbolt-6.1.5</a></td>
   <td align="right">78kB</td>
   <td><tt>9402adf3eeaed4c5efca719755b59f2d2864da9ad5fd81d22b3a8f5fd6e3ae60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-vault-6.1.5.tar.xz">plasma-vault-6.1.5</a></td>
   <td align="right">196kB</td>
   <td><tt>50b135bfdb159947744122788709f8912a76130d2920ea9775ce402f7a7dc404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-welcome-6.1.5.tar.xz">plasma-welcome-6.1.5</a></td>
   <td align="right">656kB</td>
   <td><tt>12ece9e7d61c3ec6a23fe9357667416e26802abafdc69f245cc3d96a05ef9d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-workspace-6.1.5.tar.xz">plasma-workspace-6.1.5</a></td>
   <td align="right">18MB</td>
   <td><tt>c29e15a3ed42446f997b7e1695864f85ebff084e2ece581c914a0d8a8e265ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plasma-workspace-wallpapers-6.1.5.tar.xz">plasma-workspace-wallpapers-6.1.5</a></td>
   <td align="right">95MB</td>
   <td><tt>a8ea42b99b25466d52d3fe5572c9fbc38709bf137054488e937f870f3354ee02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/plymouth-kcm-6.1.5.tar.xz">plymouth-kcm-6.1.5</a></td>
   <td align="right">45kB</td>
   <td><tt>073e03f8a85138e05d88672a5c1e062238e34b3dede4118f2911c200c0555875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/polkit-kde-agent-1-6.1.5.tar.xz">polkit-kde-agent-1-6.1.5</a></td>
   <td align="right">55kB</td>
   <td><tt>0965e5ffad432a3e6ee9e35540efcb7b4083200a48c69d91e525c09a47b920f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/powerdevil-6.1.5.tar.xz">powerdevil-6.1.5</a></td>
   <td align="right">945kB</td>
   <td><tt>050e1c6fcf07da2cd7bfe22a618aa91504bb2b00bd31aa68121b903cde9d845d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/print-manager-6.1.5.tar.xz">print-manager-6.1.5</a></td>
   <td align="right">362kB</td>
   <td><tt>a49444e16a0795953153652517c66571a998ba38dcd886166b88231e96c8ce12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/qqc2-breeze-style-6.1.5.tar.xz">qqc2-breeze-style-6.1.5</a></td>
   <td align="right">64kB</td>
   <td><tt>6b4b6c0f08b2ece3b5da1c89de6ce10621d8e26b7fabedbf60103a5f2c8af845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/sddm-kcm-6.1.5.tar.xz">sddm-kcm-6.1.5</a></td>
   <td align="right">96kB</td>
   <td><tt>009235174d372079ee3aadf51e0bd7da1a382d1852ae65b0b96710b226698e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/systemsettings-6.1.5.tar.xz">systemsettings-6.1.5</a></td>
   <td align="right">209kB</td>
   <td><tt>07427aea7cee0b34abcc3ef7daaf03d62bdf7205ca3f971c8d3faedc0ba74fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/wacomtablet-6.1.5.tar.xz">wacomtablet-6.1.5</a></td>
   <td align="right">810kB</td>
   <td><tt>21eacc6f7782fdf9ca7189dd94fd8ec9103302cf60598f75721635f0df0c444a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.1.5/xdg-desktop-portal-kde-6.1.5.tar.xz">xdg-desktop-portal-kde-6.1.5</a></td>
   <td align="right">168kB</td>
   <td><tt>09d13c0c06fddc083249d1f5be907e271ea39f01f577d37d26743b01df5a6978</tt></td>
</tr>

</table>
