<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/attica-6.5.0.tar.xz">attica-6.5.0</a></td>
   <td align="right">66kB</td>
   <td><tt>6ce80618dc52a7a2c48a425617161ec46b7126d05ecb23076e655fde1d6010e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/baloo-6.5.0.tar.xz">baloo-6.5.0</a></td>
   <td align="right">309kB</td>
   <td><tt>d8046cb6e7df1d5b8310aed4e4dc71ec8379b602744b90d08fa9f14bda47a6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/bluez-qt-6.5.0.tar.xz">bluez-qt-6.5.0</a></td>
   <td align="right">112kB</td>
   <td><tt>f0234766fc1af9410708d0886eef304175b09a5b99c48c0eb877a80fec6aa65e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/breeze-icons-6.5.0.tar.xz">breeze-icons-6.5.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ca6e8faef84891750ebc240d0b99f42414e5f643678d5b1ae94bcbad551ab0c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/extra-cmake-modules-6.5.0.tar.xz">extra-cmake-modules-6.5.0</a></td>
   <td align="right">332kB</td>
   <td><tt>8f3c2ca1e502990629f3b68507189fc0f912f3cab279b500dac91ee7031a49cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/frameworkintegration-6.5.0.tar.xz">frameworkintegration-6.5.0</a></td>
   <td align="right">53kB</td>
   <td><tt>c57b55742e602d2c85c9002158e88fe077d3a164c68ed50c77672a74e11a0df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kapidox-6.5.0.tar.xz">kapidox-6.5.0</a></td>
   <td align="right">193kB</td>
   <td><tt>f2542f22211474987998901cb48ad2202ee5156cf399805884e1449d9860a3a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/karchive-6.5.0.tar.xz">karchive-6.5.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>e5530253c70de024926e1985154f9115f02af50c7d998a874a3175b404444e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kauth-6.5.0.tar.xz">kauth-6.5.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1af517a509da1c5ddb4420d7430894b751562e07cc4c134abe0dcb606358d394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kbookmarks-6.5.0.tar.xz">kbookmarks-6.5.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>97dabceae5b0eac1107c49c50d1d7d9a7d26b9246c9ab53d123990525c55fbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcalendarcore-6.5.0.tar.xz">kcalendarcore-6.5.0</a></td>
   <td align="right">253kB</td>
   <td><tt>6da599f5ed15f6ce54c2f928026ee2f64edd2fe0d5203b4f50bbf89a8b21f522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcmutils-6.5.0.tar.xz">kcmutils-6.5.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>eb8474ec5ae620e361e6ef971e3ec14ac6807be2df8e02d27e7d8ae9badca993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcodecs-6.5.0.tar.xz">kcodecs-6.5.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e96c22f5470e39591acdbb01e85203e5d2f179c80b18c2a5991967e16af91e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcolorscheme-6.5.0.tar.xz">kcolorscheme-6.5.0</a></td>
   <td align="right">44kB</td>
   <td><tt>323b55dd37dc408ccc158df2ce5c8a46b628f9355d2a77916e4565afce90b42b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcompletion-6.5.0.tar.xz">kcompletion-6.5.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>778af80e5015f49ce1e1dde6180bf51167a1f5dfb12d07c73216b5fa804eedf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kconfig-6.5.0.tar.xz">kconfig-6.5.0</a></td>
   <td align="right">335kB</td>
   <td><tt>e48e5315d3491ddfb878abf124a6e14886a6317857fa63f411ecd720da8a5d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kconfigwidgets-6.5.0.tar.xz">kconfigwidgets-6.5.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a4804683fc0477fb505c410444164bf2803ffc216d221609a0be5842803e5612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcontacts-6.5.0.tar.xz">kcontacts-6.5.0</a></td>
   <td align="right">203kB</td>
   <td><tt>b711e098469a5821044bf99bd74d0a16b804731a347cf53609a4bd1b5fa5fdc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcoreaddons-6.5.0.tar.xz">kcoreaddons-6.5.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5e0e1d29dcd4e04e74584df1577d3ae9ffbd47ccdb84ee5622d1ed2373e5ef98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kcrash-6.5.0.tar.xz">kcrash-6.5.0</a></td>
   <td align="right">28kB</td>
   <td><tt>870c6ce15132cc3040bc593447125ed3c256b698ba233b758430f4e725319bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kdav-6.5.0.tar.xz">kdav-6.5.0</a></td>
   <td align="right">66kB</td>
   <td><tt>900fbb8b632d946cd35e826e64f50507346151f1b5fb40137890abc2896eefcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kdbusaddons-6.5.0.tar.xz">kdbusaddons-6.5.0</a></td>
   <td align="right">45kB</td>
   <td><tt>afacf9ff5d7a2dd294520718508d33eadf3f63a957091d30a68a45ab1ef0a8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kdeclarative-6.5.0.tar.xz">kdeclarative-6.5.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b3c4152c972e3d53645f1c88757a78ce5b66fbf4ecb76e4d69df78d2ab38cf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kded-6.5.0.tar.xz">kded-6.5.0</a></td>
   <td align="right">32kB</td>
   <td><tt>292ca941acc69c443f47895ea784493b08fd573afe0f4e99f5f42b8a029954b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kdesu-6.5.0.tar.xz">kdesu-6.5.0</a></td>
   <td align="right">55kB</td>
   <td><tt>03c08d0bbcf71ef122ebe3c97b109092ad9e8719d20d341d8510607bda9ab393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kdnssd-6.5.0.tar.xz">kdnssd-6.5.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>37fd254c39b66fca1b52f898c045f322a0ea3177c927941979ccb7b9b98ebffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kdoctools-6.5.0.tar.xz">kdoctools-6.5.0</a></td>
   <td align="right">445kB</td>
   <td><tt>781e1ae222ee1e54cc6310412c3709e0c33e1c4ff82470d2960d6e5daa6001dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kfilemetadata-6.5.0.tar.xz">kfilemetadata-6.5.0</a></td>
   <td align="right">580kB</td>
   <td><tt>574419823d7fe389dfc6bc141b0a9151fdada6715b985c8269293c0c04fdc0f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kglobalaccel-6.5.0.tar.xz">kglobalaccel-6.5.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>883a1cf48fc4b8ce22ab9f143b6bdd546ac30fbe29c90d4035fb2adf38a339a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kguiaddons-6.5.0.tar.xz">kguiaddons-6.5.0</a></td>
   <td align="right">80kB</td>
   <td><tt>7193fa930b85fa6e7fda3a85f1e52f362ecd3e110e80055d9084eeafaeac4807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kholidays-6.5.0.tar.xz">kholidays-6.5.0</a></td>
   <td align="right">249kB</td>
   <td><tt>84a03085ffafab06cd28a32154b0fe4694f58b37d21f1468818b5fec2c643dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/ki18n-6.5.0.tar.xz">ki18n-6.5.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7873d36a8ae452745d58100e7cda067eae632c787c1fc5a3c63a7072aacfa7fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kiconthemes-6.5.0.tar.xz">kiconthemes-6.5.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>cdc4c5788e0b3f88f25aa474d51d43496e4c742777f88025ef2fa606f2721331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kidletime-6.5.0.tar.xz">kidletime-6.5.0</a></td>
   <td align="right">29kB</td>
   <td><tt>b6dc7d6eadb642248000f165155a72d2dfab6c1a93e0130f8f83394a7628eaf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kimageformats-6.5.0.tar.xz">kimageformats-6.5.0</a></td>
   <td align="right">17MB</td>
   <td><tt>c64ab736477264f8a0ce4418f0be629ad0f17a078161b2773700d3b96ca75022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kio-6.5.0.tar.xz">kio-6.5.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>9c8bf83534577a322d4633d241d9770bc8ba8a45624e2f041e1b8dbdbc198a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kirigami-6.5.0.tar.xz">kirigami-6.5.0</a></td>
   <td align="right">539kB</td>
   <td><tt>43a73b161e1c85da3eadc63e7cc6c1b3c686aa56951b0d0e2df4a2cc1334759c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kitemmodels-6.5.0.tar.xz">kitemmodels-6.5.0</a></td>
   <td align="right">388kB</td>
   <td><tt>36ec04b3fd25249a1ce9cfd08824f2c2e40ef4d54224e118e06fa21c5f9a4f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kitemviews-6.5.0.tar.xz">kitemviews-6.5.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>07f3b3880597995a9bbc3c9bc47dba2bcd924ec503b423ed8566e7e805cbb69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kjobwidgets-6.5.0.tar.xz">kjobwidgets-6.5.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>67c5dab1191ae6830d452751767e94991b34feaf4228f18ab042c2c120910ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/knewstuff-6.5.0.tar.xz">knewstuff-6.5.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>815589a660b9a53a1fc18268b95914636124b6f3f3193c9404e0959f8b738c79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/knotifications-6.5.0.tar.xz">knotifications-6.5.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3d73dc682176138cba995b6954eeafdd4507097313f1b2102a4d5ed905a3eee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/knotifyconfig-6.5.0.tar.xz">knotifyconfig-6.5.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fb2ad6bffb54e6a05fab4dc871897beaba03a46d42fa290b56ee1fcbb2ee0594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kpackage-6.5.0.tar.xz">kpackage-6.5.0</a></td>
   <td align="right">175kB</td>
   <td><tt>cf3452c1719112047f9a3bd00ab2e1e59ba7b6b4fe620a4353885308508db773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kparts-6.5.0.tar.xz">kparts-6.5.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4eb5417b267f77c16c85482f919adfb5b7714a95239771c4aafbfeb90e4a371f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kpeople-6.5.0.tar.xz">kpeople-6.5.0</a></td>
   <td align="right">65kB</td>
   <td><tt>102cd7ad3260b0d10bd2ec0330c839826ea324c5cd86580163d8364d3370a6c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kplotting-6.5.0.tar.xz">kplotting-6.5.0</a></td>
   <td align="right">32kB</td>
   <td><tt>021697c4d42002fad49db0d283552a2b40e81f968763d87b3ad47ec3f580d943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kpty-6.5.0.tar.xz">kpty-6.5.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dc9365ba4a83b948a8326f2f75d46d4dea8327bc06b5ee2190306cbf8fdf5241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kquickcharts-6.5.0.tar.xz">kquickcharts-6.5.0</a></td>
   <td align="right">107kB</td>
   <td><tt>c5a9a5cc206fdd2a86854284b081b16575f638bbb28b658065677b447d8c9002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/krunner-6.5.0.tar.xz">krunner-6.5.0</a></td>
   <td align="right">128kB</td>
   <td><tt>5674afef23fe6747aaa8b06c405a53a4e40f77ba24535d2080d512602b036030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kservice-6.5.0.tar.xz">kservice-6.5.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>48cdd204bc9fb9282c37b6bcc2364f7dbc124057547ddb6b1471988b464cf8bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kstatusnotifieritem-6.5.0.tar.xz">kstatusnotifieritem-6.5.0</a></td>
   <td align="right">47kB</td>
   <td><tt>5def5e1a862d85d0f325c4f1973967bcf8fa97353fe1d361a1cafb0670198403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/ksvg-6.5.0.tar.xz">ksvg-6.5.0</a></td>
   <td align="right">81kB</td>
   <td><tt>ae2024bd4d7e6950c92b5924deced5d55b6101749d635799b24fedac60cb26cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/ktexteditor-6.5.0.tar.xz">ktexteditor-6.5.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9bbb8875a68c6b627f3999c2dab2f91fe15570e2a43c3b2aa9149e5b98dbb8c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/ktexttemplate-6.5.0.tar.xz">ktexttemplate-6.5.0</a></td>
   <td align="right">826kB</td>
   <td><tt>295a3f87ff08af17f83496fd66b3f634917bcac6466c79be1f4cb6786ecb04c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/ktextwidgets-6.5.0.tar.xz">ktextwidgets-6.5.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a99df1c634831e9d01f704009c951378108334a4258ad5b64f60f55e55770212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kunitconversion-6.5.0.tar.xz">kunitconversion-6.5.0</a></td>
   <td align="right">889kB</td>
   <td><tt>c7d521423c7443d305803e2f606e8dff58fa9e1c7c73b09bce8dd3862e992fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kuserfeedback-6.5.0.tar.xz">kuserfeedback-6.5.0</a></td>
   <td align="right">249kB</td>
   <td><tt>3348d2f29b92e655249b750fd77fb56bc4511ba3ba74399bd3fb2440821a292a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kwallet-6.5.0.tar.xz">kwallet-6.5.0</a></td>
   <td align="right">344kB</td>
   <td><tt>9eb9ef50a10319afdf8ddbab06bb76c05f43d8d4095483f2d8efed752d5d815a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kwidgetsaddons-6.5.0.tar.xz">kwidgetsaddons-6.5.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>cf3abcc40a619183c7d4625dc961a0b65ae593c6c41afe0aaa450e90b5d0fe09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kwindowsystem-6.5.0.tar.xz">kwindowsystem-6.5.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>caae86e16bf26e91a722fdf8eb5888224f7c76ce870743da4a59bc700d873bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/kxmlgui-6.5.0.tar.xz">kxmlgui-6.5.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>75549dd54ae7b3e0bf01c6d82ebe2dcc797195ade223b6986dde9d688c5cd903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/modemmanager-qt-6.5.0.tar.xz">modemmanager-qt-6.5.0</a></td>
   <td align="right">119kB</td>
   <td><tt>76c2b18c9c5c5d9c360282a031feaae966029322f19de050d91d39207cd5717b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/networkmanager-qt-6.5.0.tar.xz">networkmanager-qt-6.5.0</a></td>
   <td align="right">193kB</td>
   <td><tt>aa5f2b32c8178ee89cf3a4c75b09f99ef81be32ff6d99a425aee174c50301b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/prison-6.5.0.tar.xz">prison-6.5.0</a></td>
   <td align="right">55kB</td>
   <td><tt>bbc17dccfb71988af41e70110b6635323e17d8ed48c08f73808f9f220fb067ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/purpose-6.5.0.tar.xz">purpose-6.5.0</a></td>
   <td align="right">170kB</td>
   <td><tt>40f80a04a737f5b79d9980baabdca54c820456bb30add04479257291c62ac274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/qqc2-desktop-style-6.5.0.tar.xz">qqc2-desktop-style-6.5.0</a></td>
   <td align="right">85kB</td>
   <td><tt>888638775a4c8bb7f80e10e878fd923880c75f2aa6e3878d52c12a77f3da9321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/solid-6.5.0.tar.xz">solid-6.5.0</a></td>
   <td align="right">305kB</td>
   <td><tt>e8237c6c9617bef4bf5fc74461bb7417ca57afe15d4f54878cfe8c806e706a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/sonnet-6.5.0.tar.xz">sonnet-6.5.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>7e86b6f82b7951c3e81cea75f79baf7a8a0f884fcb024f02a6153a467a3de1aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/syndication-6.5.0.tar.xz">syndication-6.5.0</a></td>
   <td align="right">556kB</td>
   <td><tt>cdafc51c9271b00150b8d63bf250d6d040f7bc8c56907af61dc59a44c96c674e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/syntax-highlighting-6.5.0.tar.xz">syntax-highlighting-6.5.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>3e1883dd51a3267e56cd3ace38620094a15ae6dbaecdd18d33b7d4fa2f18c378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.5/threadweaver-6.5.0.tar.xz">threadweaver-6.5.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ae70d0936c438ebf4a3f7b2a708efb9cd30b5a4147d9b70ae5d4437dbb20bde8</tt></td>
</tr>

</table>
