<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/attica-6.6.0.tar.xz">attica-6.6.0</a></td>
   <td align="right">66kB</td>
   <td><tt>e2370e7f0a0e4721180c364342f47bc974cf3b45c45c7ce9e70c5d9ba5230be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/baloo-6.6.0.tar.xz">baloo-6.6.0</a></td>
   <td align="right">309kB</td>
   <td><tt>7b097526d1c8c90cdb8126a941ff4e159f800fcfff6f812668373d7b9b5bb719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/bluez-qt-6.6.0.tar.xz">bluez-qt-6.6.0</a></td>
   <td align="right">113kB</td>
   <td><tt>1a2a805ba12639c1784d2f549f5e98f210fc8d1878c5ca770936eac827c8eb00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/breeze-icons-6.6.0.tar.xz">breeze-icons-6.6.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2d8ccc427ec864b6417eabe3aafe9b1f6857bf2a4fdcd0dc5c006413148e66d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/extra-cmake-modules-6.6.0.tar.xz">extra-cmake-modules-6.6.0</a></td>
   <td align="right">332kB</td>
   <td><tt>206e23e05ba8934ac7a275c8fdd3704165f558878d3dbe3299f991473997ccb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/frameworkintegration-6.6.0.tar.xz">frameworkintegration-6.6.0</a></td>
   <td align="right">53kB</td>
   <td><tt>ea594c3957a09fdcb85711d4bdff6d923c0e3eb8ec496e5686585fc56723d3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kapidox-6.6.0.tar.xz">kapidox-6.6.0</a></td>
   <td align="right">193kB</td>
   <td><tt>e79c9dabb6db31708389dd47a8bdd48d16a60a02e5cb2b55f347d03a6fc7e2b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/karchive-6.6.0.tar.xz">karchive-6.6.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>51e9d21cb87e2241bca6a69e1496661d05d00a581107bfcf9859aa9e70acac1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kauth-6.6.0.tar.xz">kauth-6.6.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>04fb5e3ff672f31f6c3f2e40a59d9c7447a5251b99dbe5f5ea67f54a4c981f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kbookmarks-6.6.0.tar.xz">kbookmarks-6.6.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>32d0b4ca746db2b2bd2a4e5282f4acaba084b9ca104495a2b450b9ae2456b7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcalendarcore-6.6.0.tar.xz">kcalendarcore-6.6.0</a></td>
   <td align="right">304kB</td>
   <td><tt>1ab6390411f8681e0559cc7b3c2f3b4384d607a408681077535ff993606362f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcmutils-6.6.0.tar.xz">kcmutils-6.6.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8f1b9f26ce7b055cec46a9521eab75f910ae9c395aada88d6d82cf395459b270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcodecs-6.6.0.tar.xz">kcodecs-6.6.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d9dc2e3294aa32684990bde01bb88dedb2610a28d7c1d62a178a393fa566123b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcolorscheme-6.6.0.tar.xz">kcolorscheme-6.6.0</a></td>
   <td align="right">44kB</td>
   <td><tt>657839e1ff8141ff09705be912e276a2dc98df122f5bcc2fdc3ed11d10100cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcompletion-6.6.0.tar.xz">kcompletion-6.6.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b80659b31fad437d19ec9486405d49f8db0cea709629e3b4ff0eb292ccf10b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kconfig-6.6.0.tar.xz">kconfig-6.6.0</a></td>
   <td align="right">336kB</td>
   <td><tt>070bd019b07e15201e4c7072b71337c75f6917407406a1a7107fca1bff2855fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kconfigwidgets-6.6.0.tar.xz">kconfigwidgets-6.6.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>83b141867609a8e63e3cbe874e519f2d3d8a53ff7dce958b8157c697d5cc5872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcontacts-6.6.0.tar.xz">kcontacts-6.6.0</a></td>
   <td align="right">203kB</td>
   <td><tt>99f0527d49bc6b3fbdc91c4b7edb67c86936e7a4c8cd881bd9da2eedf5666d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcoreaddons-6.6.0.tar.xz">kcoreaddons-6.6.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5aba9abf934e2daf5f70837cbac088607fe8bd505e172c4af6cdaacdda25c50b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kcrash-6.6.0.tar.xz">kcrash-6.6.0</a></td>
   <td align="right">27kB</td>
   <td><tt>fb4acaf670a8e1f61b7ab21fcc6cf1320d2f6645a0372a94623c60df7b0898de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kdav-6.6.0.tar.xz">kdav-6.6.0</a></td>
   <td align="right">66kB</td>
   <td><tt>825ed9de5fc94e228fccd4af48cf7c101c0bbe37bbf6385cf81820bbeaf778e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kdbusaddons-6.6.0.tar.xz">kdbusaddons-6.6.0</a></td>
   <td align="right">45kB</td>
   <td><tt>521315f80d31e2db4e4344ebf2436a22e75475b70edabe8157f4afb4a2cb42ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kdeclarative-6.6.0.tar.xz">kdeclarative-6.6.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3a8a3215e5a5ae9a2e7e67b17a8feab6411d729df0367102e094c8d7a5ff58b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kded-6.6.0.tar.xz">kded-6.6.0</a></td>
   <td align="right">32kB</td>
   <td><tt>cc963975f80de1906e8b39970579af211138c582b1630daf280ba299b2d3f9fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kdesu-6.6.0.tar.xz">kdesu-6.6.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d5ac127e3b218da7a785fa606490b052c09d481bcff0227b45d42ef0e3f34a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kdnssd-6.6.0.tar.xz">kdnssd-6.6.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3743ea3f156358d6945df69e67c98c69f438413620c6ac7286d0427342157fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kdoctools-6.6.0.tar.xz">kdoctools-6.6.0</a></td>
   <td align="right">445kB</td>
   <td><tt>149e0b442290f8bc9d2a0c99c8e27a5735a3a83870a82de007e487529f0aad44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kfilemetadata-6.6.0.tar.xz">kfilemetadata-6.6.0</a></td>
   <td align="right">580kB</td>
   <td><tt>218ccbc926e1e26765f7213b8aace7ebdaa785464efad2bb60f8e648362cfea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kglobalaccel-6.6.0.tar.xz">kglobalaccel-6.6.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>49295ea5e4a018222a9b483e7c0fb8e7cfb4b761a92920b1e13454fd8f85fe81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kguiaddons-6.6.0.tar.xz">kguiaddons-6.6.0</a></td>
   <td align="right">80kB</td>
   <td><tt>bcaa36e4c046a4adadbe6bbb8649169c1b1b96ab68953e3ea1957d7b87c18331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kholidays-6.6.0.tar.xz">kholidays-6.6.0</a></td>
   <td align="right">248kB</td>
   <td><tt>712b2be318997022be28374195a49e8c7ca2a130295aab6ace7b88d7ec0f2b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/ki18n-6.6.0.tar.xz">ki18n-6.6.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>582b4c58bb69803412322d3db656fd4f5fde154eac1ac89b2c6bc905c5b61e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kiconthemes-6.6.0.tar.xz">kiconthemes-6.6.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2d00b17929d886425395e96c4c18bf5e8dfbf3f1cac2dac199a6f2ac5af35b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kidletime-6.6.0.tar.xz">kidletime-6.6.0</a></td>
   <td align="right">30kB</td>
   <td><tt>82480a6f06039c2b7e04a75c69f1151b1784edc7bcd27097ac6264b1aa15f427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kimageformats-6.6.0.tar.xz">kimageformats-6.6.0</a></td>
   <td align="right">17MB</td>
   <td><tt>1b4cda14f96088f8de190c9be7fbe350a80a55c3ee2a8ff910da0d9992c4ddaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kio-6.6.0.tar.xz">kio-6.6.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>977f9f076eaf249ecdd961724334326c3f3a1e7d8cfcc6ca1370f390c76a2766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kirigami-6.6.0.tar.xz">kirigami-6.6.0</a></td>
   <td align="right">540kB</td>
   <td><tt>9809cce703dfa8afe2c64e196f90c035850e2e432a9bd90ce32a40865368a7fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kitemmodels-6.6.0.tar.xz">kitemmodels-6.6.0</a></td>
   <td align="right">387kB</td>
   <td><tt>fe0677bd6eaf2bccd350e7b80eebac382908fc2388af6716171ad77417ee7802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kitemviews-6.6.0.tar.xz">kitemviews-6.6.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a7a430c0c37b6781774ab7ee0845f9be0901424a5ed51d15e5b5b350d0cbee6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kjobwidgets-6.6.0.tar.xz">kjobwidgets-6.6.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3c8eccd89d4118b6ecd619106f93a9b156df5899465b820d4b65d969813db515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/knewstuff-6.6.0.tar.xz">knewstuff-6.6.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3f927564b454c1fc1aeec05174b8f9e76303b4d9a45979d76b2188a25bd47025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/knotifications-6.6.0.tar.xz">knotifications-6.6.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>28153dce38eb488d228942a2ed197e57739107db1002448ad56bdd5be10bf60d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/knotifyconfig-6.6.0.tar.xz">knotifyconfig-6.6.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e032fc8ebd375cd406dfef3038ebd49d7c1d1de7c79b7cad4cccf00285006f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kpackage-6.6.0.tar.xz">kpackage-6.6.0</a></td>
   <td align="right">175kB</td>
   <td><tt>12d77241586dc12baa3aa2c65bcebea31604216b91b76d9aaaabf370673e9ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kparts-6.6.0.tar.xz">kparts-6.6.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d494def76a3a4c2e28bc9d4f889d6d4d9b644515fffb61169f429ce7b9bb22c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kpeople-6.6.0.tar.xz">kpeople-6.6.0</a></td>
   <td align="right">65kB</td>
   <td><tt>a0f100a325190859c7754f6a94c38d07ce60f89f30e0d58ddf99641f1f16e2b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kplotting-6.6.0.tar.xz">kplotting-6.6.0</a></td>
   <td align="right">32kB</td>
   <td><tt>9275dd99cedb4fd53a00945e44ed694b5a27ada41604b2a54b2bcc5b4e2a3f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kpty-6.6.0.tar.xz">kpty-6.6.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>63a1deb95284c8ff2fb77404a81183dd77d96458d05110b468742b3a0f755e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kquickcharts-6.6.0.tar.xz">kquickcharts-6.6.0</a></td>
   <td align="right">107kB</td>
   <td><tt>d8441008d625763bf7b20a8b1685d09cd69416c6ce4603743e93c16fc5397a47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/krunner-6.6.0.tar.xz">krunner-6.6.0</a></td>
   <td align="right">128kB</td>
   <td><tt>17d4201be7ce712071d29e9528feafdc2be20391834a110c3584cc142c9f4b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kservice-6.6.0.tar.xz">kservice-6.6.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ba0d6323efecaf055655bb6d9dd072e7f889d23969ca4fc55565bda8999101f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kstatusnotifieritem-6.6.0.tar.xz">kstatusnotifieritem-6.6.0</a></td>
   <td align="right">47kB</td>
   <td><tt>f2522bd1de0b02160f78aae0150c48a9ed299186884fb99d0a6fb80549e409dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/ksvg-6.6.0.tar.xz">ksvg-6.6.0</a></td>
   <td align="right">81kB</td>
   <td><tt>fd574866b6879809ecfd24f9d92c7ce51aadb91527e51d1f7c67dec8647d8ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/ktexteditor-6.6.0.tar.xz">ktexteditor-6.6.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9991a78fd5cf692964d84210baea472ece56434d924f9e67561b857f8b48c777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/ktexttemplate-6.6.0.tar.xz">ktexttemplate-6.6.0</a></td>
   <td align="right">826kB</td>
   <td><tt>23611a7724d9ccb534cba22dc88885748cf2ec9037d3dccad5cc54a3d4bdb954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/ktextwidgets-6.6.0.tar.xz">ktextwidgets-6.6.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>805dff320b75a62316fe50aa33eedb355c1e2db36d00b58c39fc36ce6bfd8988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kunitconversion-6.6.0.tar.xz">kunitconversion-6.6.0</a></td>
   <td align="right">889kB</td>
   <td><tt>a874f093a3e64f08d1d37e1142e17d78a112b613ece5cfa1f747dd1d26789f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kuserfeedback-6.6.0.tar.xz">kuserfeedback-6.6.0</a></td>
   <td align="right">249kB</td>
   <td><tt>3bb42251679edd643ccdccbc9babcae790b9d51b9dfaef6ded9b4ac34ad2df55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kwallet-6.6.0.tar.xz">kwallet-6.6.0</a></td>
   <td align="right">344kB</td>
   <td><tt>b319cc4cf79cc1796e7246f61bbc56bba070aa5ec994b30e11b1faa685ce7d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kwidgetsaddons-6.6.0.tar.xz">kwidgetsaddons-6.6.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>137cc549d62f9bc9a147d8281d616f4415fc5ac3541d48e66c5cb798e7111fc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kwindowsystem-6.6.0.tar.xz">kwindowsystem-6.6.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2c771ebf1a297774305dfcf79423db0684da0662eacb99e5740b00f3ffe332e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/kxmlgui-6.6.0.tar.xz">kxmlgui-6.6.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>647fc7510d33b9de9196fd2c8f6f6a114dd18559ee21aab7cf47f687b8ae0452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/modemmanager-qt-6.6.0.tar.xz">modemmanager-qt-6.6.0</a></td>
   <td align="right">119kB</td>
   <td><tt>e8cff8728c83e3638aa85d2f837ca75e1c50325632f4b64e5e4185d0cd6b071b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/networkmanager-qt-6.6.0.tar.xz">networkmanager-qt-6.6.0</a></td>
   <td align="right">193kB</td>
   <td><tt>06392d71e6e09758cb1b433d3b1dc667cb59dd7a96b3510f232b5cadff332e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/prison-6.6.0.tar.xz">prison-6.6.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d8baf33252cf2bb431f8048c459a0a0c4b72ce6a7c2f5e7325ad2df7ca74ba5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/purpose-6.6.0.tar.xz">purpose-6.6.0</a></td>
   <td align="right">172kB</td>
   <td><tt>d02c70c3d122eda4739e8716f05c9bb7370751d06730d8e23d1cf4266d00c2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/qqc2-desktop-style-6.6.0.tar.xz">qqc2-desktop-style-6.6.0</a></td>
   <td align="right">85kB</td>
   <td><tt>a82361a7b206b94a784ee9b919276ef733fb694710a1505af9a71db70832eb62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/solid-6.6.0.tar.xz">solid-6.6.0</a></td>
   <td align="right">305kB</td>
   <td><tt>88f67f369c720aaa0d347ee09273684335505c4f8faf5f7684d1acb7229455f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/sonnet-6.6.0.tar.xz">sonnet-6.6.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2f8a5ef2d5264a31af686efa8fe31372837edc5317f3103395dd389c37237316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/syndication-6.6.0.tar.xz">syndication-6.6.0</a></td>
   <td align="right">556kB</td>
   <td><tt>627e4b310b8721e8b426ec5492f4036a7756d98933d318738352bfdd0a78a0d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/syntax-highlighting-6.6.0.tar.xz">syntax-highlighting-6.6.0</a></td>
   <td align="right">3.4MB</td>
   <td><tt>bf946d2606ef293949a51a7446f150954e2f78193ff5461b4abd198939b9f1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.6/threadweaver-6.6.0.tar.xz">threadweaver-6.6.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>19555488abf05a9d5a1641f165a67d347e23ab7d14c6f9464ffcf8db2370317a</tt></td>
</tr>

</table>
