<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/attica-5.247.0.tar.xz">attica-5.247.0</a></td>
   <td align="right">67kB</td>
   <td><tt>884f4927fd1db74770b9768a79da0399cb98b0fe9ee3999598cb9fc36f845b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/baloo-5.247.0.tar.xz">baloo-5.247.0</a></td>
   <td align="right">304kB</td>
   <td><tt>2136cbabac60627f50b6616c9849cf5df4ffd627d99b796e890f1a69048fc54d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/bluez-qt-5.247.0.tar.xz">bluez-qt-5.247.0</a></td>
   <td align="right">113kB</td>
   <td><tt>7ff93bbc8aa2295fdfa2c8d664288a6884f3c7e05901f1469a9cedc8f518f722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/breeze-icons-5.247.0.tar.xz">breeze-icons-5.247.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d1a27bb2f85c39d2c50ca688a852b21480a95a68317d61d1ff627262ec7c0e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/extra-cmake-modules-5.247.0.tar.xz">extra-cmake-modules-5.247.0</a></td>
   <td align="right">329kB</td>
   <td><tt>9f3fa7e4e88ecc06f202698d5378bdf10c413d8a8d77b384e4a099d717754d65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/frameworkintegration-5.247.0.tar.xz">frameworkintegration-5.247.0</a></td>
   <td align="right">52kB</td>
   <td><tt>e87dbc2a624360c3611b0a503790fe33e5d05cff44f25acdf8a7102aaaeb8615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kapidox-5.247.0.tar.xz">kapidox-5.247.0</a></td>
   <td align="right">194kB</td>
   <td><tt>7ddc6b7081b16da354eff5f7df80eb5015f25f114af4b7ce2be775276aa52bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/karchive-5.247.0.tar.xz">karchive-5.247.0</a></td>
   <td align="right">1002kB</td>
   <td><tt>50e4f901f276a12b4442e68ccdb3dd192d0e35a2085cb9decd37fb4b837bc97d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kauth-5.247.0.tar.xz">kauth-5.247.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>222076b307f0a34d1f42b97df8398584fa456cd1962292dbf797b144d4a0e43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kbookmarks-5.247.0.tar.xz">kbookmarks-5.247.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c3409c496090fc028a05f9054113606a3495202cd43b0384ff44618f8f578000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcalendarcore-5.247.0.tar.xz">kcalendarcore-5.247.0</a></td>
   <td align="right">254kB</td>
   <td><tt>027b13d7ebd2389a717479b3d0a6ff0eb76fc30239ef25424c593ddb5a7c7f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcmutils-5.247.0.tar.xz">kcmutils-5.247.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>148adef410fe1754eb12b70ef5e370d2debb09355cf3a70461783babf63ccbe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcodecs-5.247.0.tar.xz">kcodecs-5.247.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5f69d5d7bb7c883e8b88d121f243ff38d1e601a5d1e597ed0dcf61a7a244ec6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcolorscheme-5.247.0.tar.xz">kcolorscheme-5.247.0</a></td>
   <td align="right">42kB</td>
   <td><tt>ce4afae71380ca76ec232e5c6c50f449e16af46e43024b68509873b1178972c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcompletion-5.247.0.tar.xz">kcompletion-5.247.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0aa0496c3cef564d3d610ca7f13347f9f0ef80b71100ac4fb2fc03ea3e04d0a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kconfig-5.247.0.tar.xz">kconfig-5.247.0</a></td>
   <td align="right">285kB</td>
   <td><tt>ddc8e845b601f50a2d31e7a2fbff068a96cab59171b12905941f000221da7b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kconfigwidgets-5.247.0.tar.xz">kconfigwidgets-5.247.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>44b07f66519e44d37d66a1cefdafd6748885b7ec79d596cbc46afc56a1a3d7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcontacts-5.247.0.tar.xz">kcontacts-5.247.0</a></td>
   <td align="right">202kB</td>
   <td><tt>424963ae9501115a5e4172d9f9433f7824745d732a6760560aa4b93ed7aea176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcoreaddons-5.247.0.tar.xz">kcoreaddons-5.247.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>795b73ac664d1ed5fe202a062674f86ec6fd9a64108c74814c0d64212f5b5701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kcrash-5.247.0.tar.xz">kcrash-5.247.0</a></td>
   <td align="right">28kB</td>
   <td><tt>b3b73004bc4c32e0f79fe567727c88984c4405be4193d714db83d1cad4eff02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kdav-5.247.0.tar.xz">kdav-5.247.0</a></td>
   <td align="right">65kB</td>
   <td><tt>b418e06d25279f31833deb85764f32c6180e411fb9c56bd81c83b06614b225ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kdbusaddons-5.247.0.tar.xz">kdbusaddons-5.247.0</a></td>
   <td align="right">44kB</td>
   <td><tt>9e13871594d5951ced2ba88ea6c1b0f2f43ce4a94afb7ea84cbb0569178e6720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kdeclarative-5.247.0.tar.xz">kdeclarative-5.247.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a6a4c10e4af611809eb3b5f89c3499677a33481c5b5264e1003698ba9b97df01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kded-5.247.0.tar.xz">kded-5.247.0</a></td>
   <td align="right">31kB</td>
   <td><tt>b653417ca80891ebab342c29dee62e5d6e33cf1f0ccf8801fda0b8e58b1b038f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kdesu-5.247.0.tar.xz">kdesu-5.247.0</a></td>
   <td align="right">55kB</td>
   <td><tt>bbadcfc3c632dc051a7b714b33126e80236cc674fa3fddadee967da918074be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kdnssd-5.247.0.tar.xz">kdnssd-5.247.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>76408bf094306ffd5caa6307b8d46ab28c0603847e6fa3f3aca62b1085ce2d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kdoctools-5.247.0.tar.xz">kdoctools-5.247.0</a></td>
   <td align="right">449kB</td>
   <td><tt>51434d1348c389856c29bca3c530806544fd679c27200187ad2ce4eb726cf2a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kfilemetadata-5.247.0.tar.xz">kfilemetadata-5.247.0</a></td>
   <td align="right">546kB</td>
   <td><tt>70b470d97885f609443d04f5a0c4dd357f806487b22295cceee989fc1d72489f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kglobalaccel-5.247.0.tar.xz">kglobalaccel-5.247.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>41668826f2f4b6796672d3f291cf75252db88af65a1b2bc62fe95fdd59d0405e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kguiaddons-5.247.0.tar.xz">kguiaddons-5.247.0</a></td>
   <td align="right">79kB</td>
   <td><tt>ba035a69d642297e6aebd826c631680a3c588e8d2744d3629b5134c30ff58835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kholidays-5.247.0.tar.xz">kholidays-5.247.0</a></td>
   <td align="right">246kB</td>
   <td><tt>d8837c7eb6a6a25ca367c2ecd24971f1beaf718a60cbbab2d2bf0be5f2ca360a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/ki18n-5.247.0.tar.xz">ki18n-5.247.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>52ec5d7e09bd61cfd722aa9561940a213c3b7f44bf61d73966d057d206b6f40d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kiconthemes-5.247.0.tar.xz">kiconthemes-5.247.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b8f8dd4ab3af70d063845560fad12132c9b283c575ede71c944f8b1a96c4036c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kidletime-5.247.0.tar.xz">kidletime-5.247.0</a></td>
   <td align="right">30kB</td>
   <td><tt>878876020456ecd0298fc2ed009d4bb18e20273be46d9df220557b2bdb58518e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kimageformats-5.247.0.tar.xz">kimageformats-5.247.0</a></td>
   <td align="right">15MB</td>
   <td><tt>73c3326e50c8b5c4a31fe0dd46e1f74139cf4604cac3e6277a985c58d6ba23c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kio-5.247.0.tar.xz">kio-5.247.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>6aad5b2220c39b7314dead8814196dcf0515d73d435c713f3b268fc2f2e949e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kirigami-5.247.0.tar.xz">kirigami-5.247.0</a></td>
   <td align="right">357kB</td>
   <td><tt>1f71abdcab2108b699881060cb723d8d9934c2e98b264901cccbf41d8e42b7d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kitemmodels-5.247.0.tar.xz">kitemmodels-5.247.0</a></td>
   <td align="right">389kB</td>
   <td><tt>8264ec5ce6b5aa8867a40d27db4a99af1d86f1298e38264ce4130ee382d54690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kitemviews-5.247.0.tar.xz">kitemviews-5.247.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2348f80dad6eeefece0207d992ad591534b0fd6b3f5cb5153d1f3a48df5d4af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kjobwidgets-5.247.0.tar.xz">kjobwidgets-5.247.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0e39b465e6073757fb92ebdfc68b400cc2b37f3e28c343997d8fe2528cfb2a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/knewstuff-5.247.0.tar.xz">knewstuff-5.247.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d6d2dbacade38c8e762bf5d6337cb7dd2c11479eaa028f751584e8efc98da570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/knotifications-5.247.0.tar.xz">knotifications-5.247.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b5afc48becfe6778219613e41c4350b8f23ac6376f6d5f8ac5616a6702f9fe7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/knotifyconfig-5.247.0.tar.xz">knotifyconfig-5.247.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4ad788397f926fca627cb98825cef510e49a2740f18c99b37fe042ce8bf822aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kpackage-5.247.0.tar.xz">kpackage-5.247.0</a></td>
   <td align="right">174kB</td>
   <td><tt>e6e4c8acc9c64569c1ca6e6d8ceba6de730e17c4e7100bc1d756453ac0b61574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kparts-5.247.0.tar.xz">kparts-5.247.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ea6d7e20b282d3f25a5be379a0fab2cf058a515f169c7270479c807413932aa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kpeople-5.247.0.tar.xz">kpeople-5.247.0</a></td>
   <td align="right">62kB</td>
   <td><tt>f427f47531c5700825a428335ad962f6a709617b2a802deff081a45a4abec50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kplotting-5.247.0.tar.xz">kplotting-5.247.0</a></td>
   <td align="right">32kB</td>
   <td><tt>8f84fd8b27fb82618ce26541a1910f766594e3b7fca134be82b12c0ff1f42b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kpty-5.247.0.tar.xz">kpty-5.247.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>62c905e756a6b88e42b2f0088728f55de5443bdcc02368db7d3c68d8417f54a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kquickcharts-5.247.0.tar.xz">kquickcharts-5.247.0</a></td>
   <td align="right">107kB</td>
   <td><tt>e5ae80db1a96fd416805f8fbb47c6150cfb4011d6229c0552684058c53f7df46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/krunner-5.247.0.tar.xz">krunner-5.247.0</a></td>
   <td align="right">128kB</td>
   <td><tt>9a1ddbcc3803fc07cc422c9710a9a7d133af50f94a15b643dd744fd3e50a50c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kservice-5.247.0.tar.xz">kservice-5.247.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>fe336f7f2ee3e945afacdcaeb619bb8ba2796780ccb3c944e2c2103c1d613bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kstatusnotifieritem-5.247.0.tar.xz">kstatusnotifieritem-5.247.0</a></td>
   <td align="right">44kB</td>
   <td><tt>965c832cbec5fb0523b0d32af013a7dcc5d456f2551f7fa3f8beb6bb40dbae25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/ksvg-5.247.0.tar.xz">ksvg-5.247.0</a></td>
   <td align="right">86kB</td>
   <td><tt>7009a82fcfe1c43b62187f9ec81b8d1f39da507eb329fc96d143a7748dece64a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/ktexteditor-5.247.0.tar.xz">ktexteditor-5.247.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>218238c1bd01c6403fd35a12b513a7a5fc91bc8b3e32785e35faab6211191911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/ktexttemplate-5.247.0.tar.xz">ktexttemplate-5.247.0</a></td>
   <td align="right">827kB</td>
   <td><tt>f94a996e778d38d31802d24a23d4c46144c2fe2ac643fe367a90c360033d4174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/ktextwidgets-5.247.0.tar.xz">ktextwidgets-5.247.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>da82f555f1af642e7b3f8468acb7a4019934bee8a2e672c2b91d8c56276faba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kunitconversion-5.247.0.tar.xz">kunitconversion-5.247.0</a></td>
   <td align="right">893kB</td>
   <td><tt>176a77bab0675d8673cf00e4c3536206dc73708f2e1661c95c6bef908e0746e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kuserfeedback-5.247.0.tar.xz">kuserfeedback-5.247.0</a></td>
   <td align="right">233kB</td>
   <td><tt>97eeb33392187f1bf7a655eefc5bb2c5af2976c8000d9b8684d728e405b91f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kwallet-5.247.0.tar.xz">kwallet-5.247.0</a></td>
   <td align="right">341kB</td>
   <td><tt>68f44a6a66c371f1854ee15fb2d85b54cf0d032b11f61e6db40df482cc112871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kwidgetsaddons-5.247.0.tar.xz">kwidgetsaddons-5.247.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3bf42feac70e1cc07033a12e33248723d9fd1a0975596c88372b893ff7daa701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kwindowsystem-5.247.0.tar.xz">kwindowsystem-5.247.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>23c7654dbcd0590c508d41d8fb56e7d812852ad2404f7229f787e271abfef99b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/kxmlgui-5.247.0.tar.xz">kxmlgui-5.247.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2dc6be0261c0627e8a7a0b61789bb6a8c8e85435e11b602a12b8bd10ae720ea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/modemmanager-qt-5.247.0.tar.xz">modemmanager-qt-5.247.0</a></td>
   <td align="right">118kB</td>
   <td><tt>5f7500a0754d918a8b51afba042c4b14260be6e02ae06832f23b5286a7429aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/networkmanager-qt-5.247.0.tar.xz">networkmanager-qt-5.247.0</a></td>
   <td align="right">195kB</td>
   <td><tt>3b9432e8b17114872f695c6973def587eb63aaf6e8270274842c5cf8a56b7956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/prison-5.247.0.tar.xz">prison-5.247.0</a></td>
   <td align="right">54kB</td>
   <td><tt>7f6d3ebd0a033bf3d483d574be7de7086eeb7e588ae927f9783668036cc678b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/purpose-5.247.0.tar.xz">purpose-5.247.0</a></td>
   <td align="right">170kB</td>
   <td><tt>8703ce59d6157d3760658e493b3fa95ece52ce843e392977b79283298bc18644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/qqc2-desktop-style-5.247.0.tar.xz">qqc2-desktop-style-5.247.0</a></td>
   <td align="right">75kB</td>
   <td><tt>1065115596d29a4c36108c5c4976e398e7a7e48d05dec4d98a8f0ec4a02a3dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/solid-5.247.0.tar.xz">solid-5.247.0</a></td>
   <td align="right">298kB</td>
   <td><tt>8e95ad9900259a6952c4626f19b2b879310024b61847abdbe7f663de7730ee4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/sonnet-5.247.0.tar.xz">sonnet-5.247.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e0fc4f5eddbfbc687c697417bf0f6782ac8e7589908d80bc3572d7bac3a956e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/syndication-5.247.0.tar.xz">syndication-5.247.0</a></td>
   <td align="right">498kB</td>
   <td><tt>9618a44ac786d95f3044d06d83177f2f6f51b44182de6cb85281014e9b359f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/syntax-highlighting-5.247.0.tar.xz">syntax-highlighting-5.247.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b3a2c46daf3b6435209e0cffbe46604f2899bb870606fbc532c8c2959e525a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/frameworks/5.247.0/threadweaver-5.247.0.tar.xz">threadweaver-5.247.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e1ce74beb64a3fcd05bd527e84ceb3910d5e45852bf1f6f49c7138b9e737f1a7</tt></td>
</tr>

</table>
