{{ define "main" }}
<main>
  <div class="container">
    <div class="text-center my-5 mx-auto" style="max-width: 800px">
      <h1 class="display-1">
        {{ .Title }}
      </h1>
      <p class="h3">{{ .Description }}</p>
    </div>
  </div>

  <div class="position-relative">
    <div class="slim-background"></div>
    <div class="header-background"></div>
    <div class="d-flex" id="features-hero">
      <div class="col-md-6"></div>
      <div class="col-md-6 d-flex flex-column">
        <div class="mt-auto my-lg-auto backdrop-blur d-flex flex-column">
          <h2 class="px-3 mt-4 krita-title">{{ .Params.krita.title | safeHTML }}</h2>
          <p class="text-left mb-3 px-3">
            {{ .Params.krita.description | safeHTML }}
          </p>
          <div class="d-flex gap-3 mb-4 px-3">
              <a href="https://krita.org/en/download/" class="btn btn-primary btn-lg ms-auto ms-md-0">{{ i18n "get-it" }}</a>
            <a href="https://fund.krita.org" class="btn btn-primary btn-lg ms-md-0">{{ i18n "fund-it" }}</a>
            <a href="https://krita.org" class="btn btn-primary btn-lg">{{ i18n "learn-more" }}</a>
          </div>
        </div>
      </div>
    </div>
    <svg width="0" height="0">
    <defs>
    <clipPath id="header-decoration-clip" clipPathUnits="objectBoundingBox">
    <polygon points="0 0, 1 0.67, 1 1, 0 .12"></polygon>
    </clipPath>
    </defs>
    </svg>
    <svg width="0" height="0">
  <defs>
  <clipPath id="slim-header-clip" clipPathUnits="objectBoundingBox">
  <polygon points="0 0, 1 0, 1 1, 0 .4"></polygon>
  </clipPath>
  </defs>
  </svg>
  </div>
  <div class="krita-credits">{{ i18n "art-by" }} <a href="https://krita-artists.org/u/sonny/activity/portfolio">Sonny</a></div>
  {{ .Content }}
</main>
{{ end }}
