{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    <div class="jumbotron">
      <div class="content-width">
        {{ if .Params.header_image_link }}
        <img src="{{ .Params.header_image_link }}" alt="" class="konqi">
        {{ end }}
        <h1 class="page-header">{{ .Title }}&nbsp;{{ partial "rss_section.html" . }}</h1>
        {{ with .Params.subtitle }}
        <h4>{{ . }}</h4>
        {{ end }}
      </div>

    </div>

    <div class="content-width">
      {{ with .Content }}
        {{ . }}
      {{ end }}

      {{ if not .Params.nosubpage }}
        <div class="row">

          {{- $pages := where .RegularPagesRecursive "Params.hidden" "ne" "true" }}
          {{- if ne .Site .Sites.First }}
            {{ $pages = $pages | lang.Merge (where (index .AllTranslations 0).RegularPagesRecursive "Params.hidden" "ne" "true") }}
          {{- end }}
          {{- range (.Paginate $pages 10).Pages }}
            <div class="col-12 mb-5">
              <h3 class="mt-1"><a href="{{ .RelPermalink }}">{{ partial "fn/i18n_title" . }}</a></h3>
              <span class="h5 text-muted">{{ if .Params.date }}{{ partial "i18n_date.html" . }}{{ end }}</span>
              <p class="post-entry mt-2">
                {{ partial "fn/i18n_description" . }}
                 <a href="{{ .RelPermalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
              </p>
            </div>
          {{ end }}
        </div>

        {{ template "_internal/pagination.html" . }}
      </div>
    {{ end }}
  </article>
</main>
{{ end }}
