<div>
  {{ with .Get "logo" }}<img src="{{ . }}" class="mt-5" height=96 width=96>{{ end }}
  <div class="colorful-heading" {{ with .Get "id" }}id="{{ . }}"{{ end }} >
    <h2 class="{{ with .Get "class" }}{{ . }}{{ end }}">{{ .Get "content" }}</h2>
  </div>
</div>
